<template>
  <section
    class="kardex"
    v-if="docente">
    <!--{{ docente }}-->
    <h2 class="text-xs-center">UNIVERSIDAD MAYOR DE SAN ÁNDRES</h2>
    <h1 class="text-xs-center">POSTGRADO EN CIENCIAS DEL DESARROLLO</h1>
    <h4 class="text-xs-center">CIDES - UMSA</h4>
    <h3 class="text-xs-center" >CURRICULUM ACADEMICO DE DOCENTES</h3>
    <h5 class="text-xs-center"> BASE DE DATOS - ANTECEDENTES ACADEMICOS DOCENTES CIDES - UMSA</h5>
    <v-card-text class="pt-0">
      <v-container grid-list-md fluid>
        <h1>I. Datos Generales</h1> 

        <v-layout row wrap>
          <v-flex xs6>
            <div v-if="!docente.id_foto || editFoto"> 
              <FileUpload
              :url="urlUpload"
              types=".jpg,.jpeg,.png,.gif"
              name="foto"
              :max-files=1
              :form="formUpload"
              :onSuccess="uploadPhoto"
              label="Adjuntar foto"/>
              <v-btn v-if="docente.id_foto" @click="editFoto = false">Cancelar</v-btn>
            </div>
            <div 
              v-else
              class="usuario-foto">
              <img :src="urlFiles + docente.foto.filename" alt="Foto" />
              <v-btn @click="editFoto = true">Cambiar</v-btn>
            </div>
          </v-flex>

          <v-flex xs6>
            <v-text-field
            label = "Apellidos"
            v-model="docente.persona.primer_apellido"
            disabled>
            </v-text-field>
          </v-flex>  

          <v-flex xs6>
            <v-text-field
            label = "Nombres"
            v-model="docente.persona.nombres"
            disabled>
            </v-text-field>
          </v-flex>  
        </v-layout>

        <v-layout row wrap>
          <v-flex xs4>
          <v-select
              :items="tiposDoc"
              v-model="docente.persona.tipo_documento"
              label="Tipo de Documento"
              item-text="text"
              item-value="value"
              disabled>
            </v-select>
          </v-flex>
          
          <v-flex xs4>
            <v-text-field
              label = "Nro. Documento"
              v-model="docente.persona.nro_documento"
              disabled>
            </v-text-field>
          </v-flex>

          <v-flex xs4>
            <v-text-field
              label = "Lugar de Expedición"
              v-model="docente.persona.lugar_exp"
              disabled>
            </v-text-field>
          </v-flex>
        </v-layout>
        
        <!--<v-layout>        
          <v-flex xs4 >
            <v-radio-group
              label = "Genero: "
              v-model="docente.persona.genero"
              row
              disabled>
                <v-radio
                  label="Mujer"
                  value="F"
                ></v-radio>
                <v-radio
                  label="Hombre"
                  value="M"
                ></v-radio>
            </v-radio-group>
          </v-flex>
            
          <v-flex>
            <v-radio-group
              label = "Estado Civil: "
              v-model="docente.kardex.estado_civil"
              row>
                <v-radio
                  label="Soltero"
                  value="SOLTERO"
                ></v-radio>
                <v-radio
                  label="Casado"
                  value="CASADO"
                ></v-radio>
                <v-radio
                  label="Viudo"
                  value="VIUDO"
                ></v-radio>
                <v-radio
                  label="Divorciado"
                  value="DICORCIADO"
                ></v-radio>
            </v-radio-group>
          </v-flex>   
        </v-layout>-->

        <v-layout row wrap>
          <v-flex xs6>
            <v-text-field
              label = "Lugar de Nacimiento"
              v-model="docente.persona.lugar_nacimiento"
              disabled>
            </v-text-field>
          </v-flex>

          <v-flex xs6>
            <v-text-field
              label = "Fecha de Nacimiento"
              v-model="docente.persona.fecha_nacimiento"
              disabled>
            </v-text-field>
          </v-flex>

          <!--<v-flex xs12>
            <v-radio-group
                label = "Área de Nacimiento: "
                v-model="docente.kardex.area_nacimiento"
                row>
              <v-radio
                label="Urbano"
                value="URBANO"
              ></v-radio>
              <v-radio
                label="Rural"
                value="RURAL"
              ></v-radio>
              <v-radio
                label="Urbano Provincial"
                value="URBANO_RURAL"
              ></v-radio>
            </v-radio-group>
          </v-flex> 

          <v-flex xs12>
            <v-radio-group
              label = "Si es extranjero tiene residencia? :  "
              v-model="docente.kardex.residencia"
              row>
                <v-radio
                  label="SI"
                  value="SI"
                ></v-radio>
                <v-radio
                  label="NO"
                  value="NO"
                ></v-radio>
            </v-radio-group>
          </v-flex> -->
          
          <h2>Datos de su Domicilio</h2>
          <v-flex xs12>
            <v-text-field
              label = "Dirección"
              v-model="docente.persona.direccion"
              disabled>
            </v-text-field>
          </v-flex>
          
          <v-flex xs6>
            <v-text-field
              label = "Teléfono"
              v-model="docente.persona.telefono"
              disabled>
            </v-text-field>
          </v-flex>

           <v-flex xs6>
            <v-text-field
              label = "Móvil"
              v-model="docente.persona.movil"
              disabled>
            </v-text-field>
          </v-flex>

          <v-flex xs12>
            <v-text-field
              label = "Email(Personal)"
              v-model="docente.email"
              disabled>
            </v-text-field>
          </v-flex>

          <h2>Datos Lugar de Trabajo </h2>
          <v-flex xs12>
            <v-text-field
              label = "20. Razón Social"
              v-model="docente.kardex.razon_social"
              class="uppercase">
            </v-text-field>
          </v-flex>
          
          <v-flex xs12>
            <v-text-field
              label = "21. Dirección"
              v-model="docente.kardex.t_direccion"
              class="uppercase">
            </v-text-field>
          </v-flex>

          <v-flex xs6>
            <v-text-field
              label = "22. Teléfono"
              v-model="docente.kardex.t_telefono"
              @keydown="$filter.integer($event)"
              maxlength="15">
            </v-text-field>
          </v-flex>

          <v-flex xs6>
            <v-text-field
              label = "23. Email(Institucional)"
              v-model="docente.kardex.t_email">
            </v-text-field>
          </v-flex>
        </v-layout>

        <h2>II. Titulos Acádemicos </h2>
        <v-btn
            small 
            @click="agregarTitulo"
            color="primary"> <v-icon small>add</v-icon>Agregar</v-btn>
          <v-layout
            row 
            wrap
            v-for="(titulo, index) in docente.kardex.d_titulos"
            :key="index">
             <v-flex xs2>
              <v-text-field          
              label="Nivel"
              v-model="titulo.nivel"
              :rules="$validate(['required'])"
              required
              class="required"
              >                  
              </v-text-field>
            </v-flex>

            <v-flex xs4>
              <v-text-field          
                label="Título Academico"
                v-model="titulo.nombre"
                :rules="$validate(['required'])"
                required
                class="required"
                >                  
            </v-text-field>
            </v-flex>

            <v-flex xs4>                    
              <v-text-field          
                label="Universidad/Institución"
                v-model="titulo.universidad"
                :rules="$validate(['required'])"
                required
                class="required"
                >                  
              </v-text-field>
            </v-flex>
            
            <v-flex xs1>
              <v-text-field          
              label="Año de Titulación"
              v-model="titulo.anio"
              @keydown="$filter.integer($event)"
              maxlength="4"
              :rules="$validate(['required'])"
              required
              class="required">                  
              </v-text-field>
            </v-flex>

            <v-flex xs1>
              <v-btn 
                icon 
                @click="eliminarTitulo(index)"
                small>
                <v-icon color="error">delete</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>

          <h2>III. Experiencia de Docencia de Pregrado</h2>
          <v-btn
            small
            @click="agregarPregrado"
            color="primary">
            <v-icon small>add</v-icon>Agregar
          </v-btn>
          <v-layout
          row
          wrap
          v-for="(pregrado, index) in docente.kardex.d_pregrados"
          :key="index">
          <v-flex xs4>
            <v-text-field
              label="Materia/Asignatura o Módulo"
              v-model="pregrado.materia">
            </v-text-field>
          </v-flex>

          <v-flex xs3>
            <v-text-field
            label="Facultad/Carrera"
            v-model="pregrado.facultad"
            ></v-text-field>
          </v-flex>

          <v-flex xs3>
            <v-text-field
            label="Universidad/Institución"
            v-model="pregrado.institucion"> 
            </v-text-field>
          </v-flex>

          <v-flex xs1>
            <v-text-field
            label="Año"
            v-model="pregrado.desde"
            @keydown="$filter.integer($event)"
            maxlength="4">
            </v-text-field>
          </v-flex>
          
          <v-flex xs1>
            <v-btn
            icon
            @click="eliminarPregrado(index)"
            small>
            <v-icon color="error">delete</v-icon>
            </v-btn>
          </v-flex>
           </v-layout>

          <h2>IV. Experiencia de Docencia e Investigación en Postgrado</h2>
          <v-btn
          small 
          @click="agregarPostgrado"
          color="primary"> <v-icon small>add</v-icon>Agregar</v-btn>
          <v-layout
            row
            wrap
            v-for="(postgrado, index) in docente.kardex.d_postgrados"
            :key="index">
          
            <v-flex sx3>
              <v-text-field
              label="Módulo"
              v-model="postgrado.modulo"
              >
              </v-text-field>
            </v-flex>
            <v-flex sx3>
              <v-text-field
              label="Programa(Diplomado/Maestría/Doctorado/Otros)"
              v-model="postgrado.programa"
              >
              </v-text-field>
            </v-flex>
            <v-flex sx3>
              <v-text-field
              label="Universidad/Institución"
              v-model="postgrado.universidad"
              >
              </v-text-field>
            </v-flex>
            <v-flex xs1>
              <v-text-field
              label="Año"
              v-model="postgrado.anio"
              @keydown="$filter.integer($event)"
              maxlength="4">
              </v-text-field>
            </v-flex>

            <v-flex xs1>
              <v-btn
              icon
              small
              @click="eliminarPostgrado(index)">
              <v-icon color= "error">delete</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>

          <h2>V. Producción Intelectual</h2>
          <v-btn
          small 
          @click="agregarProduccion"
          color="primary"><v-icon small>add</v-icon>Agregar</v-btn>
          <v-layout
            row
            wrap
            v-for="(produccion, index) in docente.kardex.d_pintelectual"
            :key="index">
          
            <v-flex sx3>
              <v-text-field
              label="Tipo(Artículos/Libros/Monografías/otros)"
              v-model="produccion.tipo"
              :rules="$validate(['required'])"
              required
              class="required">
              </v-text-field>
            </v-flex>
            <v-flex sx3>
              <v-text-field
              label="Título"
              v-model="produccion.titulo"
              :rules="$validate(['required'])"
              required
              class="required">
              </v-text-field>
            </v-flex>
            
            <v-flex xs1>
              <v-text-field
              label="Año de Edición"
              v-model="produccion.anio"
              @keydown="$filter.integer($event)"
              maxlength="4"
              :rules="$validate(['required'])"
              required
              class="required">
              </v-text-field>
            </v-flex>

            <v-flex xs1>
              <v-btn
              icon
              small
              @click="eliminarProduccion(index)">
              <v-icon color= "error">delete</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>

          <h2>VI. Tutor de Tesis</h2>
          <v-btn
          small 
          @click="agregarCursor"
          color="primary"><v-icon small>add</v-icon>Agregar</v-btn>
          <v-layout
            row
            wrap
            v-for="(cursor, index) in docente.kardex.d_cursosr"
            :key="index">
          
            <v-flex xs4>
              <v-text-field
              label="Nombre de la tesis"
              v-model="cursor.nombre"
              >
              </v-text-field>
            </v-flex>
            <v-flex xs2>
              <v-text-field
              label="Grado"
              v-model="cursor.grado">
              </v-text-field>
            </v-flex>

            <v-flex xs4>
              <v-text-field
              label="Universidad/Institución"
              v-model="cursor.universidad"
              >
              </v-text-field>
            </v-flex>

            <v-flex xs1>
              <v-text-field
              label="Año"
              v-model="cursor.anio"
              @keydown="$filter.integer($event)"
              maxlength="4">
              </v-text-field>
            </v-flex>

            <v-flex xs1>
              <v-btn
              icon
              small
              @click="eliminarCursor(index)">
              <v-icon color= "error">delete</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>

          <h2>VII. Areas y Tematicas que le interesan para dar clases en el CIDES</h2>
          
          <v-layout row wrap>
            <v-flex xs11>
              <v-select
                :items="tematicas"
                v-model="docente.kardex.d_tematica"
                label="Área"
                item-text="nombre"
                item-value="codigo"
                chips
                multiple
                solo
                :rules="$validate(['required'])"
                required
                class="required"
                >
              </v-select>
            </v-flex>  
          </v-layout>
          
          <h2>Temas de mayor experiencia (En los cuales le gustaria dar clases):</h2>
          <v-btn
          small 
          @click="agregarCursod"
          color="primary"><v-icon small>add</v-icon>Agregar</v-btn>
          <v-layout
            row
            wrap
            v-for="(cursod, index) in docente.kardex.d_cursosd"
            :key="index">
          
            <v-flex sx3>
              <v-text-field
              label="Tema génerico"
              v-model="cursod.tema"
              >
              </v-text-field>
            </v-flex>

            <v-flex sx3>
              <v-text-field
              label="Específico"
              v-model="cursod.especifico"
              >
              </v-text-field>
            </v-flex>

            <v-flex xs1>
              <v-btn
              icon
              small
              @click="eliminarCursod(index)">
              <v-icon color= "error">delete</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>
      </v-container>
    </v-card-text>
    <v-card-actions>
      <small class="error--text text-required">* Los campos son obligatorios</small>
      <v-spacer></v-spacer>
      <v-btn @click="imprimirFormulario(idUsuario)" color="primary" v-if="flagSave"><v-icon>print</v-icon> IMPRIMIR FOMULARIO</v-btn>
      <v-btn v-if="!$util.isRol('DOCENTE')" color = "Orange" @click="$router.push('/docentes');"><v-icon>undo</v-icon>ATRÁS</v-btn>
      <!--<v-btn @click="$store.commit('closeModal');"><v-icon>cancel</v-icon> {{$t('common.cancel') }}</v-btn>-->
      <v-btn color="primary" type="submit" @click= "saveKardex();"><v-icon>check</v-icon> {{$t('common.save') }}</v-btn>
    </v-card-actions>
  </section>  
</template>
<script>
import listas from './../mixins/listas';
import validate from '@/common/mixins/validate';
import FileUpload from '@/common/util/FileUpload';
export default {
  mixins: [listas, validate],
  components: {
    FileUpload
  },
  data () {
    return {
      editFoto: false,
      urlFiles: process.env.UPLOAD_URL,
      urlUpload: `${this.$apiUrl}system/usuario/foto/upload`,
      formUpload: {idUsuario: null},
      tiposDoc: [
        { value: 'CI', text: 'CÉDULA DE IDENTIDAD' },
        { value: 'PASAPORTE', text: 'PASAPORTE' }
      ],
      tiposTematica: [
        { value: 'DESARROLLO ECONÓMICO Y SOCIAL', text: 'DESARROLLO ECONÓMICO Y SOCIAL' },
        { value: 'TRANSFORMACIONES TERRITORIALES Y AMBIENTALES', text: 'TRANSFORMACIONES TERRITORIALES Y AMBIENTALES' },
        { value: 'FILOSOFÍA Y CIENCIA POLÍTICA', text: 'FILOSOFÍA Y CIENCIA POLÍTICA' },
        { value: 'METODOLOGÍAS DE INVESTIDACIÓN (TALLERES DE TESIS)', text: 'METODOLOGÍAS DE INVESTIDACIÓN (TALLERES DE TESIS)' }
      ],
      docente: null,
      idKardex: null,
      queryAgregarKardex: `
        mutation crear ($kardex: NewKardex!) {
          kardexAdd(kardex: $kardex) {
            id
          }
        }
      `,
      queryActualizarUsuario: `
        mutation actualizar ($id: ID!, $usuario: EditUsuario!) {
          usuarioUpdate(id: $id, usuario: $usuario) {
            id
          }
        }
      `,
      queryDocente: `
        query docente ($id: ID!) {
          usuario (id: $id) {
            id
            usuario
            email
            persona {
              nombres
              primer_apellido
              segundo_apellido
              nombre_completo
              tipo_documento
              nro_documento
              lugar_exp
              genero
              lugar_nacimiento
              fecha_nacimiento
              direccion
              telefono
              movil
            } 
            id_kardex
            kardex {
              area_nacimiento
              residencia
              casilla
              razon_social
              t_direccion
              t_telefono
              t_email
              edad
              estado_civil
              d_titulos,
              d_pregrados,
              d_postgrados,
              d_pintelectual,
              d_cursosr,
              d_cursosd,
              d_experiencia,
              d_lineas,
              d_tematica
            }
            id_foto 
            foto {
              id
              filename
            }
          }
        }
      `,
      d_titulos: [
        {
          nivel: '',
          nombre: '',
          universidad: '',
          anio: ''
        }
      ],
      d_pregrados: [
        {
          materia: '',
          facultad: '',
          institucion: '',
          desde: ''
        }
      ],
      d_postgrados: [
        {
          modulo: '',
          programa: '',
          universidad: '',
          anio: ''
        }
      ],
      d_pintelectual: [
        {
          tipo: '',
          titulo: '',
          anio: ''
        }
      ],
      d_cursosr: [{
        nombre: '',
        grado: '',
        universidad: '',
        anio: ''
      }],
      d_cursosd: [{
        tema: '',
        especifico: ''
      }],
      d_experiencia: [{
        empresa: '',
        cargo: '',
        desde: '',
        hasta: ''
      }],
      d_lineas: [{
        linea: ''
      }],
      tematicas: [],
      flagSave: false
    };
  },
  created () {
    this.getDocente(this.$route.params.id);
    this.idUsuario = this.$route.params.id;
    this.formUpload.idUsuario = this.idUsuario;
    this.tematicas = [];
    this.getConstantes('TEMATICA', 'tematicas');
  },
  methods: {
    uploadPhoto (file, response) {
      console.log('Upload!!', file, response);
      if (this.docente && this.docente.id_foto) {
        this.docente.foto.filename = response.filename;
        this.getDocente.foto.id = response.id;
        this.editFoto = false;
      }
    },

    agregarTitulo () {
      this.docente.kardex.d_titulos.push({
        nivel: '',
        nombre: '',
        universidad: '',
        anio: ''
      });
    },
    eliminarTitulo (index) {
      this.docente.kardex.d_titulos.splice(index, 1);
    },

    agregarPregrado () {
      this.docente.kardex.d_pregrados.push({
        materia: '',
        facultad: '',
        institucion: '',
        desde: ''
      });
    },

    eliminarPregrado (index) {
      this.docente.kardex.d_pregrados.splice(index, 1);
    },

    agregarPostgrado () {
      this.docente.kardex.d_postgrados.push({
        modulo: '',
        programa: '',
        universidad: '',
        anio: ''
      });
    },

    eliminarPostgrado (index) {
      this.docente.kardex.d_postgrados.splice(index, 1);
    },

    agregarProduccion () {
      this.docente.kardex.d_pintelectual.push({
        tipo: '',
        titulo: '',
        anio: ''
      });
    },

    eliminarProduccion (index) {
      this.docente.kardex.d_pintelectual.splice(index, 1);
    },

    agregarCursor () {
      this.docente.kardex.d_cursosr.push({
        nombre: '',
        grado: '',
        universidad: '',
        anio: ''
      });
    },

    eliminarCursor (index) {
      this.docente.kardex.d_cursosr.splice(index, 1);
    },

    agregarCursod () {
      this.docente.kardex.d_cursosd.push({
        nombre: '',
        universidad: '',
        fecha: '',
        hora: ''
      });
    },

    eliminarCursod (index) {
      this.docente.kardex.d_cursosd.splice(index, 1);
    },
    agregarExperiencia () {
      this.docente.kardex.d_experiencia.push({
        empresa: '',
        cargo: '',
        desde: '',
        hasta: ''
      });
    },

    eliminarExperiencia (index) {
      this.docente.kardex.d_experiencia.splice(index, 1);
    },

    agregarLinea () {
      this.docente.kardex.d_lineas.push({
        linea: ''
      });
    },

    eliminarLinea (index) {
      this.docente.kardex.d_lineas.splice(index, 1);
    },
    getDocente (id) {
      console.log('prueba id', id);
      this.$service.graphql({
        query: this.queryDocente,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          console.log('respuesta: ', response.usuario);
          this.docente = response.usuario;
          if (!this.docente.id_kardex) {
            this.docente.kardex = {
              d_pregrados: this.d_pregrados,
              d_titulos: this.d_titulos,
              d_postgrados: this.d_postgrados,
              d_pintelectual: this.d_pintelectual,
              d_cursosr: this.d_cursosr,
              d_cursosd: this.d_cursosd,
              d_experiencia: this.d_experiencia,
              d_lineas: this.d_lineas
            };
            this.crearKardex();
          } else {
            if (!this.docente.kardex.d_pregrados) {
              this.docente.kardex.d_pregrados = this.d_pregrados;
            }
            if (!this.docente.kardex.d_titulos) {
              this.docente.kardex.d_titulos = this.d_titulos;
            }
            if (!this.docente.kardex.d_postgrados) {
              this.docente.kardex.d_postgrados = this.d_postgrados;
            }
            if (!this.docente.kardex.d_pintelectual) {
              this.docente.kardex.d_pintelectual = this.d_pintelectual;
            }
            if (!this.docente.kardex.d_cursosr) {
              this.docente.kardex.d_cursosr = this.d_cursosr;
            }
            if (!this.docente.kardex.d_cursosd) {
              this.docente.kardex.d_cursosd = this.d_cursosd;
            }
            if (!this.docente.kardex.d_experiencia) {
              this.docente.kardex.d_experiencia = this.d_experiencia;
            }
            if (!this.docente.kardex.d_lineas) {
              this.docente.kardex.d_lineas = this.d_lineas;
            }
            if (this.docente.kardex.d_tematica) {
              this.docente.kardex.d_tematica = (this.docente.kardex.d_tematica).split(',');
            }
          }
        }
      });
    },
    crearKardex () {
      this.$service.graphql({
        query: this.queryAgregarKardex,
        variables: {
          kardex: {}
        }
      }).then(response => {
        if (response) {
          this.docente.id_kardex = response.kardexAdd.id;
          this.actualizarUsuario();
        }
      });
    },
    actualizarUsuario () {
      this.$service.graphql({
        query: this.queryActualizarUsuario,
        variables: {
          id: this.docente.id,
          usuario: {
            id_kardex: parseInt(this.docente.id_kardex)
          }
        }
      }).then(response => {
      });
    },
    saveKardex () {
      if (this.docente.id_kardex) {
        console.log('save de objeto kardex', this.docente.id_kardex);
      }
      var arr = this.docente.kardex.d_tematica;
      arr = arr.join(',');
      this.docente.kardex.razon_social = (this.docente.kardex.razon_social || '').toUpperCase();
      this.docente.kardex.t_direccion = (this.docente.kardex.t_direccion || '').toUpperCase();
      // this.docente.kardex.d_titulos = (this.docente.kardex.d_titulos || '').toUpperCase();
      let data = {
        d_titulos: this.docente.kardex.d_titulos,
        d_pregrados: this.docente.kardex.d_pregrados,
        d_postgrados: this.docente.kardex.d_postgrados,
        d_pintelectual: this.docente.kardex.d_pintelectual,
        d_cursosr: this.docente.kardex.d_cursosr,
        d_cursosd: this.docente.kardex.d_cursosd,
        d_experiencia: this.docente.kardex.d_experiencia,
        d_lineas: this.docente.kardex.d_lineas,
        d_tematica: arr,
        razon_social: this.docente.kardex.razon_social,
        t_direccion: this.docente.kardex.t_direccion,
        t_telefono: this.docente.kardex.t_telefono,
        t_email: this.docente.kardex.t_email
      };
      console.log('lineas: ', data.d_lineas, 'otros: ', this.d_lineas);
      console.log('mostrando informacion para guardar:', data);
      this.$service.graphql({
        query: `
          mutation edit ($id: ID!, $kardex: EditKardex!) {
            kardexEdit(id: $id, kardex: $kardex) {
              id
            }
          }
        `,
        variables: {
          id: this.docente.id_kardex,
          kardex: data
        }
      }).then(response => {
        if (response) {
          this.$message.success('Se actualizó el registro correctamente');
          this.flagSave = true;
        }
      });
    },
    imprimirFormulario (idUsuario) {
      this.$service.post('system/kardex_docente/pdf/' + idUsuario)
        .then(response => {
          if (response) {
            console.log('pdffff', response);
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `kardex-docente-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    }
  }
};
</script>

<style lang="scss">
  .kardex {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  .usuario-foto {
    max-width: 180px;

    img {
      width: 100%;
    }
  }
</style>