<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> Constantes</h3>
    <v-card>
      <v-card-text>
        <crud-table
          :headers="headers"
          v-if="show"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :widthModal="800"
        >
          <template slot="buttons">
            <v-tooltip bottom v-if="$store.state.permissions['requisitos:create']">
              <v-btn color="primary"
                @click.native.stop="openModal()"
                slot="activator">
                <v-icon>add</v-icon> {{$t('common.add') }}
              </v-btn>
              <span>Agregar Nuevo Requisito</span>
            </v-tooltip>
          </template>

          <template slot="form">
            <v-card-title class="headline">
              <v-icon>business</v-icon> {{ form.id ? 'Editar constante' : 'Agregar constante' }} {{ 'REQUISITO' }}
              <v-spacer />
              <v-btn icon @click.native="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation
              >
              <v-card-text class="pt-0">
                <v-container grid-list-md>
                  <h4>Datos generales</h4>
                     <v-layout wrap>
                    <v-flex xs8>
                      <v-text-field
                        name="nombre"
                        :label="$t('entity.crud.name')"
                        id="nombre"
                        class="uppercase"
                        v-model="form.nombre"
                        autofocus
                        maxlength="150"
                        :rules="$validate(['required'])"
                        required
                      ></v-text-field>
                    </v-flex>
                 </v-layout>
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn
                  @click.native="$store.commit('closeModal');">
                  <v-icon>cancel</v-icon> {{$t('common.cancel') }}
                </v-btn>
                <v-btn
                  color="primary"
                  type="submit"
                  :disabled="!valid">
                  <v-icon>check</v-icon> {{$t('common.save') }}
                </v-btn>
              </v-card-actions>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['requisitos:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="editItem(items.item.id, 'constante', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['requisitos:delete']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="deleteItem(items.item.id, 'constante')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>
            </td>            
            <td>{{ items.item.nombre }}</td>
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';

export default {
  mixins: [ crud, validate, token, logDatos ],
  created () {
    this.user = this.$storage.getUser();
    this.idConstante = this.user.id_constante;
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_constante, 'constante', this.dataGraphql, false);
    }
  },
  data () {
    return {
      logDatos: null,
      successAlert: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'constantes',
      headers: [
        { text: this.$t('common.actions'), sortable: false },
        { text: 'Nombre', value: 'nombre' }
      ],
      form: {
        nombre: '',
        descripcion: ''
      },
      dataGraphql: `
        id
        grupo
        codigo
        nombre
        descripcion
        orden
        estado
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      show: true,
      filters: [
        {
          field: 'nombre',
          label: this.$t('entity.crud.name'),
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'grupo',
          type: 'hidden',
          value: 'REQUISITO',
          typeG: 'String'
        }
      ],
      idConstante: null,
      valid: true
    };
  },
  methods: {
    setDescripcion () {
      this.$store.state.constante.form.descripcion = this.$store.state.constante.form.nombre;
    },
    openModal (data = {}, form = true) {
      this.valid = true;
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.form = {
          grupo: '',
          codigo: '',
          nombre: '',
          descripcion: '',
          orden: '',
          estado: ''
        };
      }
      if (form) {
        this.$store.commit('openModal');
      }
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        data.nombre = (data.nombre || '').toUpperCase();
        data.grupo = 'REQUISITO';
        data.codigo = 'R-' + this.$util.id(4);
        data.orden = this.id_constante;
        if (data.id) {
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $constante: EditConstante!) {
                constanteEdit(id: $id, constante: $constante) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              constante: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.estado = 'ACTIVO';
          this.$service.graphql({
            query: `
              mutation add($constante: NewConstante!) {
                constanteAdd(constante: $constante) {
                  id
                }
              }
            `,
            variables: {
              constante: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    },
    descargarTodo () {
      // TODO: Implementar función de sincronización con el portál único
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
