<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> NOTAS-ESTUDIANTES POR DOCENTE </h3>
    <v-autocomplete
      :items="programas"
      class="uppercase"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa_search"
      item-text="nombre"
      item-value="id"
      return-object>
      <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
       <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
        </v-chip>
      </template>

    </v-autocomplete>
    <v-autocomplete
      v-if="id_programa_search"
      :items="bloques"
      label="Seleccione el bloque"
      id="bloques"
      v-model="id_bloque"
      item-text="nombre"
      item-value="id"
     >
      <template v-slot:item="{ item }">
          <v-list-tile-content>
            <v-list-tile-sub-title>{{ item.numero}} {{". "}} {{ item.nombre}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{item.numero}} {{". "}} {{item.nombre}}
        </v-chip>
      </template>
    </v-autocomplete>
    <v-autocomplete
      v-if="id_bloque"
      :items="modulos"
      label="Seleccione el módulo"
      id="modulos"
      v-model="id_modulo"
      item-text="nombre"
      item-value="id"
     >
      <template v-slot:item="{ item }">
          <v-list-tile-content>
            <v-list-tile-sub-title> {{item.nro_modulo}} {{". "}} {{ item.nombre}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{item.nro_modulo}} {{". "}} {{item.nombre}}
        </v-chip>
      </template>
    </v-autocomplete>
    <v-autocomplete
      v-if="id_modulo"
      :items="docentes"
      label="Seleccione Docente"
      id="docentes"
      v-model="id_docente"
      item-text="docente.persona.nombre_completo"
      item-value="id_docente"
     >
      <template v-slot:item="{ item }">
          <v-list-tile-content>
            <v-list-tile-sub-title>{{ item.docente.persona.nombre_completo}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{item.docente.persona.nombre_completo}}
        </v-chip>
      </template>
    </v-autocomplete>
    <v-card  v-if="show">
      <v-card-text>      
        <table class="v-datatable v-table theme--light" >
          <thead>
            <tr>
              <th style="text-align:left"> Nro.</th>
              <th style="text-align:left"> Nombre Completo</th>
              <th style="text-align:left"> Carnet de Indetidad</th>
              <th style="text-align:left"> Telefono Celular</th>
              <th style="text-align:left"> Correo Electronico</th>
              <th style="text-align:left"> Nota</th>
              <th style="text-align:left"> Evalución</th>
              <th style="text-align:left"> Valoración</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              v-for="item in estudiantes"
              :key="item.id">
              <td style="text-align:left">{{ item.id }}</td>
              <td style="text-align:left" class="nowrap">{{ item.estudiante.persona.primer_apellido}} {{ item.estudiante.persona.segundo_apellido}} {{ item.estudiante.persona.nombres}}</td>
              <td style="text-align:left">{{ item.estudiante.persona.nro_documento }} {{item.estudiante.persona.lugar_exp}}</td>
              <td style="text-align:left">{{ item.estudiante.persona.movil }}</td>
              <td style="text-align:left">{{ item.estudiante.email }}</td>
              <td>
                <v-text-field
                  v-model="item.nota"
                  @input="verificar(item)"
                  placeholder="0"
                  maxlength="10"
                  id="item.nota"
                ></v-text-field>
              </td>
              <td>
                <v-text-field
                  v-model="item.est_evaluacion"
                  placeholder="APROB/REPROB"
                  maxlength="50"
                  ></v-text-field>
              </td>
              <td>
                <v-text-field
                  v-model="item.est_valoracion"
                  placeholder="VALORACIÓN"
                  maxlength="50"
                  ></v-text-field>
              </td>
            </tr>
          </tbody>
        </table>      
      </v-card-text>
      <v-card-actions>
      <small class="error--text text-required">* Los campos son obligatorios</small>
      <v-spacer></v-spacer>
      <v-btn color="primary" type="submit" @click= "actaNotas"><v-icon>print</v-icon> GUARDAR E IMPRIMIR</v-btn>
    </v-card-actions>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import listas from './mixins/listas';

export default {
  mixins: [ crud, validate, token, logDatos, listas ],
  created () {
    this.user = this.$storage.getUser();
    this.programas = [];
    this.getProgramas('INICIO', 'programas');
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_asignacionDocente, 'asignacionDocente', this.dataGraphql, false);
    }
  },
  data () {
    return {
      programas: [],
      versiones: [],
      bloques: [],
      docentes: [],
      id_programa_search: null,
      id_bloque: null,
      idPrograma: 0,
      idVersion: 0,
      idBloque: 0,
      idModulo: 0,
      idDocente: 0,
      id_programa: null,
      id_modulo: null,
      id_docente: null,
      modulos: [],
      estudiantes: [],
      show: false,
      valid: true,
      modulo: null,
      logDatos: null,
      graphql: true, // Definiendo el CRUD con Graphql
      filters: [
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_bloque',
          type: 'hidden',
          typeG: 'Int'
        }
      ],
      menu1: false,
      menu2: false,
      queryVersiones: `
        query versiones($id: Int!) {
          detallesprogramas(id_programa: $id) {
            count
            rows {
              id
              version
              gestion
              id_programa
            }
          }
        }
      `,
      queryModulos: `
        query modulos($id: Int!) {
          modulosprogramas(order: "nro_modulo", id_bloque: $id) {
            count
            rows {
              id
              nro_modulo
              nombre
            }
          }
        }
      `
    };
  },
  methods: {
    verificar (item) {
      console.log('item:', item);
      if (item.nota > 0 && item.nota <= 100) {
        const nota = parseInt(item.nota);
        console.log('nota minima del programa', item.programa.nota_minima);
        item.est_evaluacion = nota >= parseInt(item.programa.nota_minima) ? 'APROBADO' : 'REPROBADO';
        if (item.programa.tipo === 'MAESTRIA') {
          if (nota < item.programa.nota_minima) {
            item.est_valoracion = 'REPROBADO';
          } else {
            if (nota > item.programa.nota_minima) {
              item.est_valoracion = 'APROBADO';
            } else {
              if (nota > 70 && nota <= 80) {
                item.est_valoracion = 'BUENO';
              } else {
                if (nota > 80 && nota <= 90) {
                  item.est_valoracion = 'MUY BUENO';
                } else {
                  if (nota > 90 && nota <= 100) {
                    item.est_valoracion = 'EXCELENTE';
                  }
                }
              }
            }
          }
        }
        if (item.programa.tipo === 'DOCTORADO') {
          if (nota < item.programa.nota_minima) {
            item.est_valoracion = 'REPROBADO';
          } else {
            if (nota >= 0 && nota <= 69) {
              item.est_valoracion = 'REPROBADO';
            } else {
              if (nota >= 70 && nota <= 74) {
                item.est_valoracion = 'SUFICIENTE';
              } else {
                if (nota > 74 && nota <= 80) {
                  item.est_valoracion = 'BUENO';
                } else {
                  if (nota > 80 && nota <= 89) {
                    item.est_valoracion = 'DISTINGUIDO';
                  } else {
                    if (nota > 89 && nota <= 100) {
                      item.est_valoracion = 'SOBRESALIENTE';
                    }
                  }
                }
              }
            }
          }
        }
      } else {
        this.$alert(`La nota debe pertenecer al rango de 0 a 100!`);
      }
      let record = {
        nota: parseInt(item.nota),
        fecha_nota: new Date(),
        est_evaluacion: item.est_evaluacion,
        est_valoracion: item.est_valoracion
      };
      this.$service.graphql({
        query: `
          mutation edit($id: ID!, $record: EditRecord!) {
            recordEdit(id: $id, record: $record) {
              id
            }
          }
        `,
        variables: {
          id: parseInt(item.id),
          record: record
        }
      }).then(response => {});
    },
    openModalAsignacion (id) {
      this.idModulo = 0;
      this.$nextTick(() => {
        this.idModulo = parseInt(id);
        this.$store.commit('openModal', 2);
      });
    },
    getModulos (id) {
      this.$service.graphql({
        query: this.queryModulos,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.modulos = response.modulosprogramas.rows || [];
        }
      });
    },
    getDocentes (idDocente = 0, idModulo) {
      this.$service.graphql({
        query: `
        query docentes {
          asignacionDocentes (id_docente: ${idDocente}, id_modulo: ${idModulo}) {
            count
            rows {
              id_docente
              docente {
                persona {
                  nombre_completo
                }
              }
            } 
          }
        }
      `,
        variables: {}
      }).then(response => {
        if (response) {
          this.docentes = response.asignacionDocentes.rows || [];
          console.log('datos de docentes: ', this.docentes);
        }
      });
    },
    getEstudiantes (idP, idV, idB, idM, idD) {
      this.$service.graphql({
        query: `
        query getEstudiantes {
          records (id_programa: ${idP}, id_version: ${idV}, id_bloque: ${idB}, id_modulo: ${idM}, id_docente: ${idD}) {
            count
            rows {
              id
              id_estudiante
              nota
              est_evaluacion
              est_valoracion
              estudiante {
                persona {
                  primer_apellido
                  segundo_apellido
                  nombres
                  nombre_completo
                  nro_documento
                  movil
                  lugar_exp
                }
                email
              }
              programa {
                nota_minima
                tipo
              }
            }
          }
        }
      `,
        variables: {
        }
      }).then(response => {
        if (response) {
          this.show = false;
          this.$nextTick(() => {
            this.estudiantes = response.records.rows || [];
            console.log('estudiantes: ', this.estudiantes);
            this.show = true;
          });
        }
      });
    },
    actaNotas () {
      console.log('acta de notas por docente ', this.idDocente);
      this.$service.post('system/actaNotas/pdf/' + this.idPrograma + '/' + this.idVersion + '/' + this.idBloque + '/' + this.idModulo + '/' + this.idDocente)
        .then(response => {
          if (response) {
            console.log('pdffff', response);
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `actaNotas-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    }

  },
  watch: {
    'id_programa_search' (val) {
      this.idPrograma = parseInt(val.id);
      this.idVersion = parseInt(val.version.id);
      this.getBloques(val.id);
    },
    'id_bloque' (val) {
      if (val) {
        this.idBloque = parseInt(val);
        this.getModulos(this.idBloque);
      }
    },
    'id_modulo' (val) {
      if (val) {
        this.idModulo = parseInt(val);
        if (this.$util.isRol('DOCENTE')) {
          console.log('Ingresa por Rol Docente', this.user);
          this.getDocentes(this.user.id, this.idModulo);
        } else {
          this.getDocentes(0, this.idModulo);
        }
      }
    },
    'id_docente' (val) {
      if (val) {
        console.log('resultado de: ', val);
        //  this.idModulo = parseInt(val);
        this.show = false;
        this.$nextTick(() => {
          this.idDocente = parseInt(val);
          this.getEstudiantes(this.idPrograma, this.idVersion, this.id_bloque, this.idModulo, this.idDocente);
          this.show = true;
        });
      }
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
