$bgBody: #f2f3f8;

body {
  font-family: $fontFamily;
  background-color: $bgBody;

  .application {
    font-family: $fontFamily;
    font-size: 16px;
    font-weigth: 400;

    main {
      color: $color;

      .main {
        padding: 0 30px;
      }
    }
  }
}

h3 {
  margin-bottom: 10px;
  font-size: 1.6rem;
  font-weight: 500;
}

h4 {
  margin-bottom: 10px;
  font-size: 1.4rem;
  font-weight: 500;
}

.nowrap {
  white-space: nowrap;
}

.v-card__title.headline {
  font-size: 20px !important;
  line-height: 28px !important;
  color: $primary;
  background-color: #e0e0e0;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;

  .v-icon {
    color: $primary;
  }
}

.v-btn,
.btn-container .v-btn,
.v-dialog .v-card__actions .v-btn {
  margin: 6px 2px;
}

.btn-container {
  margin-bottom: 10px;
}

.m-0, .margin-0 {
  margin: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.p-0, .padding-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 3px !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.v-input-group--required label::after {
  color: $error;
  font-size: 1.1rem;
  font-weight: 600;
  margin-left: 2px;
}

table.v-table tbody td {
  font-size: 15px;
}

.table-responsive {
  width: 100%;
  overflow-x: auto;
}

.no-style {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Ajustes para la versión 1.1.x de vuetify
.v-dialog .v-card .v-form .v-card__text,
.v-dialog .v-card .v-stepper__content {
  padding: 0; // Forzando que <v-card-text> no tenga padding cuando está dentro un dialog
}

.v-label.error--text::after,
.required .v-label::after {
  content: '*';
  color: $error;
  margin-left: 1px;
}

// Token
.token-container {
  .token-textarea {
    margin-top: 10px;
    textarea {
      width: 100%;
      height: 150px;
      padding: 8px 10px;
      background-color: #eee;
      font-size: 1.05rem;
      resize: none;
    }
  }
}

.uppercase {
  text-transform: uppercase;

  input {
    text-transform: uppercase;
  }
}

.lowercase {
  text-transform: lowercase;

  input {
    text-transform: lowercase;
  }
}