$primary: #69a390;
$secondary: #ffffff;
$info: #36a3f7;
$warning: #ffb822;
$error: #f4516c;
$success: #34bfa3;

$color: darken(#69a390, 10%); // Text color
$fontFamily: 'Titillium Web'; // font family
$bgSidenav: #69a390;
