<template>
  <section
    class="kardex"
    v-if="estudiante">
    <!--{{ estudiante }}-->
    <!--{{this.estudiante.id_rol}}-->
    <h2 class="text-xs-center">UNIVERSIDAD MAYOR DE SAN ÁNDRES</h2>
    <h1 class="text-xs-center">POSTGRADO EN CIENCIAS DEL DESARROLLO</h1>
    <h4 class="text-xs-center">CIDES - UMSA</h4>
    <h3 class="text-xs-center" >FORMULARIO DE INSCRIPCIÓN {{ new Date().getFullYear() }}</h3>
    <h5 class="text-xs-center"> BASE DE DATOS - ANTECEDENTES ACADEMICOS ALUMNOS CIDES - UMSA</h5>
    <v-card-text class="pt-0">
      <v-container grid-list-md fluid>
        <h3><strong>INSTRUCCIONES:</strong> Llenar sus datos personales y marcar donde corresponda. Estos datos serán utilizados como sus Antecedentes Académicos en el futuro,  cada MAESTRANTE  debe FIRMAR al pie del documento para  certificar la veracidad de estos datos.</h3>
        <h1>DATOS GENERALES</h1>
       
        <v-layout row wrap>
          <v-flex xs8>
            <v-text-field
            label="PROGRAMA ACADEMICO" 
            v-model="estudiante.programa.nombre"
            box
            disabled>
            </v-text-field>
          </v-flex>

          <v-flex xs4>
            <v-text-field
              v-model="estudiante.fecha_inscripcion"
              label="1. Fecha de Inscripción"
              prepend-icon="event"
              disabled 
            ></v-text-field>
          </v-flex>
        </v-layout>

        <v-layout row wrap>
          <v-flex xs6>
            <v-text-field
            label = "2. Apellidos"
            v-model="estudiante.persona.primer_apellido"
            disabled>
            </v-text-field>
          </v-flex>  
          <v-flex xs6>
            <v-text-field
            label = "3. Nombres"
            v-model="estudiante.persona.nombres"
            disabled>
            </v-text-field>
          </v-flex>  
        </v-layout>

        <v-layout row wrap>
          <v-flex xs4>
          <v-select
              :items="tiposDoc"
              v-model="estudiante.persona.tipo_documento"
              label="Tipo de Documento"
              item-text="text"
              item-value="value"
              disabled>
            </v-select>
          </v-flex>
          
          <v-flex xs4>
            <v-text-field
              label = "4. Nro. Carnet de Identidad o Pasaporte"
              v-model="estudiante.persona.nro_documento"
              disabled>
            </v-text-field>
          </v-flex>

          <v-flex xs2>
            <v-text-field
              label = "5. Lugar de Expedición"
              v-model="estudiante.persona.lugar_exp"
              disabled>
            </v-text-field>
          </v-flex>

          <v-flex xs2>
              <v-text-field
              label = "6. Edad"
              v-model="estudiante.kardex.edad">
              </v-text-field>
          </v-flex>  
        </v-layout>
        
        <v-layout>        
          <v-flex xs4 >
            <v-radio-group
              label = "7. Sexo: "
              v-model="estudiante.persona.genero"
              row
              disabled>
                <v-radio
                  label="Mujer"
                  value="F"
                ></v-radio>
                <v-radio
                  label="Hombre"
                  value="M"
                ></v-radio>
            </v-radio-group>
          </v-flex>
            
          <v-flex>
            <v-radio-group
              v-model="estudiante.kardex.estado_civil"
              label = "8. Estado Civil:"
              :rules="$validate(['required'])"
              required
              class="required"
              row>
                <v-radio
                  label="Soltero"
                  value="SOLTERO"
                ></v-radio>
                <v-radio
                  label="Casado"
                  value="CASADO"
                ></v-radio>
                <v-radio
                  label="Viudo"
                  value="VIUDO"
                ></v-radio>
                <v-radio
                  label="Divorciado"
                  value="DICORCIADO"
                ></v-radio>
                <v-radio
                  label="Otros"
                  value="OTROS"
                ></v-radio>
            </v-radio-group>
          </v-flex>      
        </v-layout>

        <v-layout row wrap>
          <v-flex xs6>
            <v-layout row wrap>
              <v-flex xs6>
                <v-text-field
                  label = "9. Fecha de Nacimiento"
                  v-model="estudiante.persona.fecha_nacimiento"
                  disabled>
                </v-text-field>
              </v-flex>
              
              <v-flex xs6>
                <v-text-field
                  label = "10. Lugar de Nacimiento"
                  v-model="estudiante.persona.lugar_nacimiento"
                  disabled>
                </v-text-field>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  label = "11. Lugar de Residencia"
                  v-model="estudiante.kardex.lugar_residencia"
                  class="uppercase"
                  >
                </v-text-field>
              </v-flex>

              <v-flex xs12>
                <v-radio-group
                  label = "12. Si es extranjero tiene residencia? :  "
                  v-model="estudiante.kardex.residencia"
                  row>
                    <v-radio
                      label="SI"
                      value="SI"
                    ></v-radio>
                    <v-radio
                      label="NO"
                      value="NO"
                    ></v-radio>
                    <v-radio
                      label="NO CORRESPONDE"
                      value="NOCORRESPONDE"
                    ></v-radio>
                </v-radio-group>
              </v-flex>
            </v-layout>
          </v-flex>
          <v-flex xs6>
            <div v-if="!estudiante.id_foto || editFoto">
              <FileUpload 
                :url="urlUpload"
                types=".jpg,.jpeg,.png,.gif"
                name="foto"
                :max-files="1"
                :form="formUpload"
                :onSuccess="uploadPhoto"
                label="Adjuntar foto" />
              <v-btn v-if="estudiante.id_foto" @click="editFoto = false">Cancelar</v-btn>
            </div>
            <div 
              v-else
              class="usuario-foto">
              <img :src="urlFiles + estudiante.foto.filename" alt="Foto" />
              <v-btn color="primary" @click="editFoto = true">Cambiar</v-btn>             
            </div>            
            <div>
              <v-btn v-if="estudiante.id_foto" color="orange darken-2" @click="eliminaFoto()">Eliminar</v-btn>
            </div>
          </v-flex>
          
          <h2>DIRECCIÓN DE SU DOMICILIO</h2>
          <v-flex xs12>
            <v-text-field
              label = "13. Dirección"
              v-model="estudiante.persona.direccion"
              disabled>
            </v-text-field>
          </v-flex>
          
          <v-flex xs4>
            <v-text-field
              label = "14. Teléfono"
              v-model="estudiante.persona.telefono"
              disabled>
            </v-text-field>
          </v-flex>

           <v-flex xs4>
            <v-text-field
              label = "Celular"
              v-model="estudiante.persona.movil"
              disabled>
            </v-text-field>
          </v-flex>

          <v-flex xs12>
            <v-text-field
              label = "15. Email(personal)"
              v-model="estudiante.email"
              disabled>
            </v-text-field>
          </v-flex>

          <h2>DIRECCIÓN LUGAR DE TRABAJO </h2>
          <v-flex xs12>
            <v-text-field
              label = "16. Razón Social"
              v-model="estudiante.kardex.razon_social"
              class="uppercase">
            </v-text-field>
          </v-flex>
          
          <v-flex xs12>
            <v-text-field
              label = "17. Dirección"
              v-model="estudiante.kardex.t_direccion"
              class="uppercase">
            </v-text-field>
          </v-flex>

          <v-flex xs6>
            <v-text-field
              label = "18. Teléfono"
              v-model="estudiante.kardex.t_telefono"
              @keydown="$filter.integer($event)"
              maxlength="20">
            </v-text-field>
          </v-flex>

          <v-flex xs6>
            <v-text-field
              label = "19. Email(Institucional)"
              v-model="estudiante.kardex.t_email">
            </v-text-field>
          </v-flex>
        </v-layout>

        <h2>DATOS BACHILLERATO O COLEGIO </h2>
        <v-layout row wrap>
          <v-flex xs6>
            <v-text-field
              label = "2O. Año Egreso Colegio"
              v-model="estudiante.kardex.anio_egreso"
               @keydown="$filter.integer($event)"
              maxlength="4"
              :rules="$validate(['required'])"
              class="required"
              required>
            >
            </v-text-field>
          </v-flex>

          <v-flex xs6>
            <v-select
            :items = "adminColegio"
            v-model="estudiante.kardex.admin_colegio"
            label= "21. Admin. Colegio"
            class="required"
            :rules="$validate(['required'])"
            required
            ></v-select>
          </v-flex>

           <v-flex xs6>
            <v-text-field
              label = "22. Nombre del Colegio"
              v-model="estudiante.kardex.nombre_colegio"
              class="uppercase"
              :rules="$validate(['required'])"
              required
            >
            </v-text-field>
           </v-flex>
        </v-layout>

        <h2>DATOS UNIVERSITARIOS </h2>
        <v-layout row wrap>
          <v-select
              :items="lugarEstudiosU"
              label = "23. Lugar de estudios Universitarios"
              v-model="estudiante.kardex.univ_lugar"
              item-text="text"
              item-value="value"
              class = "uppercase"
              :rules="$validate(['required'])"
              required
              >
            </v-select>

          <v-flex xs3>
            <v-text-field
              label = "24. Año de Finalización"
              v-model="estudiante.kardex.univ_anio_fin"
              @keydown="$filter.integer($event)"
              maxlength="4"
              class="required"
              :rules="$validate(['required'])"
              required
              >
            </v-text-field>
          </v-flex>

          <v-flex xs12>
            <v-autocomplete
            :items="universidades"
            label="25. UNIVERSIDAD DE PROCEDENCIA"
            v-model="estudiante.id_universidad"
            item-text="nombre"
            item-value="id"
            disabled
          ></v-autocomplete>
          </v-flex>
          
          <v-flex xs6>
            <v-select
              :items = "tiposTitulacion"
              v-model="estudiante.kardex.u_titulacion"
              label = "26. Último grado académico obtenido (Nivel Académico)"
              class="required"
              :rules="$validate(['required'])"
              required
            ></v-select>
          </v-flex>

          <v-flex xs6>
            <v-select
              :items = "estadoTitulo"
              label = "27. Estado del Título"
              v-model="estudiante.kardex.estado_titulo"
              class="required"
              :rules="$validate(['required'])"
              required
              >
            ></v-select>
          </v-flex>

          <v-flex xs12>
            <v-text-field
              label = "28. Profesión"
              v-model="estudiante.kardex.profesion"
              class="uppercase"
              :rules="$validate(['required'])"
              required>
            </v-text-field>
          </v-flex>
        </v-layout>
        
        <h2>Idiomas</h2>
        <v-layout row wrap>
          <div 
          v-for="idioma in estudiante.kardex.idiomas"
              :key="idioma.texto">
          <v-flex xs3>      
              <v-radio-group            
                :label="idioma.texto"
                v-model="idioma.valor"
                col>
                  <v-radio
                    label="Regular"
                    value="Regular"
                  ></v-radio>
                  <v-radio
                    label="Bien"
                    value="Bien"
                  ></v-radio>
                  <v-radio
                    label="Muy bien"
                    value="Muy bien"
                  ></v-radio>
                  <v-radio
                    label="Excelente"
                    value="Excelente"
                  ></v-radio>                
              </v-radio-group>          
          </v-flex>
          </div>
        </v-layout>

        <h2> Últimos Estudios Realizados</h2>
          <v-btn
            small 
            @click="agregarEstudio"
            color="primary"><v-icon small>add</v-icon>Agregar estudio
            </v-btn>
          <v-layout 
            row 
            wrap
            v-for="(estudio, index) in estudiante.kardex.estudios"
            :key="index">
            <v-flex xs4>
              <v-text-field          
                label="Últimos estudios realizados"
                v-model="estudio.nombre"
                >                  
            </v-text-field>
            </v-flex>
            
            <v-flex xs3>                    
              <v-text-field          
                label="Fecha (AAAA/MM/DD)"
                v-model="estudio.fecha"
                >                  
              </v-text-field>
            </v-flex>
            
            <v-flex xs4>
              <v-text-field          
              label="Ins. Pública/Privada"
              v-model="estudio.tipo"
              >                  
              </v-text-field>
            </v-flex>
            <v-flex xs1>
              <v-btn 
                icon 
                @click="eliminarEstudio(index)"
                small>
                <v-icon color="error">delete</v-icon>
              </v-btn>
            </v-flex>
          </v-layout>   
      </v-container>
    </v-card-text>
    <v-card-actions>
      <small class="error--text text-required">* Los campos son obligatorios</small>
      <v-spacer></v-spacer>
      <v-btn @click="vistaPrevia" v-if="flagSave" color="primary">Generar PDF</v-btn>
      <v-btn v-if="!$util.isRol('ESTUDIANTE')" color = "Orange" @click="$router.push('/preinscritos');"><v-icon>undo</v-icon>ATRÁS</v-btn>
      <v-btn color="primary" type="submit" @click= "saveKardex();"><v-icon>check</v-icon> {{$t('common.save') }}</v-btn>
    </v-card-actions>
    <v-dialog v-model="modalPdf" max-width="960">
      <v-card>
        <v-card-title class="headline m-0">
          <v-icon>security</v-icon> Impresión
          <v-spacer></v-spacer>
          <v-btn @click="imprimirFormulario(idUsuario)"><v-icon>print</v-icon> Descargar</v-btn>
          <v-btn icon @click="modalPdf = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <PdfView :data="pdfData" v-if="pdfData" />
        </v-card-text>
      </v-card>
    </v-dialog>
  </section>  
</template>
<script>

import listas from './mixins/listas';
import PdfView from '../../../common/util/PdfView';
import validate from '@/common/mixins/validate';
import FileUpload from '@/common/util/FileUpload';

export default {
  mixins: [listas, validate],
  components: {
    PdfView,
    FileUpload
  },
  data () {
    return {
      editFoto: false,
      urlFiles: process.env.UPLOAD_URL,
      urlUpload: `${this.$apiUrl}system/usuario/foto/upload`,
      formUpload: { idUsuario: null },
      modalPdf: false,
      pdfData: null,
      tiposDoc: [
        { value: 'CI', text: 'CÉDULA DE IDENTIDAD' },
        { value: 'PASAPORTE', text: 'PASAPORTE' }
      ],
      areaColegio: [
        {value: 'URBANO', text: 'URBANO'},
        {value: 'PROVINCIAL', text: 'PROVINCIAL'},
        {value: 'URBANO_PROVINCIAL', text: 'URBANO PROVINCIAL'}
      ],
      adminColegio: [
        {value: 'FISCAL', text: 'FISCAL'},
        {value: 'PARTICULAR', text: 'PARTICULAR'},
        {value: 'CEMA', text: 'CEMA'}
      ],
      tiposTitulacion: [
        {value: 'LICENCIATURA', text: 'LICENCIATURA'},
        {value: 'MAESTRIA', text: 'MAESTRÍA'},
        {value: 'BACHELOR', text: 'BACHELOR'},
        {value: 'DOCTORADO', text: 'DOCTORADO'},
        {value: 'OTROS', text: 'OTROS'}
      ],
      estadoTitulo: [
        {value: 'PROVISION_NACIONAL', text: 'PROVISIÓN NACIONAL'},
        {value: 'ACADEMICO', text: 'ACADEMICO'},
        {value: 'REVALIDADO', text: 'REVALIDADO'},
        {value: 'OTROS', text: 'OTROS'}
      ],
      lugarEstudiosU: [
        {value: 'LA PAZ', text: 'LA PAZ'},
        {value: 'COCHABAMBA', text: 'COCHABAMBA'},
        {value: 'SANTA CRUZ', text: 'SANTA CRUZ'},
        {value: 'CHUQUISACA', text: 'CHUQUISACA'},
        {value: 'ORURO', text: 'ORURO'},
        {value: 'POTOSI', text: 'POTOSI'},
        {value: 'TARIJA', text: 'TARIJA'},
        {value: 'BENI', text: 'BENI'},
        {value: 'PANDO', text: 'PANDO'},
        {value: 'OTRO', text: 'OTRO'}
      ],
      universidades: [],
      date: new Date().toISOString().substr(0, 10),
      estudiante: null,
      idKardex: null,
      flagSave: false,
      queryAgregarKardex: `
        mutation crear ($kardex: NewKardex!) {
          kardexAdd(kardex: $kardex) {
            id
          }
        }
      `,
      queryActualizarUsuario: `
        mutation actualizar ($id: ID!, $usuario: EditUsuario!) {
          usuarioUpdate(id: $id, usuario: $usuario) {
            id
          }
        }
      `,
      queryEstudiante: `
        query estudiante ($id: ID!) {
          usuario (id: $id) {
            id
            usuario
            email
            fecha_inscripcion
            id_universidad
            id_rol
            id_foto
            foto {
              id
              filename
            }
            persona {
              nombres
              primer_apellido
              segundo_apellido
              nombre_completo
              tipo_documento
              nro_documento
              lugar_exp
              genero
              lugar_nacimiento
              fecha_nacimiento
              direccion
              telefono
              movil
            } 
            id_programa
            programa {
              nombre
            }
            id_kardex
            kardex {
              nro_matricula
              fecha_inscripcion
              area_nacimiento
              residencia
              casilla
              edad
              razon_social
              t_direccion
              t_telefono
              t_email
              anio_egreso
              area_colegio
              admin_colegio
              turno_colegio
              univ_lugar
              univ_anio_inicio
              univ_anio_fin
              u_titulacion
              profesion
              estado_titulo
              idiomas
              edad
              estado_civil
              estudios
              lugar_residencia
              nombre_colegio
              id_universidad
            }
          }
        }
      `,
      idiomas: [
        {
          texto: '29. Español',
          valor: ''
        },
        {
          texto: '30. Inglés',
          valor: ''
        },
        {
          texto: '31. Aymara',
          valor: ''
        },
        {
          texto: '32. Quechua',
          valor: ''
        },
        {
          texto: '33. Otros',
          valor: ''
        }
      ],
      estudios: [
        {
          nombre: '',
          fecha: '',
          tipo: ''
        }
      ],
      idUsuario: null
    };
  },
  created () {
    this.getEstudiante(this.$route.params.id);
    this.idUsuario = this.$route.params.id;
    this.formUpload.idUsuario = this.idUsuario;
    this.getUniversidades('universidades');
    this.universidades = [];
  },
  methods: {
    uploadPhoto (file, response) {
      console.log('Upload!!', file, response);
      if (this.estudiante && this.estudiante.id_foto) {
        this.estudiante.foto.filename = response.filename;
        this.estudiante.foto.id = response.id;
        this.editFoto = false;
      }
    },
    eliminaFoto () {
      this.$service.graphql({
        query: this.queryActualizarUsuario,
        variables: {
          id: this.estudiante.id,
          usuario: {
            id_foto: null
          }
        }
      }).then(response => {
        this.editFoto = true;
      });
    },

    vistaPrevia () {
      this.pdfData = null;
      this.$service.post('system/formulario_inscripcion/pdf/' + this.idUsuario)
          .then(response => {
            if (response) {
              this.pdfData = response;
              this.modalPdf = true;
            }
          });
    },
    agregarEstudio () {
      this.estudiante.kardex.estudios.push({
        nombre: '',
        fecha: '',
        tipo: ''
      });
    },
    eliminarEstudio (index) {
      this.estudiante.kardex.estudios.splice(index, 1);
    },
    getEstudiante (id) {
      console.log('prueba id', id);
      this.$service.graphql({
        query: this.queryEstudiante,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          console.log('respuesta: ', response.usuario);
          const usuario = response.usuario;
          usuario.id_universidad = usuario.id_universidad + '';
          this.estudiante = usuario;
          console.log('otro ', this.estudiante);
          if (!this.estudiante.id_kardex) {
            this.estudiante.kardex = {
              idiomas: this.idiomas,
              estudios: this.estudios
            };
            this.crearKardex();
          } else {
            if (!this.estudiante.kardex.idiomas) {
              this.estudiante.kardex.idiomas = this.idiomas;
            }
            if (!this.estudiante.kardex.estudios) {
              this.estudiante.kardex.estudios = this.estudios;
            }
          }
        }
      });
    },
    crearKardex () {
      this.$service.graphql({
        query: this.queryAgregarKardex,
        variables: {
          kardex: {}
        }
      }).then(response => {
        if (response) {
          this.estudiante.id_kardex = response.kardexAdd.id;
          this.actualizarUsuario();
        }
      });
    },
    actualizarUsuario () {
      this.$service.graphql({
        query: this.queryActualizarUsuario,
        variables: {
          id: this.estudiante.id,
          usuario: {
            id_kardex: parseInt(this.estudiante.id_kardex)
          }
        }
      }).then(response => {
      });
    },
    saveKardex () {
      //  if (this.$refs.form.validate()) {
      if (this.estudiante.id_kardex) {
        console.log('save de objeto kardex', this.estudiante.id_kardex);
      }
      let data = {
        nro_matricula: this.estudiante.kardex.nro_matricula,
        fecha_inscripcion: this.estudiante.kardex.fecha_inscripcion,
        area_nacimiento: this.estudiante.kardex.area_nacimiento,
        residencia: this.estudiante.kardex.residencia,
        casilla: this.estudiante.kardex.casilla,
        razon_social: this.estudiante.kardex.razon_social || ' ',
        t_direccion: this.estudiante.kardex.t_direccion || ' ',
        t_telefono: this.estudiante.kardex.t_telefono || ' ',
        t_email: this.estudiante.kardex.t_email || ' ',
        anio_egreso: this.estudiante.kardex.anio_egreso,
        area_colegio: this.estudiante.kardex.area_colegio,
        admin_colegio: this.estudiante.kardex.admin_colegio,
        turno_colegio: this.estudiante.kardex.turno_colegio,
        id_universidad: parseInt(this.estudiante.id_universidad),
        univ_lugar: this.estudiante.kardex.univ_lugar,
        univ_anio_inicio: this.estudiante.kardex.univ_anio_inicio,
        univ_anio_fin: this.estudiante.kardex.univ_anio_fin,
        u_titulacion: this.estudiante.kardex.u_titulacion,
        estado_titulo: this.estudiante.kardex.estado_titulo,
        profesion: this.estudiante.kardex.profesion,
        edad: parseInt(this.estudiante.kardex.edad),
        estado_civil: this.estudiante.kardex.estado_civil,
        idiomas: this.estudiante.kardex.idiomas,
        estudios: this.estudiante.kardex.estudios,
        lugar_residencia: this.estudiante.kardex.lugar_residencia,
        nombre_colegio: this.estudiante.kardex.nombre_colegio
      };
      console.log('mostrando informacion para guardar:', data);
      this.$service.graphql({
        query: `
          mutation edit ($id: ID!, $kardex: EditKardex!) {
            kardexEdit(id: $id, kardex: $kardex) {
              id
            }
          }
        `,
        variables: {
          id: this.estudiante.id_kardex,
          kardex: data
        }
      }).then(response => {
        if (response) {
          this.$message.success('Se actualizó el registro correctamente');
          this.flagSave = true;
        }
      });
      //  }
    },
    imprimirFormulario (idUsuario) {
      this.$service.post('system/formulario_inscripcion/pdf/' + idUsuario)
      .then(response => {
        if (response) {
          console.log('pdffff', response);
          //  window.open(response);
          const link = document.createElement('a'); // <a href="">
          link.href = response;
          const d = new Date();
          link.setAttribute('download', `formulario-inscripcion-${d.getTime()}.pdf`);
          document.body.appendChild(link);
          link.click();
          this.flagSave = false;
        }
      });
    }
  }
};
</script>

<style lang="scss">
  .kardex {
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
  }
  .usuario-foto {
    max-width: 180px;

    img {
      width: 100%;
    }
  }
</style>