<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon>FORMULARIO DE INSCRIPCIÓN CIDES-UMSA</h3>
    <v-card>
      <v-card-text>
        <!--persona-form store="usuario/" v-if="personaDatos" :db="true"></persona-form>-->
        <table class="v-datatable v-table theme--light">
          <h1></h1> 
        <thead>
          <tr>
            <th> PROGRAMA ACADEMICO</th>
          </tr>
        </thead>
          <v-form
                @submit.prevent="save"
                v-model="valid"
                ref="form"
                lazy-validation
          >
          
          </v-form>
        </table>
     

      <template slot="form">
            <v-form ref="form">
              <v-card-text class="pt-0">
                <v-container grid-list-md>
                  <h4>Datos generales</h4>
                  <v-layout wrap>
                    <v-flex xs8>
                      <v-text-field
                        name="usuario"
                        label="Usuario"
                        id="usuario"
                        class="uppercase"
                        v-model="this.estudiante.usuario"
                        autofocus
                        maxlength="150"
                        :rules="$validate(['required'])"
                        required
                      ></v-text-field>
                    </v-flex>
                  </v-layout>
                </v-container>
              </v-card-text>
            </v-form>
          </template>
         </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';

export default {
  mixins: [ crud, validate, token, logDatos ],
  created () {
    this.user = this.$storage.getUser();
    this.idModulosprograma = this.user.id_modulosprograma;
    console.log('id de usuario: ', this.$route.params.id);
    this.getEstudiante(this.$route.params.id);
    if (this.$route.params.id) {
      this.idPrograma = parseInt(this.$route.params.id);
    } else {
      this.$router.push('/preinscritos');
    }
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_modulosprograma, 'modulosprograma', this.dataGraphql, false);
    }
  },
  data () {
    return {
      logDatos: null,
      successAlert: false,
      valid: true,
      form: {
        usuario: ''
      },
      queryEstudiante: `
        query estudiante ($id: ID!) {
          usuario (id: $id) {
              id
              usuario
              persona {
                nombres
                primer_apellido
                segundo_apellido
                nombre_completo
            } 
          }
        }
      `
    };
  },
  methods: {
    getEstudiante (id) {
      console.log('prueba id', id);
      this.$service.graphql({
        query: this.queryEstudiante,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.estudiante = response.usuario;
          console.log('respuesta: ', response.usuario.usuario);
          console.log('otro ', this.estudiante);
        }
      });
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        data.nombre = (data.nombre || '').toUpperCase();
        data.descripcion = (data.descripcion || '').toUpperCase();
        data.nro_modulo = parseInt(data.nro_modulo);
        data.hrs_presenciales = parseInt(data.hrs_presenciales);
        data.hrsno_presenciales = parseInt(data.hrsno_presenciales);
        data.total_carga = parseInt(data.total_carga);
        data.total_creditos = parseInt(data.total_creditos);
        if (data.id) {
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $modulosprograma: EditModulosprograma!) {
                modulosprogramaEdit(id: $id, modulosprograma: $modulosprograma) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              modulosprograma: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.id_programa = this.idPrograma;
          this.$service.graphql({
            query: `
              mutation add($modulosprograma: NewModulosprograma!) {
                modulosprogramaAdd(modulosprograma: $modulosprograma) {
                  id
                }
              }
            `,
            variables: {
              modulosprograma: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    },
    sumarCargaTotal () {
      this.form.total_carga = parseInt(this.form.hrsno_presenciales || 0) + parseInt(this.form.hrs_presenciales || 0);
    },
    getTotalCreditos () {
      this.form.total_creditos = (parseInt(this.form.hrsno_presenciales || 0) + parseInt(this.form.hrs_presenciales || 0)) / 40;
    },
    descargarTodo () {
      // TODO: Implementar función de sincronización con el portál único
    }
  },

  watch: {
    'form.hrs_presenciales' () {
      this.sumarCargaTotal();
      this.getTotalCreditos();
    },
    'form.hrsno_presenciales' () {
      this.sumarCargaTotal();
      this.getTotalCreditos();
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
