<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> ASIGNACIÓN DE MÓDULOS </h3>
    <v-autocomplete
      :items="programas"
      class="uppercase"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa_search"
      item-text="nombre"
      item-value="id"
      return-object>
      <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
       <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
        </v-chip>
      </template>

    </v-autocomplete>
    <div grid-list-md>
      <v-layout>
        <v-flex xs6>
          <v-autocomplete
            v-if="id_programa_search"
            :items="bloques"
            label="Seleccione el bloque"
            id="bloques"
            v-model="id_bloque"
            item-text="nombre"
            item-value="id"
          >
            <template v-slot:item="{ item }">
                <v-list-tile-content>
                  <v-list-tile-sub-title>{{ item.numero}} {{". "}} {{ item.nombre}}</v-list-tile-sub-title>
                </v-list-tile-content>
              </template>
            <template v-slot:selection="{ item, selected }">
              <v-chip
                :selected="selected"
                color="blue-grey"
                class="white--text"
              >
                {{item.numero}} {{". "}} {{item.nombre}}
              </v-chip>
            </template>
          </v-autocomplete>
        </v-flex>
        <v-flex xs6>
          <v-autocomplete
            v-if="id_bloque"
            :items="modulos"
            label="Seleccione el módulo"
            id="modulos"
            v-model="id_modulo"
            item-text="nombre"
            item-value="id"
          >
            <template v-slot:item="{ item }">
                <v-list-tile-content>
                  <v-list-tile-sub-title>{{item.nro_modulo}} {{". "}} {{ item.nombre}}</v-list-tile-sub-title>
                </v-list-tile-content>
              </template>
            <template v-slot:selection="{ item, selected }">
              <v-chip
                :selected="selected"
                color="blue-grey"
                class="white--text"
              >
                {{item.nro_modulo}} {{". "}} {{item.nombre}}
              </v-chip>
            </template>
          </v-autocomplete>
        </v-flex>
      </v-layout>
    </div>
    <div grid-list-md>
      <v-layout>
        <v-flex xs6>
          <v-autocomplete
            v-if="id_modulo"
            :items="bloques"
            label="Seleccione el bloque"
            id="bloques"
            v-model="id_bloque_sig"
            item-text="nombre"
            item-value="id"
          >
            <template v-slot:item="{ item }">
                <v-list-tile-content>
                  <v-list-tile-sub-title>{{ item.numero}} {{". "}} {{ item.nombre}}</v-list-tile-sub-title>
                </v-list-tile-content>
              </template>
            <template v-slot:selection="{ item, selected }">
              <v-chip
                :selected="selected"
                color="blue-grey"
                class="white--text"
              >
                {{item.numero}} {{". "}} {{item.nombre}}
              </v-chip>
            </template>
          </v-autocomplete>
        </v-flex>
        <v-flex xs6>
          <v-autocomplete
            v-if="id_bloque_sig"
            :items="modulosSig"
            label="Seleccione el módulo"
            id="modulosSig"
            v-model="id_modulo_sig"
            item-text="nombre"
            item-value="id"
          >
            <template v-slot:item="{ item }">
                <v-list-tile-content>
                  <v-list-tile-sub-title>{{item.nro_modulo}} {{". "}} {{ item.nombre}}</v-list-tile-sub-title>
                </v-list-tile-content>
              </template>
            <template v-slot:selection="{ item, selected }">
              <v-chip 
                :selected="selected"
                color="blue-grey"
                class="white--text"
              >
                {{item.nro_modulo}} {{". "}} {{item.nombre}}
              </v-chip>
            </template>
          </v-autocomplete>
        </v-flex>
      </v-layout>
    </div>
    <v-card  v-if="show">
      <v-card-text>      
        <table class="v-datatable v-table theme--light" >
          <thead>
            <tr>
              <th style="text-align:left"> Nro.</th>
              <th style="text-align:left"> Nombre Completo</th>
              <th style="text-align:left"> Carnet de Indetidad</th>
              <th style="text-align:left"> Telefono Celular</th>
              <th style="text-align:left"> Correo Electronico</th>
              <th style="text-align:left"> Nota</th>
              <th style="text-align:left"> Evalución</th>
              <th style="text-align:left"> Seleccionar</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              v-for="(item, index) in estudiantes"
              :key="index">
              <td style="text-align:left">{{ item.index }}</td>
              <td style="text-align:left" class="nowrap">{{ item.items[0].estudiante.persona.primer_apellido}} {{ item.items[0].estudiante.persona.segundo_apellido}} {{ item.items[0].estudiante.persona.nombres}}</td>
              <td style="text-align:left">{{ item.items[0].estudiante.persona.nro_documento }} {{item.items[0].estudiante.persona.lugar_exp}}</td>
              <td style="text-align:left">{{ item.items[0].estudiante.persona.movil }}</td>
              <td style="text-align:left">{{ item.items[0].estudiante.email }}</td>
              <td>
                {{ item.total }}
              </td>
              <td>
                {{item.items[0].est_evaluacion}}
              </td>
              <td>
              <v-checkbox
                color="primary"
                hide-details
                class="mt-0"
                v-model="item.asignar">
              </v-checkbox>
              </td>
            </tr>
          </tbody>
        </table>      
      </v-card-text>
      <v-card-actions>
      <small class="error--text text-required">* Los campos son obligatorios</small>
      <v-spacer></v-spacer>
      <v-btn color="primary" type="submit" @click= "asignarModulo"><v-icon>trending_flat</v-icon>ASIGNAR AL SIGUIENTE MÓDULO</v-btn>
    </v-card-actions>
    </v-card>
    <v-dialog v-model="$store.state.modal2" max-width="1000">
      <Asignacion 
        :id-programa="idPrograma" 
        :id-version="idVersion" 
        :id-bloque="idBloque" 
        :id-modulo="idModulo" 
        v-if="idModulo" />
    </v-dialog>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import listas from './mixins/listas';

export default {
  mixins: [ crud, validate, token, logDatos, listas ],
  created () {
    this.user = this.$storage.getUser();
    this.programas = [];
    this.getProgramas('INICIO', 'programas');
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_asignacionDocente, 'asignacionDocente', this.dataGraphql, false);
    }
  },
  data () {
    return {
      programas: [],
      versiones: [],
      bloques: [],
      id_programa_search: null,
      id_bloque: null,
      idPrograma: 0,
      idVersion: 0,
      idBloque: 0,
      idModulo: 0,
      idBloqueSig: 0,
      idModuloSig: 0,
      id_programa: null,
      id_modulo: null,
      id_modulo_sig: null,
      id_bloque_sig: null,
      modulos: [],
      modulosSig: [],
      docentes: [],
      estudiantes: [],
      auxEstudiantes: [],
      show: false,
      valid: true,
      modulo: null,
      logDatos: null,
      graphql: true, // Definiendo el CRUD con Graphql
      filters: [
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_bloque',
          type: 'hidden',
          typeG: 'Int'
        }
      ],
      menu1: false,
      menu2: false,
      queryVersiones: `
        query versiones($id: Int!) {
          detallesprogramas(id_programa: $id) {
            count
            rows {
              id
              version
              gestion
              id_programa
            }
          }
        }
      `,
      queryModulos: `
        query modulos($id: Int!) {
          modulosprogramas(order: "nro_modulo", id_bloque: $id) {
            count
            rows {
              id
              nro_modulo
              nombre
            }
          }
        }
      `
    };
  },
  methods: {
    getModulos (id) {
      this.$service.graphql({
        query: this.queryModulos,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.modulos = response.modulosprogramas.rows || [];
        }
      });
    },
    getModulosSig (id) {
      this.$service.graphql({
        query: this.queryModulos,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.modulosSig = response.modulosprogramas.rows || [];
        }
      });
    },
    getEstudiantes (idP, idV, idB, idM) {
      this.$service.graphql({
        query: `
        query getEstudiantes {
          records (id_programa: ${idP}, id_version: ${idV}, id_bloque: ${idB}, id_modulo: ${idM}) {
            count
            rows {
              id
              id_estudiante
              nota
              est_evaluacion
              est_valoracion
              estudiante {
                persona {
                  primer_apellido
                  segundo_apellido
                  nombres
                  nombre_completo
                  nro_documento
                  movil
                  lugar_exp
                }
                email
              }
              programa {
                nota_minima
                tipo
              }
            }
          }
        }
      `,
        variables: {
        }
      }).then(response => {
        if (response) {
          this.show = false;
          this.$nextTick(() => {
            // this.estudiantes = response.records.rows || [];
            // console.log('estudiantes: ', this.estudiantes);
            // this.auxEstudiantes = this.estudiantes.reduce((acc, item) => {
            //   (acc[item.id_estudiante] = acc[item.id_estudiante] ||[] ).push(item.nota);
            // },{})
            let estudiantes = {};
            for (const item of (response.records.rows || [])) {
              if (!estudiantes[item.id_estudiante]) {
                estudiantes[item.id_estudiante] = {
                  items: [],
                  total: 0
                };
              }
              estudiantes[item.id_estudiante].items.push(item);
            }
            let i = 0;
            for (const id in estudiantes) {
              let total = 0;
              for (const el of estudiantes[id].items) {
                total += parseFloat(el.nota);
              }
              estudiantes[id].total = total / estudiantes[id].items.length;
              estudiantes[id].index = ++i;
            }
            console.log('estudiantes: ', estudiantes);
            this.estudiantes = estudiantes;
            this.show = true;
          });
        }
      });
    },
    asignarModulo () {
      // let registros = this.estudiantes.filter(item => item.asignar);
      let registros = [];
      for (const id in this.estudiantes) {
        if (this.estudiantes[id].asignar) {
          registros.push({ id_estudiante: id });
        }
      }
      console.log('asignar', registros);
      let idP = parseInt(this.idPrograma);
      let idV = parseInt(this.idVersion);
      let idB = parseInt(this.idBloqueSig);
      let idM = parseInt(this.idModuloSig);
      for (let est of registros) {
        console.log('Ingresar por id_estudiante', est.id_estudiante);
        this.$service.graphql({
          query: `
            query asignacionDocentes {
              asignacionDocentes(id_programa: ${idP}, id_version: ${idV}, id_bloque: ${idB}, id_modulo: ${idM} ) {
                count
                rows {
                  id
                  modulo_ini
                  modulo_fin
                  id_modulo
                  id_version
                  id_bloque
                  id_docente
                  id_programa
                }
              }
            }`,
          variables: {}
        }).then(response => {
          if (response) {
            if (response.asignacionDocentes.count > 0) {
              this.asignaciones = response.asignacionDocentes.rows || [];
              console.log('OBTIENE ASIGNACIONES', this.asignaciones);
              for (let a of this.asignaciones) {
                this.crearRecord(a.id_programa, a.id_version, a.id_bloque, a.id_modulo, a.id_docente, est.id_estudiante);
              }
            }
            // else {
            //   this.getBloques(1, idPrograma, idVersion, item);
            //   this.crearPlanPagos(id);
            // }
          }
        });
      }
    },
    crearRecord (idP, idV, idB, idM, idD, idE) {
      console.log('pruebas de crearRecords', idE);
      let record = {};
      record.id_estudiante = parseInt(idE);
      record.id_programa = parseInt(idP);
      record.id_version = parseInt(idV);
      record.id_bloque = parseInt(idB);
      record.id_modulo = parseInt(idM);
      record.id_docente = parseInt(idD);
      this.$service.graphql({
        query: `
          mutation add($record: NewRecord!) {
            recordAdd(record: $record) {
              id
            }
          }
        `,
        variables: {
          record: record
        }
      }).then(response => {
        if (response) {
          // this.idContrato = response.contratoAdd.id;
          this.$store.commit('closeModal');
          this.updateList();
          this.$message.success();
          this.$store.commit('usuario/cleanForm');
        }
      });
    }
  },
  components: {
    CrudTable,
    LogDatos
  },
  watch: {
    'id_programa_search' (val) {
      this.idPrograma = parseInt(val.id);
      this.idVersion = parseInt(val.version.id);
      this.getBloques(val.id);
    },
    'id_bloque' (val) {
      if (val) {
        this.idBloque = parseInt(val);
        this.getModulos(this.idBloque);
      }
    },
    'id_modulo' (val) {
      if (val) {
        console.log('resultado de: ', val);
        //  this.idModulo = parseInt(val);
        this.show = false;
        this.$nextTick(() => {
          this.idModulo = parseInt(val);
          this.getEstudiantes(this.idPrograma, this.idVersion, this.id_bloque, this.idModulo);
          this.show = true;
        });
      }
    },
    'id_bloque_sig' (val) {
      if (val) {
        this.idBloqueSig = parseInt(val);
        this.getModulosSig(this.idBloqueSig);
        console.log('this.idBloqueSig: ', this.idBloqueSig);
      }
    },
    'id_modulo_sig' (val) {
      if (val) {
        this.idModuloSig = parseInt(val);
        console.log('this.idModuloSig: ', this.idModuloSig);
      }
    }
  }
};
</script>
