<template>
  <section class="evaluacion-alumno">
    <h2>EVALUACION DE PROFESORES Y ADMINISTRACION DEL CURSO</h2>
    <v-card>
      <v-card-text>
        <v-layout>
          <v-flex xs12>
            <v-autocomplete
              :items="programas"
              class="uppercase"
              label="Seleccione un Programa"
              id="programas"
              v-model="id_programa"
              item-text="nombre"
              item-value="id"
              return-object>
              <template v-slot:item="{ item }">
                <v-list-tile-content>
                  <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
                </v-list-tile-content>
              </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs4>
            <v-autocomplete
              v-if="id_programa"
              :items="bloques"
              class="uppercase"
              label="Seleccione el bloque"
              id="bloques"
              v-model="id_bloque"
              item-text="nombre"
              item-value="id"
            >
              <template v-slot:item="{ item }">
                  <v-list-tile-content>
                    <v-list-tile-sub-title>{{ item.nombre}}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{item.nombre}}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
          <v-flex xs4>
            <v-autocomplete
              v-if="id_bloque"
              class="uppercase"
              v-model="id_modulo"
              :items="modulos"
              label="Seleccione el módulo"
              item-value="id"
              item-text="nombre"
            >
              <template v-slot:item="{ item }">
                  <v-list-tile-content>
                    <v-list-tile-sub-title>{{ item.nombre}}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{item.nombre}}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
          <v-flex xs4>
            <v-autocomplete
              v-if="id_modulo"
              class="uppercase"
              v-model="id_docente"
              :items="docentes"
              label="Seleccione el docente"
              item-value="id"
              item-text="persona.nombre_completo"
            >
              <template v-slot:item="{ item }">
                  <v-list-tile-content>
                    <v-list-tile-sub-title>{{ item.persona.nombre_completo}}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{item.persona.nombre_completo}}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
        </v-layout>
        <div v-if="id_docente">
          <h3>I. ACTIVIDADES ACADEMICAS</h3>
          <table class="v-datatable v-table theme--light">
            <thead>
              <tr>
                <th class="column">&nbsp;</th>
                <th class="column text-xs-right">1</th>
                <th class="column text-xs-right">2</th>
                <th class="column text-xs-right">3</th>
                <th class="column text-xs-right">4</th>
                <th class="column text-xs-right">5</th>
                <th class="column">Alumnos</th>
                <th class="column">Puntaje</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="column">Pregunta</th>
                <td>60%</td>
                <td>70%</td>
                <td>80%</td>
                <td>90%</td>
                <td>100%</td>
                <td></td>
                <td>%</td>
              </tr>
              <tr 
                v-for="item in actividades.items"
                :key="item.numero">
                <th class="column">{{ item.numero }}</th>
                <td>
                  <v-text-field
                    class="text-xs-right" 
                    v-model="item.pregunta1"
                    placeholder="0"
                    :disabled="!edit"
                    @input="sumar(item)"
                  />
                </td>
                <td>
                  <v-text-field
                    class="text-xs-right" 
                    v-model="item.pregunta2"
                    placeholder="0"
                    :disabled="!edit"
                    @input="sumar(item)"
                  />
                </td>
                <td>
                  <v-text-field
                    class="text-xs-right" 
                    v-model="item.pregunta3"
                    placeholder="0"
                    :disabled="!edit"
                    @input="sumar(item)"
                  />
                </td>
                <td>
                  <v-text-field
                    class="text-xs-right" 
                    v-model="item.pregunta4"
                    placeholder="0"
                    :disabled="!edit"
                    @input="sumar(item)"
                  />
                </td>
                <td>
                  <v-text-field
                    class="text-xs-right" 
                    v-model="item.pregunta5"
                    placeholder="0"
                    :disabled="!edit"
                    @input="sumar(item)"
                  />
                </td>
                <td>{{ item.alumnos }}</td>
                <td class="text-xs-right">{{ item.puntaje }}%</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th 
                  colspan="6"
                  class="text-xs-right">PROMEDIO FINAL</th>
                <th></th>
                <td class="text-xs-right"><strong>{{ actividades.total }}%</strong></td>
              </tr>
            </tfoot>
          </table>
          <hr />
          <h3>II. SATISFACCION DEL ALUMNO</h3>
          <table class="v-datatable v-table theme--light">
            <thead>
              <tr>
                <th class="column">&nbsp;</th>
                <th class="column text-xs-right">1</th>
                <th class="column text-xs-right">2</th>
                <th class="column text-xs-right">3</th>
                <th class="column text-xs-right">4</th>
                <th class="column text-xs-right">5</th>
                <th class="column">Alumnos</th>
                <th class="column">Puntaje</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th class="column">Pregunta</th>
                <td>60%</td>
                <td>70%</td>
                <td>80%</td>
                <td>90%</td>
                <td>100%</td>
                <td></td>
                <td>%</td>
              </tr>
              <tr 
                v-for="item in satisfaccion.items"
                :key="item.numero">
                <th class="column">{{ item.numero }}</th>
                <td>
                  <v-text-field
                    class="text-xs-right" 
                    v-model="item.pregunta1"
                    placeholder="0"
                    :disabled="!edit"
                    @input="sumar(item, 'satisfaccion')"
                  />
                </td>
                <td>
                  <v-text-field
                    class="text-xs-right" 
                    v-model="item.pregunta2"
                    placeholder="0"
                    :disabled="!edit"
                    @input="sumar(item, 'satisfaccion')"
                  />
                </td>
                <td>
                  <v-text-field
                    class="text-xs-right" 
                    v-model="item.pregunta3"
                    placeholder="0"
                    :disabled="!edit"
                    @input="sumar(item, 'satisfaccion')"
                  />
                </td>
                <td>
                  <v-text-field
                    class="text-xs-right" 
                    v-model="item.pregunta4"
                    placeholder="0"
                    :disabled="!edit"
                    @input="sumar(item, 'satisfaccion')"
                  />
                </td>
                <td>
                  <v-text-field
                    class="text-xs-right" 
                    v-model="item.pregunta5"
                    placeholder="0"
                    :disabled="!edit"
                    @input="sumar(item, 'satisfaccion')"
                  />
                </td>
                <td>{{ item.alumnos }}</td>
                <td class="text-xs-right">{{ item.puntaje }}%</td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th 
                  colspan="6"
                  class="text-xs-right">PROMEDIO FINAL</th>
                <th></th>
                <td class="text-xs-right"><strong>{{ satisfaccion.total }}%</strong></td>
              </tr>
            </tfoot>
          </table>
          <hr />
          <table class="v-datatable v-table theme--light">
            <tfoot>
              <tr>
                <th class="text-xs-right">PROMEDIO GENERAL DEL DOCENTE</th>
                <td class="text-xs-right"><strong>{{ promedio }}%</strong></td>
              </tr>
            </tfoot>
          </table>
          <hr />
          <table class="v-table theme--light">
            <tbody>
              <tr>
                <td>Tomaría otra clase con el profesor:</td>
                <td>&nbsp;</td>
                <td>SI</td>
                <td>
                  <v-text-field 
                    v-model="preferencia.si"
                    placeholder="0"
                    :disabled="!edit"
                  />
                </td>
                <td>&nbsp;</td>
                <td>NO</td>
                <td>
                  <v-text-field 
                    v-model="preferencia.no"
                    placeholder="0"
                    :disabled="!edit"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <hr />
          <table class="v-table theme--light">
            <thead>
              <tr>
                <th class="column">CURSO</th>
                <th class="column">Lo más positivo</th>
                <th class="column">Lo que se debe mejorar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Profesor: {{ evaluacion.docente }}</td>
                <td>
                  <v-textarea 
                    v-model="evaluacion.positivo"
                    :disabled="!edit"
                  />
                </td>
                <td>
                  <v-textarea 
                    v-model="evaluacion.negativo"
                    :disabled="!edit"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-xs-right">
            <v-btn
              @click="generarPdf">
              <v-icon>print</v-icon>
              <span>Imprimir</span>
            </v-btn>
            <!-- <v-btn color="primary" @click="guardar">Guardar cambios</v-btn> -->
          </div>
        </div>
      </v-card-text>
    </v-card>
  </section>
</template>

<script>
import reportes from './mixins/reportes';
import listas from '@/components/gestionacademica/asignaciondocente/mixins/listas';

export default {
  mixins: [reportes, listas],
  data () {
    return {
      actividades: {
        items: [],
        total: 0
      },
      satisfaccion: {
        items: [],
        total: 0
      },
      preferencia: {
        si: 0,
        no: 0
      },
      evaluacion: {
        positivo: '',
        negativo: ''
      },
      id_docente: null,
      docentes: [],
      programas: [],
      modulos: [],
      id_programa: null,
      bloques: [],
      id_bloque: null,
      id_modulo: null,
      idPrograma: null,
      idVersion: null,
      edit: false
    };
  },
  created () {
    this.actividades.items = Array(10).fill().map((_, i) => {
      return {
        numero: i + 1,
        pregunta1: 0,
        pregunta2: 0,
        pregunta3: 0,
        pregunta4: 0,
        pregunta5: 0,
        alumnos: 0,
        puntaje: 0
      };
    });
    this.satisfaccion.items = Array(2).fill().map((_, i) => {
      return {
        numero: i + 1,
        pregunta1: 0,
        pregunta2: 0,
        pregunta3: 0,
        pregunta4: 0,
        pregunta5: 0,
        alumnos: 0,
        puntaje: 0
      };
    });
    this.getProgramas('programas');
    this.getEstudiantes(4, 'docentes');
  },
  computed: {
    promedio () {
      return (parseInt(this.actividades.total) + parseInt(this.satisfaccion.total)) / 2;
    }
  },
  methods: {
    getEvaluaciones (idDocente) {
      this.$service.graphql({
        query: this.queryEvaluaciones,
        variables: {
          id_programa: this.idPrograma,
          id_version: this.idVersion,
          id_docente: parseInt(idDocente),
          id_bloque: parseInt(this.id_bloque),
          id_modulo: parseInt(this.id_modulo),
          // id_estudiante: this.user.id,
          tipo: 'ALUMNO',
          estado: 'EVALUADO'
        }
      }).then(response => {
        if (response) {
          console.log(response.evaluaciones);
          const items = response.evaluaciones.rows || [];
          let positivo = [];
          let negativo = [];
          for (const item of items) {
            for (const index in item.evaluacion.actividades) {
              this.actividades.items[index][`pregunta${item.evaluacion.actividades[index].opcion}`]++;
              this.actividades.items[index].alumnos++;
              this.actividades.items[index].puntaje = this.sumar(this.actividades.items[index]);
            }
            for (const index in item.evaluacion.satisfaccion) {
              this.satisfaccion.items[index][`pregunta${item.evaluacion.satisfaccion[index].opcion}`]++;
              this.satisfaccion.items[index].alumnos++;
              this.satisfaccion.items[index].puntaje = this.sumar(this.satisfaccion.items[index], 'satisfaccion');
            }
            if (item.evaluacion.preferencia === 'SI') {
              this.preferencia.si++;
            } else {
              this.preferencia.no++;
            }
            this.evaluacion.docente = item.evaluacion.evaluacion.docente;
            positivo.push('- ' + item.evaluacion.evaluacion.positivo);
            negativo.push('- ' + item.evaluacion.evaluacion.negativo);
          }
          this.evaluacion.positivo = positivo.join('\n');
          this.evaluacion.negativo = negativo.join('\n');
        }
      });
    },
    sumar (item, element = 'actividades') {
      const p1 = parseInt(item.pregunta1 || 0);
      const p2 = parseInt(item.pregunta2 || 0);
      const p3 = parseInt(item.pregunta3 || 0);
      const p4 = parseInt(item.pregunta4 || 0);
      const p5 = parseInt(item.pregunta5 || 0);
      item.alumnos = p1 + p2 + p3 + p4 + p5;
      const suma = p1 * 60 + p2 * 70 + p3 * 80 + p4 * 90 + p5 * 100;
      const puntaje = item.alumnos === 0 ? 0 : suma / item.alumnos; // Para evitar la división entre cero
      item.puntaje = puntaje.toFixed(0);
      let total = 0;
      let totalPreguntas = 0;
      for (const pregunta of this[element].items) {
        console.log(element, pregunta.puntaje);
        if (pregunta.puntaje) {
          total += parseInt(pregunta.puntaje || 0);
          totalPreguntas++;
        }
      }
      this[element].total = (total / totalPreguntas).toFixed(0);
      return item.puntaje;
    },
    generarPdf () {
      const data = {
        actividades: this.actividades,
        satisfaccion: this.satisfaccion,
        preferencia: this.preferencia,
        evaluacion: this.evaluacion,
        programa: this.id_programa.nombre || '',
        docente: this.docentes.filter(item => item.id === this.id_docente)[0].persona.nombre_completo,
        modulo: this.modulos.filter(item => item.id === this.id_modulo)[0].nombre
      };
      this.$service.post('system/evaluacion/consolidado/', data)
        .then(response => {
          if (response) {
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `evaluacion-docente-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    }
  },
  watch: {
    'id_programa' (val) {
      this.idPrograma = parseInt(val.id);
      this.idVersion = parseInt(val.version.id);
      this.getBloques(val.id);
    },
    'id_docente' (val) {
      this.getEvaluaciones(val);
    },
    'id_bloque' (val) {
      this.getModulos(parseInt(val));
    }
  }
};
</script>

<style lang="scss">
.evaluacion-alumno {
  p {
    margin: 0;
  }
  hr {
    margin: 15px 0;
  }
}
</style>