<template>
  <section class="evaluacion-alumno">
    <h2 class="m-0">EVALUACION ACADEMICA DEL CURSO</h2>
    <h3>Evaluado por: {{ user.primer_apellido }} {{ user.segundo_apellido }} {{ user.nombres }}</h3>
    <v-card>
      <v-card-text>
        <v-layout>
          <v-flex xs12>
            <v-autocomplete
              :items="programas"
              class="uppercase"
              label="Seleccione un Programa"
              id="programas"
              v-model="id_programa"
              item-text="nombre"
              item-value="id"
              return-object>
              <template v-slot:item="{ item }">
                <v-list-tile-content>
                  <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
                </v-list-tile-content>
              </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs4>
            <v-autocomplete
              v-if="id_programa"
              :items="bloques"
              class="uppercase"
              label="Seleccione el bloque"
              id="bloques"
              v-model="id_bloque"
              item-text="nombre"
              item-value="id"
            >
              <template v-slot:item="{ item }">
                  <v-list-tile-content>
                    <v-list-tile-sub-title>{{ item.nombre}}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{item.nombre}}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
          <v-flex xs4>
            <v-autocomplete
              v-if="id_bloque"
              class="uppercase"
              v-model="id_modulo"
              :items="modulos"
              label="Seleccione el módulo"
              item-value="id"
              item-text="nombre"
            >
              <template v-slot:item="{ item }">
                  <v-list-tile-content>
                    <v-list-tile-sub-title>{{ item.nombre}}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{item.nombre}}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
          <v-flex xs4>
            <v-autocomplete
              v-if="id_modulo"
              class="uppercase"
              v-model="id_docente"
              :items="docentes"
              label="Seleccione el docente"
              item-value="id"
              item-text="persona.nombre_completo"
            >
              <template v-slot:item="{ item }">
                  <v-list-tile-content>
                    <v-list-tile-sub-title>{{ item.persona.nombre_completo}}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{item.persona.nombre_completo}}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
        </v-layout>
        <div v-if="id_docente">
          <p v-for="(item, index) in descripcion" :key="index" v-html="item"></p>
          <table class="v-datatable v-table theme--light">
            <tbody>
              <tr 
                v-for="item in preguntas"
                :key="item.numero">
                <td>{{ item.numero }}</td>
                <td>{{ item.descripcion }}</td>
                <td>
                  <v-radio-group 
                    v-model="item.opcion" 
                    hide-details 
                    :disabled="!edit"
                    row>
                    <v-radio 
                      v-for="(opcion, index) in item.opciones" 
                      :key="index"
                      :label="opcion.label + '.'" 
                      :value="opcion.value" />
                  </v-radio-group>
                </td>
              </tr>
            </tbody> 
          </table>
          <hr />
          <h3>Comentarios y Sugerencias(concretas)</h3>
          <div v-if="sugerencias.length">
            <v-text-field 
              v-for="item in sugerencias"
              :key="item.numero"
              :disabled="!edit"
              :label="item.numero + '.'"
              v-model="item.value" />
          </div>
          <div class="text-xs-right">
            <v-btn
              :disabled="!id || estado === 'EVALUADO'"
              @click="generarPdf">
              <v-icon>print</v-icon>
              <span>Imprimir</span>
            </v-btn>
            <v-btn color="info" @click="guardar" :disabled="estado === 'EVALUADO'">Guardar cambios</v-btn>
            <v-btn color="primary" @click="terminar" :disabled="!id || estado === 'EVALUADO'">Terminar encuesta</v-btn>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </section>
</template>

<script>
import reportes from './mixins/reportes';
import listas from '@/components/gestionacademica/asignaciondocente/mixins/listas';

export default {
  mixins: [reportes, listas],
  data () {
    return {
      preguntas: [],
      sugerencias: [],
      docentes: [],
      programas: [],
      id_docente: null,
      id_modulo: null,
      id_programa: null,
      id_bloque: null,
      idPrograma: null,
      idVersion: null,
      bloques: [],
      modulos: [],
      id: null,
      descripcion: [
        'La presente boleta tiene la finalidad de recoger su opinión sobre el desenvolvimiento académico de los alumnos, en sus aspectos de asimilación de conocimiento y rendimiento de los mismos que permita reforzar y ajustar la administración académica para que contributa a mantener un buen nivel académico acorde a las exigencias del CIDES.',
        '(Sírvase marcar el casillero correspondiente, la valoración en la escala que considera que a mejor puntaje mejor evaluación)'
      ],
      estado: 'PENDIENTE',
      edit: true
    };
  },
  created () {
    this.user = this.$storage.getUser();
    this.preguntas = [
      {
        numero: 1,
        descripcion: 'Asistencia y puntualidad',
        opciones: this.getOpciones()
      },
      {
        numero: 2,
        descripcion: 'Participación de los alumnos',
        opciones: this.getOpciones()
      },
      {
        numero: 3,
        descripcion: 'Su método didáctico fue aceptado por los alumnos',
        opciones: this.getOpciones()
      },
      {
        numero: 4,
        descripcion: 'Capacidad de abstracción y conceptualización',
        opciones: this.getOpciones()
      },
      {
        numero: 5,
        descripcion: 'Capacidad de compresión',
        opciones: this.getOpciones()
      },
      {
        numero: 6,
        descripcion: 'Capacidad de síntesis',
        opciones: this.getOpciones()
      },
      {
        numero: 7,
        descripcion: 'Capacidad de transmitir ideas por escrito',
        opciones: this.getOpciones()
      },
      {
        numero: 8,
        descripcion: 'Capacidad de reflexiva de los alumnos',
        opciones: this.getOpciones()
      },
      {
        numero: 9,
        descripcion: 'Capacidad de expresión oral',
        opciones: this.getOpciones()
      },
      {
        numero: 10,
        descripcion: 'Manejo bibliográfico',
        opciones: this.getOpciones()
      },
      {
        numero: 11,
        descripcion: 'Relación profesor con los alumnos',
        opciones: this.getOpciones()
      },
      {
        numero: 12,
        descripcion: 'Se sintió apoyado(a) por la coordinación del curso',
        opciones: this.getOpciones()
      },
      {
        numero: 13,
        descripcion: 'La administración académica del CIDES le satisfizo',
        opciones: this.getOpciones()
      },
      {
        numero: 14,
        descripcion: 'De repetir la experiencia en el futuro realizarla varios cambios en su propuesta',
        opciones: [
          { label: 'SI', value: 'SI' },
          { label: 'NO', value: 'NO' }
        ]
      }
    ];

    this.sugerencias = [
      { numero: 1, value: '' },
      { numero: 2, value: '' },
      { numero: 3, value: '' }
    ];
    console.log('sugerencias', JSON.parse(JSON.stringify(this.sugerencias)));
    this.getProgramas('programas');
    this.getEstudiantes(4, 'docentes');
  },
  methods: {
    getOpciones () {
      return Array(10).fill().map((_, i) => ({ label: i + 1, value: i + 1 }));
    },
    terminar () {
      this.$confirm('Se finalizará la evaluación', () => {
        this.$service.graphql({
          query: `
            mutation ($id: ID!, $datos: EditEvaluacion!) {
              evaluacionEdit (id: $id, evaluacion: $datos) {
                id
                estado
              }
            }    
          `,
          variables: {
            id: this.id,
            datos: {
              estado: 'EVALUADO'
            }
          }
        })
        .then(response => {
          if (response) {
            this.$message.success('Evaluación terminada');
            this.estado = response.evaluacionEdit.estado;
            this.edit = false;
          }
        });
      });
    },
    guardar () {
      let query = '';
      const variables = {
        datos: {
          evaluacion: {
            descripcion: this.descripcion,
            preguntas: this.preguntas,
            sugerencias: this.sugerencias
          },
          tipo: 'DOCENTE',
          estado: 'PENDIENTE',
          id_programa: this.idPrograma,
          id_version: this.idVersion,
          id_docente: this.id_docente,
          id_bloque: this.id_bloque,
          id_modulo: this.id_modulo,
          id_estudiante: this.user.id
        }
      };
      if (this.id) {
        variables.id = parseInt(this.id);
        query = `
          mutation ($id: ID!, $datos: EditEvaluacion!) {
            evaluacionEdit (id: $id, evaluacion: $datos) {
              id
            }
          }    
        `;
      } else {
        query = `
          mutation ($datos: NewEvaluacion!) {
            evaluacionAdd (evaluacion: $datos) {
              id
            }
          }    
        `;
      }
      this.$service.graphql({ query, variables })
      .then(response => {
        if (response) {
          this.$message.success('Información actualizada');
          this.id = response.evaluacionAdd.id;
        }
      });
    },
    getEvaluacion (idDocente) {
      const query = this.queryEvaluaciones;
      const variables = {
        id_programa: this.idPrograma,
        id_version: this.idVersion,
        id_docente: parseInt(idDocente),
        id_bloque: parseInt(this.id_bloque),
        id_modulo: parseInt(this.id_modulo),
        id_estudiante: this.user.id,
        tipo: 'DOCENTE'
      };
      this.$service.graphql({ query, variables })
      .then(response => {
        if (response) {
          if (response.evaluaciones.count) {
            const data = response.evaluaciones.rows[0];
            this.preguntas = data.evaluacion.preguntas;
            this.sugerencias = data.evaluacion.sugerencias;
            this.descripcion = data.evaluacion.descripcion;
            this.id = data.id;
            this.estado = data.estado;
            if (this.estado === 'EVALUADO') {
              this.edit = false;
            }
          }
        }
      });
    },
    generarPdf () {
      this.$service.post('system/evaluacion/docente/' + this.id)
        .then(response => {
          if (response) {
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `evaluacion-docente-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    }
  },
  watch: {
    'id_programa' (val) {
      this.idPrograma = parseInt(val.id);
      this.idVersion = parseInt(val.version.id);
      this.getBloques(val.id);
    },
    'id_bloque' (val) {
      this.getModulos(parseInt(val));
    },
    'id_docente' (val) {
      this.getEvaluacion(val);
    }
  }
};
</script>

<style lang="scss">
.evaluacion-alumno {
  p {
    margin: 0;
  }
  hr {
    margin: 15px 0;
  }
}
</style>