<template>
  <section class="evaluacion-alumno">
    <h2 class="m-0">EVALUACION DE LOS ALUMNOS</h2>
    <h3>Evaluado por: {{ user.primer_apellido }} {{ user.segundo_apellido }} {{ user.nombres }}</h3>
    <v-card>
      <v-card-text>
        <v-layout>
          <v-flex xs12>
            <v-autocomplete
              :items="programas"
              class="uppercase"
              label="Seleccione un Programa"
              id="programas"
              v-model="id_programa"
              item-text="nombre"
              item-value="id"
              return-object>
              <template v-slot:item="{ item }">
                <v-list-tile-content>
                  <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
                </v-list-tile-content>
              </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
        </v-layout>
        <v-layout>
          <v-flex xs4>
            <v-autocomplete
              v-if="id_programa"
              :items="bloques"
              class="uppercase"
              label="Seleccione el bloque"
              id="bloques"
              v-model="id_bloque"
              item-text="nombre"
              item-value="id"
            >
              <template v-slot:item="{ item }">
                  <v-list-tile-content>
                    <v-list-tile-sub-title>{{ item.nombre}}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{item.nombre}}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
          <v-flex xs4>
            <v-autocomplete
              v-if="id_bloque"
              class="uppercase"
              v-model="id_modulo"
              :items="modulos"
              label="Seleccione el módulo"
              item-value="id"
              item-text="nombre"
            >
              <template v-slot:item="{ item }">
                  <v-list-tile-content>
                    <v-list-tile-sub-title>{{ item.nombre }}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{item.nombre}}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
          <v-flex xs4>
            <v-autocomplete
              v-if="id_modulo"
              class="uppercase"
              v-model="id_docente"
              :items="docentes"
              label="Seleccione el docente"
              item-value="id"
              item-text="persona.nombre_completo"
              return-object
            >
              <template v-slot:item="{ item }">
                  <v-list-tile-content>
                    <v-list-tile-sub-title>{{ item.persona.nombre_completo}}</v-list-tile-sub-title>
                  </v-list-tile-content>
                </template>
              <template v-slot:selection="{ item, selected }">
                <v-chip
                  :selected="selected"
                  color="blue-grey"
                  class="white--text"
                >
                  {{item.persona.nombre_completo}}
                </v-chip>
              </template>
            </v-autocomplete>
          </v-flex>
        </v-layout>
        <div v-if="id_docente">
          <p>Por favor responder a todas las preguntas utilizando la siguiente escala:</p>
          <table class="consolidado-puntajes">
            <thead>
              <tr>
                <th>Puntaje</th>
                <th>Significado</th>
              </tr>
            </thead>
            <tbody>
              <tr 
                v-for="item in puntajes"
                :key="item.numero">
                <td class="text-xs-center">{{ item.numero }}</td>
                <td>{{ item.descripcion }}</td>
              </tr>
            </tbody>
          </table>
          <p>Este formulario es anónimo pero requiere de su seriedad y aporte.</p>
          <hr />
          <table class="v-datatable v-table theme--light">
            <tbody>
              <tr 
                v-for="item in actividades"
                :key="item.numero">
                <td>{{ item.numero }}</td>
                <td>{{ item.descripcion }}</td>
                <td class="text-xs-right">
                  <div class="consolidado-opciones">
                    <v-radio-group 
                      v-model="item.opcion" 
                      hide-details 
                      :disabled="!edit"
                      row>
                      <v-radio 
                        v-for="(opcion, index) in item.opciones" 
                        :key="index"
                        :label="opcion.label + '.'" 
                        :value="opcion.value" />
                    </v-radio-group>
                  </div>
                </td>
              </tr>
            </tbody> 
          </table>
          <hr />
          <table class="v-datatable v-table theme--light">
            <tbody>
              <tr 
                v-for="item in satisfaccion"
                :key="item.numero">
                <td>{{ item.numero }}</td>
                <td>{{ item.descripcion }}</td>
                <td class="text-xs-right">
                  <div class="consolidado-opciones">
                    <v-radio-group 
                      v-model="item.opcion" 
                      hide-details 
                      :disabled="!edit"
                      row>
                      <v-radio 
                        v-for="(opcion, index) in item.opciones" 
                        :key="index"
                        :label="opcion.label + '.'" 
                        :value="opcion.value" />
                    </v-radio-group>
                  </div>
                </td>
              </tr>
            </tbody> 
          </table>
          <hr />
          <table class="v-datatable v-table theme--light">
            <tbody>
              <tr>
                <td>Tomaría otra clase con el profesor</td>
                <td class="text-xs-right">
                  <div class="consolidado-opciones">
                    <v-radio-group 
                      v-model="preferencia" 
                      hide-details 
                      :disabled="!edit"
                      row>
                      <v-radio label="SI" value="SI" />
                      <v-radio label="NO" value="NO" />
                    </v-radio-group>
                  </div>
                </td>
              </tr>
            </tbody> 
          </table>
          <hr />
          <table 
            v-if="evaluacion"
            class="v-table theme--light">
            <thead>
              <tr>
                <th class="column">CURSO</th>
                <th class="column">Lo más positivo</th>
                <th class="column">Lo que se debe mejorar</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Profesor: {{ evaluacion.docente }}</td>
                <td>
                  <v-textarea 
                    :disabled="!edit"
                    v-model="evaluacion.positivo"
                  />
                </td>
                <td>
                  <v-textarea 
                    :disabled="!edit"
                    v-model="evaluacion.negativo"
                  />
                </td>
              </tr>
            </tbody>
          </table>
          <div class="text-xs-right">
            <v-btn
              :disabled="!id || estado === 'EVALUADO'"
              @click="generarPdf">
              <v-icon>print</v-icon>
              <span>Imprimir</span>
            </v-btn>
            <v-btn color="info" @click="guardar" :disabled="estado === 'EVALUADO'">Guardar cambios</v-btn>
            <v-btn color="primary" @click="terminar" :disabled="!id || estado === 'EVALUADO'">Terminar encuesta</v-btn>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </section>
</template>

<script>
import reportes from './mixins/reportes';
import listas from '@/components/gestionacademica/asignaciondocente/mixins/listas';

export default {
  mixins: [reportes, listas],
  data () {
    return {
      puntajes: [
        { numero: 1, descripcion: 'Totalmente en desacuerdo' },
        { numero: 2, descripcion: 'Parcialmente en desacuerdo' },
        { numero: 3, descripcion: 'Ni de acuerdo ni en desacuerdo' },
        { numero: 4, descripcion: 'Parcialmente de acuerdo' },
        { numero: 5, descripcion: 'Totalmente de acuerdo' }
      ],
      actividades: [],
      satisfaccion: [],
      preferencia: null,
      evaluacion: {
        docente: '',
        positivo: '',
        negativo: ''
      },
      id_docente: null,
      id_modulo: null,
      docentes: [],
      modulos: [],
      programas: [],
      id_programa: null,
      bloques: [],
      id_bloque: null,
      idPrograma: null,
      idVersion: null,
      id: null,
      estado: 'PENDIENTE',
      edit: true
    };
  },
  created () {
    this.user = this.$storage.getUser();
    this.actividades = [
      {
        numero: 1,
        descripcion: 'El profesor tenía dominio sobre la materia',
        opciones: this.getOpciones()
      },
      {
        numero: 2,
        descripcion: 'El profesor explicaba los temas claramente',
        opciones: this.getOpciones()
      },
      {
        numero: 3,
        descripcion: 'El profesor tenía un maneejo adecuado del tiempo y temas',
        opciones: this.getOpciones()
      },
      {
        numero: 4,
        descripcion: 'El profesor me motivaba a que dé mi mejor esfuerzo para el análisis',
        opciones: this.getOpciones()
      },
      {
        numero: 5,
        descripcion: 'El profesor me motivaba a que dé mi mejor esfuerzo para mi participación',
        opciones: this.getOpciones()
      },
      {
        numero: 6,
        descripcion: 'El profesor demostraba interés para acompañar el aprendizaje por los estudiantes',
        opciones: this.getOpciones()
      },
      {
        numero: 7,
        descripcion: 'La bibliografía entregada fue tratada en clases',
        opciones: this.getOpciones()
      },
      {
        numero: 8,
        descripcion: 'Los materiales recibidos fueron de mucha utilidad para el conocimiento de la materia',
        opciones: this.getOpciones()
      },
      {
        numero: 9,
        descripcion: 'Los otros materiales recibidos fueron de mucha utilidad (presentaciones, métodos, software, etc.)',
        opciones: this.getOpciones()
      },
      {
        numero: 10,
        descripcion: 'El sistema de evaluación que utilizó el profesor es adecuada',
        opciones: this.getOpciones()
      }
    ];
    this.satisfaccion = [
      {
        numero: 1,
        descripcion: 'En suma, el profesor ha sido un profesor efectivo',
        opciones: this.getOpciones()
      },
      {
        numero: 2,
        descripcion: 'En suma, este ha sido un curso en el que aprendí mucho',
        opciones: this.getOpciones()
      }
    ];
    this.getProgramas('programas');
    this.getEstudiantes(4, 'docentes');
  },
  methods: {
    terminar () {
      this.$confirm('Se finalizará la evaluación', () => {
        this.$service.graphql({
          query: `
            mutation ($id: ID!, $datos: EditEvaluacion!) {
              evaluacionEdit (id: $id, evaluacion: $datos) {
                id
                estado
              }
            }    
          `,
          variables: {
            id: this.id,
            datos: {
              estado: 'EVALUADO'
            }
          }
        })
        .then(response => {
          if (response) {
            this.$message.success('Evaluación terminada');
            this.estado = response.evaluacionEdit.estado;
            this.edit = false;
          }
        });
      });
    },
    guardar () {
      let query = '';
      const variables = {
        datos: {
          evaluacion: {
            puntajes: this.puntajes,
            actividades: this.actividades,
            satisfaccion: this.satisfaccion,
            preferencia: this.preferencia,
            evaluacion: this.evaluacion
          },
          tipo: 'ALUMNO',
          estado: 'PENDIENTE',
          id_programa: this.idPrograma,
          id_version: this.idVersion,
          id_docente: this.id_docente.id,
          id_bloque: this.id_bloque,
          id_modulo: this.id_modulo,
          id_estudiante: this.user.id
        }
      };
      if (this.id) {
        variables.id = parseInt(this.id);
        query = `
          mutation ($id: ID!, $datos: EditEvaluacion!) {
            evaluacionEdit (id: $id, evaluacion: $datos) {
              id
            }
          }    
        `;
      } else {
        query = `
          mutation ($datos: NewEvaluacion!) {
            evaluacionAdd (evaluacion: $datos) {
              id
            }
          }    
        `;
      }
      this.$service.graphql({ query, variables })
      .then(response => {
        if (response) {
          this.$message.success('Información actualizada');
          this.id = response.evaluacionAdd.id;
        }
      });
    },
    getEvaluacion (idDocente) {
      const query = this.queryEvaluaciones;
      const variables = {
        id_programa: this.idPrograma,
        id_version: this.idVersion,
        id_docente: parseInt(idDocente),
        id_bloque: parseInt(this.id_bloque),
        id_modulo: parseInt(this.id_modulo),
        id_estudiante: this.user.id,
        tipo: 'ALUMNO'
      };
      this.$service.graphql({ query, variables })
      .then(response => {
        if (response) {
          if (response.evaluaciones.count) {
            const data = response.evaluaciones.rows[0];
            this.puntajes = data.evaluacion.puntajes;
            this.actividades = data.evaluacion.actividades;
            this.satisfaccion = data.evaluacion.satisfaccion;
            this.preferencia = data.evaluacion.preferencia;
            this.evaluacion = data.evaluacion.evaluacion;
            this.id = data.id;
            this.estado = data.estado;
            if (this.estado === 'EVALUADO') {
              this.edit = false;
            }
          }
        }
      });
    },
    getOpciones () {
      return Array(5).fill().map((_, i) => ({ label: i + 1, value: i + 1 }));
    },
    generarPdf () {
      this.$service.post('system/evaluacion/alumno/' + this.id)
        .then(response => {
          if (response) {
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `evaluacion-docente-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    }
  },
  watch: {
    'id_programa' (val) {
      this.idPrograma = parseInt(val.id);
      this.idVersion = parseInt(val.version.id);
      this.getBloques(val.id);
    },
    'id_docente' (val) {
      this.getEvaluacion(val.id);
      this.evaluacion.docente = val.persona.nombre_completo;
    },
    'id_bloque' (val) {
      this.getModulos(parseInt(val));
    }
  }
};
</script>

<style lang="scss">
.evaluacion-alumno {
  hr {
    margin: 15px 0;
  }
}
.consolidado-puntajes {
  margin: 10px 0;
  border: 1px solid #ddd;
  border-collapse: collapse;

  th, td {
    border: 1px solid #ddd;
    padding: 3px 15px;
  }
}
.consolidado-opciones {
  display: inline-block;
}
</style>