<template>
  <section class="evaluacion-estudiante">
    <h2>RECORD ACADEMICO</h2>
    <v-card>
      <v-card-text>
        <v-autocomplete
          v-model="id_estudiante"
          :items="estudiantes"
          label="Seleccione el estudiante"
          item-value="id"
          item-text="persona.nombre_completo"
        ></v-autocomplete>
        <div v-if="id_estudiante">
          <div class="evaluation-datos">
            <p class="m-0"><strong>POSTGRADO:</strong> {{ datos.postgrado }}</p>
            <!-- <p><strong>MENSION:</strong> {{ datos.docente }}</p> -->
            <p class="m-0"><strong>VERSION:</strong> {{ datos.version }}</p>
            <!-- <p class="m-0"><strong>PERIODO:</strong> {{ datos.periodo }}</p> -->
          </div>
          <div
            v-for="(periodo, index) in periodos"
            :key="index">
            <hr>
            <p class="m-0"><strong>PERIODO:</strong> {{ index }}</p>
            <table class="v-datatable v-table theme--light">
              <colgroup>
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 50%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
              </colgroup>
              <thead>
                <tr>
                  <th>Nro.</th>
                  <th>MODULO</th>
                  <th class="text-xs-right">NOTA</th>
                  <th>APROBADO</th>
                  <th>FECHA</th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item, index) in periodo"
                  :key="item.id">
                  <td>{{ index + 1 }}</td>
                  <td>{{ item.modulo.nombre }}</td>
                  <td class="text-xs-right">{{ item.nota }}</td>
                  <td class="text-xs-center" :class="{ 'error--text': item.est_evaluacion === 'REPROBADO' }">
                    {{ item.est_evaluacion }}
                  </td>
                  <td class="text-xs-center">{{ $datetime.format(item.fecha_nota) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <hr>
          <table class="v-datatable v-table theme--light">
            <thead>
              <tr>
                <th>ESCALA DE NOTAS</th>
                <th>0 - 64</th>
                <th>65 - 74</th>
                <th>75 - 82</th>
                <th>83 - 90</th>
                <th>91 - 100</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-xs-center">Rendimiento</td>
                <td class="text-xs-center">Insuficiente</td>
                <td class="text-xs-center">Suficiente</td>
                <td class="text-xs-center">Bueno</td>
                <td class="text-xs-center">Muy bueno</td>
                <td class="text-xs-center">Excelente</td>
              </tr>
            </tbody>
          </table>
          <div class="text-xs-right">
            <v-btn
              color="primary"
              @click="generarPdf">
              <v-icon>print</v-icon>
              <span>Imprimir</span>
            </v-btn>
          </div>
        </div>
      </v-card-text>
    </v-card>
  </section>
</template>

<script>
import reportes from './mixins/reportes';

export default {
  mixins: [reportes],
  data () {
    return {
      datos: {},
      notas: [],
      id_estudiante: null,
      estudiantes: [],
      periodos: []
    };
  },
  created () {
    this.getEstudiantes();
  },
  watch: {
    'id_estudiante' () {
      this.notasEstudiante(parseInt(this.id_estudiante));
    }
  },
  methods: {
    notasEstudiante (idEstudiante) {
      this.$service.graphql({
        query: `
        query notasEstudiante ($id_estudiante: Int) {
          records (id_estudiante: $id_estudiante, est_valoracion: "APROBADO") {
            count
            rows {
              id
              id_estudiante
              nota
              est_evaluacion
              est_valoracion
              fecha_nota
              programa {
                nombre
              }
              modulo {
                nombre
              }
              version {
                version
              }
            }
          }
        }
      `,
        variables: {
          id_estudiante: idEstudiante
        }
      }).then(response => {
        if (response) {
          this.show = false;
          this.$nextTick(() => {
            let notas = response.records.rows || [];

            if (notas[0]) {
              this.datos.postgrado = notas[0].programa.nombre;
              this.datos.version = notas[0].version.version;
            }
            let items = {};
            for (const item of notas) {
              if (typeof item.fecha_nota === 'string') {
                const fecha = item.fecha_nota.split('-');
                const month = parseInt(fecha[1]);
                const year = parseInt(fecha[0]);
                let number = 'I';
                if (month >= 7 && month <= 12) {
                  number = 'II';
                }
                const periodo = `${number}-${year}`;
                if (!items[periodo]) {
                  items[periodo] = [];
                }
                items[periodo].push(item);
              }
            }
            this.periodos = items;
            this.show = true;
          });
        }
      });
    },
    generarPdf () {
      this.$service.post('system/recordAcademico/' + this.id_estudiante)
        .then(response => {
          if (response) {
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `record-academico${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    }
  }
};
</script>

<style lang="scss">
.evaluacion-estudiante {
  hr {
    margin: 15px 0;
  }
}
</style>