<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> Asignacion de Docente/Módulo</h3>
    <v-autocomplete
      :items="programas"
      class="uppercase"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa_search"
      item-text="nombre"
      item-value="id"
      return-object>
      <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title> {{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
       <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
         {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
        </v-chip>
      </template>

    </v-autocomplete>
    <v-autocomplete
      v-if="id_programa_search"
      :items="bloques"
      label="Seleccione el bloque"
      id="bloques"
      v-model="id_bloque"
      item-text="nombre"
      item-value="id"
     >
      <template v-slot:item="{ item }">
          <v-list-tile-content>
            <v-list-tile-sub-title> {{ item.numero }} {{". "}} {{ item.nombre}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.numero }} {{". "}} {{item.nombre}}
        </v-chip>
      </template>
    </v-autocomplete>

    <v-card  v-if="show">
      <v-card-text>
        <table class="v-datatable v-table theme--light" >
          <thead>
            <tr>
              <th>Nro. Módulo</th>
              <th>Módulo</th>
              <th>Asignar Docente(s)</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              v-for="item in modulos"
              :key="item.id">
              <td>{{ item.nro_modulo}}</td>
              <td>{{ item.nombre }}</td>
              <td> 
                <v-btn small
                icon
                @click="openModalAsignacion(item.id)">
                <v-icon color="orange darken-2">people</v-icon>
                <span> Asignar Docente(s) </span>
                </v-btn>
              </td>
            </tr>
          </tbody>
        </table>      
      </v-card-text>
    </v-card>
    <v-dialog v-model="$store.state.modal2" max-width="1000">
      <Asignacion 
        :id-programa="idPrograma" 
        :id-version="idVersion" 
        :id-bloque="idBloque" 
        :id-modulo="idModulo" 
        v-if="idModulo" />
    </v-dialog>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import listas from './mixins/listas';
import Asignacion from './Asignacion';

export default {
  mixins: [ crud, validate, token, logDatos, listas ],
  created () {
    this.user = this.$storage.getUser();
    this.programas = [];
    this.getProgramas('programas');
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_asignacionDocente, 'asignacionDocente', this.dataGraphql, false);
    }
  },
  data () {
    return {
      programas: [],
      versiones: [],
      bloques: [],
      id_programa_search: null,
      id_bloque: null,
      idPrograma: 0,
      idVersion: 0,
      idBloque: 0,
      idModulo: 0,
      id_programa: null,
      id_modulo: null,
      modulos: [],
      docentes: [],
      show: false,
      valid: true,
      modulo: null,
      logDatos: null,
      graphql: true, // Definiendo el CRUD con Graphql
      filters: [
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_bloque',
          type: 'hidden',
          typeG: 'Int'
        }
      ],
      menu1: false,
      menu2: false,
      queryVersiones: `
        query versiones($id: Int!) {
          detallesprogramas(id_programa: $id) {
            count
            rows {
              id
              version
              gestion
              id_programa
            }
          }
        }
      `,
      queryModulos: `
        query modulos($id: Int!) {
          modulosprogramas(id_bloque: $id) {
            count
            rows {
              id
              nro_modulo
              nombre
            }
          }
        }
      `
    };
  },
  methods: {
    openModalAsignacion (id) {
      this.idModulo = 0;
      this.$nextTick(() => {
        this.idModulo = parseInt(id);
        this.$store.commit('openModal', 2);
      });
    },
    /*  getVersiones (id) {
      this.$service.graphql({
        query: this.queryVersiones,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.versiones = response.detallesprogramas.rows || [];
          console.log('this.versiones: ', this.versiones[0].id);
          this.idVersion = parseInt(this.versiones[0].id);
        }
      });
    },  */
    getModulos (id) {
      this.$service.graphql({
        query: this.queryModulos,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.show = false;
          this.$nextTick(() => {
            this.modulos = response.modulosprogramas.rows || [];
            this.show = true;
          });
        }
      });
    }
  },
  watch: {
    'id_programa_search' (val) {
      /*  this.getVersiones(parseInt(this.id_programa));
      console.log('desde el watch el id_programa es: ', this.id_programa);
      this.getBloques(this.id_programa, 'bloques');
        */
      this.idPrograma = parseInt(val.id);
      this.idVersion = parseInt(val.version.id);
      this.getBloques(val.id);
    },
    'id_bloque' (val) {
      if (val) {
        this.idBloque = parseInt(val);
        this.getModulos(this.idBloque);
        this.show = false;
        this.$nextTick(() => {
          this.filters[0].value = this.idPrograma;
          this.filters[1].value = this.idVersion;
          this.show = true;
        });
      }
    }
  },
  components: {
    CrudTable,
    LogDatos,
    Asignacion
  }
};
</script>
