<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> Asignacion de Docente/Módulo</h3>
    <v-autocomplete
      :items="programas"
      class="uppercase"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa"
      item-text="nombre"
      item-value="id" />
    <v-autocomplete
      :items="versiones"
      class="uppercase"
      label="Seleccione una versión"
      v-show="versiones.length"
      v-model="id_version"
      return-object>
      <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title>{{ item.version }} / {{ item.gestion }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.version }} / {{ item.gestion }}
        </v-chip>
      </template>
    </v-autocomplete>
       
    <v-card v-if="show">
      <v-card-text> 
        <table class="v-datatable v-table theme--light">
          <thead>
            <tr>
              <th>Nro. Módulo</th>
              <th>Módulo</th>
              <th>Docente</th>
              <th>Fecha inicio</th>
              <th>Fecha fin</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              v-for="item in modulos"
              :key="item.id">
              <td>{{ item.nro_modulo}}</td>
              <td>{{ item.nombre }}</td>
              <td>
                <v-autocomplete
                  :items="docentes"
                  v-model="item.id_docente"
                  label="Seleccione docente"
                  item-value="id"
                  item-text="persona.nombre_completo"
                  @input="guardar('id_docente', item.id_docente, item)"
                ></v-autocomplete>
              </td>
              <td>
                <v-text-field
                  v-model="item.modulo_ini"
                  placeholder="DD/MM/AAAA"
                  @input="guardar('modulo_ini', item.modulo_ini, item)"
                  maxlength="10"
                  mask="date"
                  return-masked-value></v-text-field>
              </td>
              <td>
                <v-text-field
                  v-model="item.modulo_fin"
                  placeholder="DD/MM/AAAA"
                  @input="guardar('modulo_fin', item.modulo_fin, item)"
                  maxlength="10"
                  mask="date"
                  return-masked-value></v-text-field>
              </td>
            </tr>
          </tbody>
        </table>      
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import listas from './mixins/listas';

export default {
  mixins: [ crud, validate, token, logDatos, listas ],
  created () {
    this.user = this.$storage.getUser();
    this.idDetallesprograma = this.user.id_detallesprograma;
    this.programas = [];
    this.getProgramas('programas');
    this.getDocentes();
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_programa, 'programa', this.dataGraphql, false);
    }
  },
  data () {
    return {
      programas: [],
      versiones: [],
      docentes: [],
      asignaciones: [],
      show: false,
      valid: true,
      queryVersiones: `
        query versiones($id: Int!) {
          detallesprogramas(id_programa: $id) {
            count
            rows {
              id
              version
              gestion
              id_programa
            }
          }
        }
      `,
      queryModulos: `
        query modulos($id: Int!) {
          modulosprogramas(id_programa: $id) {
            count
            rows {
              id
              nro_modulo
              nombre
            }
          }
        }
      `,
      queryDocentes: `
        query docentes {
          usuarios (id_rol: 4) {
            count
            rows {
              id
              persona {
                nombres
                primer_apellido
                segundo_apellido
                nombre_completo
              }
            } 
          }
        }
      `,
      queryAddAsignacionDocente: `
        mutation add($asignacionDocente: NewAsignacionDocente!) {
          asignacionDocenteAdd(asignacionDocente: $asignacionDocente) {
            id
          }
        }
      `,
      queryEditAsignacionDocente: `
        mutation edit($id: ID!, $asignacionDocente: EditAsignacionDocente!) {
          asignacionDocenteEdit(id: $id, asignacionDocente: $asignacionDocente) {
            id
          }
        }
      `,
      queryAsignaciones: `
        query asignacionDocentes($id_programa: Int, $id_version: Int) {
          asignacionDocentes(id_programa: $id_programa, id_version: $id_version) {
            count
            rows {
              id
              modulo_ini
              modulo_fin
              id_modulo
              id_version
              id_docente
              id_programa
            }
          }
          modulosprogramas(id_programa: $id_programa) {
            count
            rows {
              id
              nro_modulo
              nombre
            }
          }
        }
      `,
      id_programa: null,
      id_version: null,
      id_modulo: null
    };
  },
  methods: {
    guardar (field, value, item) {
      if (!value) {
        return false;
      }
      if (field !== 'id_docente' && value && value.length < 10) {
        return false;
      }
      if (field !== 'id_docente' && !this.isDate(value)) {
        return false;
      }
      if (field !== 'id_docente') {
        value = this.$datetime.parse(this.$datetime.convert(value));
      } else {
        value = parseInt(value);
      }
      let data = {
        [field]: value,
        id_modulo: parseInt(item.id),
        id_version: parseInt(this.id_version.id || this.id_version),
        id_programa: parseInt(this.id_programa)
      };
      console.log('guardar', data);
      // this.asignacionDocentes = this.verificarAsignacion(data.id_programa, data.id_version, data.id_modulo);
      // console.log('datos anteriores: ' + this.asignacionDocentes);
      //  if (this.verificarAsignacion(data.id_programa, data.id_version, data.id_modulo).length > 0) {
      //  console.log('el id existe: ' + data.id);
      //  };
      this.saveAsignacionDocente(data, item);
      //  this.save();
    },
    isDate (value) {
      let fecha = value.split('/');
      if (fecha.length < 3) {
        return false;
      }
      let [dia, mes, anio] = fecha;
      if (parseInt(dia) > 31) {
        return false;
      }
      if (parseInt(mes) > 12) {
        return false;
      }
      if (parseInt(anio) < 2020 || parseInt(anio) > 2050) {
        return false;
      }
      return true;
    },
    saveAsignacionDocente (asignacionDocente, item) {
      if (item.id_asignacion) {
        this.$service.graphql({
          query: this.queryEditAsignacionDocente,
          variables: {
            asignacionDocente,
            id: item.id_asignacion
          }
        }).then(response => {
          if (response) {
            this.$store.commit('closeModal');
            this.updateList();
            this.$message.success();
          }
        });
      } else {
        this.$service.graphql({
          query: this.queryAddAsignacionDocente,
          variables: {
            asignacionDocente
          }
        }).then(response => {
          if (response) {
            this.$store.commit('closeModal');
            this.updateList();
            this.$message.success();
            item.id_asignacion = response.asignacionDocenteAdd.id;
          }
        });
      }
    },
    getVersiones (id) {
      this.$service.graphql({
        query: this.queryVersiones,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.versiones = response.detallesprogramas.rows || [];
        }
      });
    },
    getModulos (id) {
      this.$service.graphql({
        query: this.queryModulos,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.show = false;
          this.$nextTick(() => {
            this.show = true;
            this.modulos = response.modulosprogramas.rows || [];
          });
        }
      });
    },
    getDocentes () {
      this.$service.graphql({
        query: this.queryDocentes,
        variables: {}
      }).then(response => {
        if (response) {
          this.docentes = response.usuarios.rows || [];
        }
      });
    },
    getAsignaciones (idPrograma, idVersion) {
      this.$service.graphql({
        query: this.queryAsignaciones,
        variables: {
          id_programa: idPrograma,
          id_version: idVersion
        }
      }).then(response => {
        if (response) {
          this.show = false;
          this.$nextTick(() => {
            this.show = true;
            let modulos = response.modulosprogramas.rows || [];
            this.asignaciones = response.asignacionDocentes.rows || [];
            this.modulos = modulos.map(item => {
              let asignacion = this.getAsignacion(this.asignaciones, parseInt(item.id));
              if (asignacion) {
                item.id_asignacion = asignacion.id;
                item.id_docente = asignacion.id_docente + '';
                item.modulo_ini = this.$datetime.format(asignacion.modulo_ini);
                item.modulo_fin = this.$datetime.format(asignacion.modulo_fin);
              }
              console.log('item:', item);
              return item;
            });
          });
        }
      });
    },
    getAsignacion (items, idModulo) {
      for (let item of items) {
        if (parseInt(item.id_modulo) === idModulo) {
          return item;
        }
      }
      return null;
    },
    save (data) {
        //  let data = Object.assign({}, this.form);
      if (data.id) {
        delete data.id;
        this.$service.graphql({
          query: `
            mutation edit($id: ID!, $asignacionDocente: EditAsignacionDocente!) {
              asignacionDocenteEdit(id: $id, asignacionDocente: $asignacionDocente) {
                id
              }
            }
          `,
          variables: {
            id: this.form.id,
            programa: data
          }
        }).then(response => {
          if (response) {
            this.$store.commit('closeModal');
            this.updateList();
            this.$message.success('Se actualizó el registro correctamente');
          }
        });
      } else {
        data.estado = 'ACTIVO';
        this.$service.graphql({
          query: `
            mutation add($asignacionDocente: NewAsignacionDocente!) {
            asignacionDocenteAdd(asignacionDocente: $asignacionDocente) {
              id
            }
          }
          `,
          variables: {
            programa: data
          }
        }).then(response => {
          if (response) {
            this.$store.commit('closeModal');
            this.updateList();
            this.$message.success();
          }
        });
      }
    }
  },
  watch: {
    'id_programa' () {
      this.getVersiones(parseInt(this.id_programa));
    },
    'id_version' () {
      this.getAsignaciones(parseInt(this.id_programa), parseInt(this.id_version.id));
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
