<template>
  <section>
    <v-card >
      <v-card-title class="headline m-0">
        <v-icon>security</v-icon> Asignacion de Docentes
        <v-spacer></v-spacer>
        <v-btn icon @click="$store.commit('closeModal',2)">
          <v-icon>close</v-icon>
        </v-btn>
      </v-card-title>

      <v-card-text>
        <v-form
          @submit.prevent="save"
          v-model="valid"
          ref="form"
          lazy-validation
          >
            <v-container grid-list-md>
              <h4>Asignar Docente(s) </h4>
              
              <v-layout wrap>
                 <v-flex xs12>
                    <v-autocomplete
                    :items="docentes"
                    v-model="form.id_docente"
                    label="Seleccione docente"
                    item-value="id"
                    item-text="persona.nombre_completo"
                    ></v-autocomplete>
                  </v-flex>

                  <v-menu
                      v-model="menu1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                      <v-flex xs6>
                        <v-text-field
                          v-model="form.modulo_ini"
                          label="Feha Inicio"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                     </v-flex>
                    </template>
                    <v-date-picker v-model="form.modulo_ini" locale="es-bo" @input="menu1 = false" no-title scrollable></v-date-picker>
                  </v-menu>

                  <v-menu
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                      <v-flex xs6>
                        <v-text-field
                          v-model="form.modulo_fin"
                          label="Feha Fin"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                     </v-flex>
                    </template>
                    <v-date-picker v-model="form.modulo_fin" locale="es-bo" @input="menu2 = false" no-title scrollable></v-date-picker>
                  </v-menu>
                
                  <v-layout wrap>
                    <v-flex xs12>
                      <v-btn
                        v-if="form.id"
                        @click="cancelar">
                        <v-icon>cancel</v-icon> Cancelar
                      </v-btn>
                      <v-btn
                        color="primary"
                        type="submit"
                        :disabled="!valid">
                        <v-icon>check</v-icon> {{ form.id ? 'Actualizar' : 'Agregar' }}
                      </v-btn>
                    </v-flex>
                  </v-layout>
              </v-layout>
            </v-container>
        </v-form>
        <crud-table
          id-refresh="btn-refresh-asignacion"
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :data-graphql="dataGraphql"
          :widthModal="800"
          v-if="idPrograma"
        >
          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['asignacionDocentes:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="editItem(items.item.id, 'asignacionDocente', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['asignacionDocentes:delete']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="deleteItem(items.item.id, 'asignacionDocente')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>
            </td>
            <td>{{ items.item.docente ? items.item.docente.persona.nombre_completo : 'Sin asignar' }}</td>
            <td>{{ items.item.modulo_ini }}</td>
            <td>{{ items.item.modulo_fin }}</td>        
          </template>
        </crud-table>  
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import listas from './mixins/listas';

export default {
  props: {
    idPrograma: {
      type: Number,
      default: 0
    },
    idVersion: {
      type: Number,
      default: 0
    },
    idBloque: {
      type: Number,
      default: 0
    },
    idModulo: {
      type: Number,
      default: 0
    }
  },
  mixins: [ crud, validate, token, listas ],
  created () {
    console.log('asignación - ID_PROGRAMA', this.idPrograma);
    console.log('asignación - ID_VERSION', this.idVersion);
    console.log('asignación - ID_BLOQUE', this.idBloque);
    console.log('asignación - ID_MODULO', this.idModulo);
    this.user = this.$storage.getUser();
    this.getDocentes();
  },
  data () {
    return {
      docentes: [],
      doc: null,
      valid: true,
      modulo: null,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'asignacionDocentes',
      headers: [
        { text: this.$t('common.actions'), sortable: false },
        { text: 'Docente', value: 'id_docente' },
        { text: 'Fecha Inicio', value: 'modulo_ini' },
        { text: 'Fecha Fin', value: 'modulo_fin' }
      ],
      form: {
        id_modulo: ''
      },
      dataGraphql: `
        id
        id_programa
        id_version
        id_bloque
        id_modulo
        id_docente
        modulo_ini
        modulo_fin
        docente {
          persona {
            nombre_completo
          }
        }
      `,
      filters: [
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int',
          value: this.idPrograma
        },
        {
          field: 'id_bloque',
          type: 'hidden',
          typeG: 'Int',
          value: this.idBloque
        },
        {
          field: 'id_version',
          type: 'hidden',
          typeG: 'Int',
          value: this.idVersion
        },
        {
          field: 'id_modulo',
          type: 'hidden',
          typeG: 'Int',
          value: this.idModulo
        }
      ],
      menu1: false,
      menu2: false,
      queryDocentes: `
        query docentes {
          usuarios (id_rol: 4) {
            count
            rows {
              id
              persona {
                nombres
                primer_apellido
                segundo_apellido
                nombre_completo
              }
            } 
          }
        }
      `,
      id_programa: null,
      id_version: null,
      id_modulo: null
    };
  },
  methods: {
    openModal (data = {}) {
      this.$nextTick(() => {
        this.form = data;
        this.form.id_docente = this.form.id_docente + '';
        console.log('this.form: ', this.form);
      });
    },

    cancelar () {
      this.$refs.form.reset();
      this.form = {
        id_docente: '',
        modulo_ini: '',
        modulo_fin: ''
      };
    },
    getDocentes () {
      this.$service.graphql({
        query: this.queryDocentes,
        variables: {}
      }).then(response => {
        if (response) {
          this.docentes = response.usuarios.rows || [];
          console.log('docentes:', this.docentes);
        }
      });
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        console.log('Datos de asignacion Docente: ', data);
        data.id_programa = parseInt(this.idPrograma);
        data.id_version = parseInt(this.idVersion);
        data.id_bloque = parseInt(this.idBloque);
        data.id_modulo = parseInt(this.idModulo);
        data.id_docente = parseInt(data.id_docente);
        if (data.id) {
          console.log('ingresa a editar!');
          delete data.id;
          this.$service.graphql({
            query: `
             mutation edit($id: ID!, $asignacionDocente: EditAsignacionDocente!) {
              asignacionDocenteEdit(id: $id, asignacionDocente: $asignacionDocente) {
                id
              }
            }
            `,
            variables: {
              id: this.form.id,
              asignacionDocente: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList('btn-refresh-asignacion');
              this.$message.success('Se actualizó el registro correctamente');
              this.cancelar();
            }
          });
        } else {
          this.$service.graphql({
            query: `
              mutation add($asignacionDocente: NewAsignacionDocente!) {
                asignacionDocenteAdd(asignacionDocente: $asignacionDocente) {
                  id
                }
              }
            `,
            variables: {
              asignacionDocente: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList('btn-refresh-asignacion');
              this.$message.success();
              this.cancelar();
              //  actualiza Records
              // this.updateRecords(data);
            }
          });
        }
      }
    },
    updateRecords (data) {
      this.$service.graphql({
        query: `
          mutation actualizar($record: EditRecord!) {
            recordUpdate(record: $record) {
              id
            }
          }
        `,
        variables: {
          record: data
        }
      }).then(response => {
        if (response) {
          this.$store.commit('closeModal');
          this.updateList();
          this.$message.success();
          this.$store.commit('usuario/cleanForm');
        }
      });
    }
  },
  components: {
    CrudTable
  }
};
</script>
