<template>
  <section>
    <h3 class="primary--text"><v-icon info>person_outline</v-icon> RESERVA DE PROGRAMA </h3>
    <v-autocomplete
      :items="programas"
      class="uppercase"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa_search"
      item-text="nombre"
      item-value="id"
      return-object>
      <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
       <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
        </v-chip>
      </template>
      </v-autocomplete>
    <v-card v-if="show">
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :data-graphql="dataGraphql"
          :widthModal="840"
        >
          <template slot="form">
            <v-card-title class="headline">
              <v-icon>{{ 'monetization_on' }}</v-icon> {{' RESERVA'}}
              <v-spacer></v-spacer>
              <v-btn icon @click="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation>
              <v-card-text class="pt-0">
                <v-container grid-list-md class="pt-0">
                  <h4> Reserva </h4>
                   <v-layout row wrap>
                      
                      <v-flex xs6>
                          <v-text-field
                            label="Nro. RECIBO"
                            v-model="form.nro_recibo"
                            prepend-icon="receipt"
                            id="nro_recibo"
                            readonly
                            ></v-text-field>
                      </v-flex>

                      <v-flex xs6>
                          <v-text-field
                            label="Fecha"
                            v-model="form.fecha_reserva"
                            id="nombre_recibo"
                            prepend-icon="event"
                            readonly
                            ></v-text-field>
                      </v-flex>

                      <v-flex xs12>
                          <v-text-field
                            label="Recibimos de:"
                            v-model="nombre_recibo"
                            id="nombre_recibo"
                            prepend-icon="face"
                            readonly
                            ></v-text-field>
                      </v-flex>

                      <v-flex xs12>
                        <v-textarea
                            label="Por concepto de:"
                            v-model="form.concepto_reserva"
                            id="concepto_reserva"
                            :disabled="flagPrint===false"
                            prepend-icon="payments"
                            ></v-textarea>
                      </v-flex>

                      <v-flex xs6>
                          <v-text-field
                            label="Introducir monto en Numeral:"
                            v-model="form.monto_reserva"
                            id="monto_reserva"
                            autocomplete="off"
                            @keydown="$filter.integer($event)"
                            maxlength="5"
                            :rules="$validate(['required'])"
                            class="required"
                            required
                            :disabled="flagPrint===false"
                            ></v-text-field>
                      </v-flex>

                      <v-flex xs6>
                          <v-text-field
                            label="Monto en literal:"
                            v-model="form.literal_reserva"
                            id="literal_reserva"
                            :rules="$validate(['required'])"
                            class="required"
                            required
                            :disabled="flagPrint===false"
                            ></v-text-field>
                      </v-flex>
                      <v-flex xs6>
                          <v-text-field
                            label="Moneda"
                            v-model="form.moneda_reserva"
                            id="moneda"
                            prepend-icon = "money"
                            :disabled="flagPrint===false"
                            ></v-text-field>
                      </v-flex>

                      <v-flex xs6>
                          <v-text-field
                            label="Forma de Pago"
                            v-model= form.forma_pago
                            id="forma_pago"
                            disabled
                            ></v-text-field>
                      </v-flex>
                     </v-layout>
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>               
                <v-spacer></v-spacer>
                <v-btn @click="$store.commit('closeModal');"><v-icon>cancel</v-icon> {{$t('common.cancel') }}</v-btn>
                <v-btn color="primary" type="submit"><v-icon>print</v-icon>guardar</v-btn>
              </v-card-actions>
            </v-form>
          </template>

        <template slot="items" slot-scope="items">            
            <td>
              <v-btn
                icon
                @click="editItem(items.item.id, 'usuario', dataGraphqlAll)">
                <v-icon color="orange darken-2">monetization_on</v-icon>
                <span>  RESERVA   </span>
                </v-btn>
            </td>
            <td class="nowrap">
              <v-btn small
                icon
                @click="pdfRecibo(items.item.id)"
                :disabled="items.item.estado_estudiante==='INSCRITO'">
                <v-icon color="blue darken-2">print</v-icon>
                <span>RECIBO</span>
              </v-btn>
            </td>
            <td class="nowrap">{{ items.item.persona.primer_apellido }} {{ items.item.persona.segundo_apellido }} {{ items.item.persona.nombres }}</td>
            <td>{{ items.item.email }}</td>
            <td>{{ items.item.persona.movil }}</td>
            <td>{{ items.item.persona.telefono }}</td>
            <td class="no-wrap">{{ items.item.persona.direccion }}</td>
            <td>{{ items.item.persona.lugar_nacimiento }}</td>
          </template>          
        </crud-table>
      </v-card-text>
    </v-card>
    <v-dialog v-model="$store.state.modal2" max-width="900">
      <estudiante-requisito :id-user="idUser" v-if="idUser"/>
    </v-dialog>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import Auth from '@/components/admin/auth/mixins/auth';
import validate from '@/common/mixins/validate';
import usuario from './mixins/usuario';
import listas from './mixins/listas';
import PersonaForm from '@/components/admin/persona/PersonaForm';
import LogDatos from '@/components/admin/usuario/LogDatos';
import token from '@/components/admin/modulo/mixins/token';
import { createHelpers } from 'vuex-map-fields';

const { mapFields } = createHelpers({
  getterType: 'usuario/getField',
  mutationType: 'usuario/updateField'
});

export default {
  mixins: [ crud, validate, Auth, usuario, token, listas ],
  created () {
    this.user = this.$storage.getUser();
    console.log('this.user: ', this.user);
    this.username = this.user.usuario;
    this.programas = [];
    console.log('ingresa a created');
    this.getProgramas('POSTULACION', 'programas');
  },
  data () {
    return {
      idUser: 0,
      id_programa_search: null,
      show: false,
      programas: [],
      logDatos: null,
      idContrato: null,
      personaDatos: false,
      contratos: [],
      nombre_recibo: null,
      flagPrint: false,
      recibo: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'usuarios',
      headers: [
        { text: 'Reserva', value: '' },
        { text: 'Recibo', value: '' },
        { text: this.$t('user.crud.fullname'), value: 'nombre_completo' },
        { text: this.$t('user.crud.email'), value: 'email' },
        { text: 'Teléfono Móvil', value: 'movil' },
        { text: 'Teléfono', value: 'telefono' },
        { text: 'Direccion', value: 'direccion' },
        { text: 'Lugar de Nacimiento', value: 'lugar_nacimiento' }
      ],
      dataGraphql: `
        id
        usuario
        email
        estado
        g_academico
        mencion
        acronimo
        id_entidad
        id_rol
        estado_estudiante
        persona {
          nombres
          primer_apellido
          segundo_apellido
          telefono
          direccion
          lugar_nacimiento
          movil
          nombre_completo
        }
        entidad {
          nombre
        }
        rol {
          nombre
        }
        programa {
          nombre
        }
      `,
      dataGraphqlAll: `
        id
        usuario
        email
        cargo
        g_academico
        mencion
        acronimo
        estado
        id_entidad
        id_rol
        id_persona
        estado_estudiante
        id_version
        id_programa
        detallesprograma {
          opciones_pagos
          costo_total
          costo_matricula
          costo_colegiatura
          coordinador
          fecha_ini
          nro_matriculas
          version
          gestion
        }
        persona {
          nombres
          primer_apellido
          segundo_apellido
          nombre_completo
          tipo_documento
          tipo_documento_otro
          nro_documento
          lugar_exp
          direccion
          lugar_nacimiento
          fecha_nacimiento
          movil
          nacionalidad
          pais_nacimiento
          genero
          telefono
          estado
          movil
        }
        entidad {
          nombre
        }
        rol {
          nombre
        }
        programa {
          nombre
        }
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      queryUsuario: `
        query getUsuario($id: ID!) {
        usuario(id: $id){
          id
          persona {
           nombre_completo 
          }          
        }
      }
      `,
      form: {
        usuario: '',
        contrasena: '',
        email: '',
        id_entidad: null,
        id_rol: null
      },
      filters: [
        {
          field: 'id_rol',
          label: this.$t('user.crud.role'),
          type: 'hidden',
          typeG: 'ID',
          value: 5,
          items: []
        },
        {
          field: 'estado_estudiante',
          type: 'hidden',
          typeG: 'String',
          value: 'PREINSCRITO'
        },
        {
          field: 'nombre_completo',
          label: this.$t('user.crud.fullname'),
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_version',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'estado',
          label: this.$t('user.crud.status'),
          type: 'select',
          typeG: 'EstadoUsuario',
          items: [
            { value: '', text: 'TODOS' },
            { value: 'ACTIVO', text: 'ACTIVO' },
            { value: 'INACTIVO', text: 'INACTIVO' }
          ]
        }
      ],
      formaPago: [
        { value: 'CONTADO', text: 'CONTADO' },
        { value: 'CUOTAS', text: 'CUOTAS' }
      ],
      hidePass: true,
      username: null,
      valid: true,
      cuotas: [],
      calculoMontoCuotas: false,
      calculoNroCuotas: false
    };
  },
  computed: {
    getIcon () {
      if (this.contrasena) {
        return this.contrasena.length === 0 ? 'lock' : this.hidePass ? 'visibility' : 'visibility_off';
      }
      return 'lock';
    },
    // Cargando datos del usuario del store
    ...mapFields([
      'form.id',
      'form.usuario',
      'form.contrasena',
      'form.email',
      'form.cargo',
      'form.estado_estudiante',
      'form.g_academico',
      'form.direccion',
      'form.lugar_nacimiento',
      'form.lugar_exp',
      'form.id_entidad',
      'form.id_rol',
      'form.id_persona',
      'form.movil',
      'form.telefono'
    ])
  },
  methods: {
    openModal (data = {}) {
      this.idContrato = null;
      console.log('ID DE CONTRATO: ', this.idContrato);
      this.mensajeCalculo = null;
      this.$refs.form.reset();
      console.log('data', data);
      this.idUsuario = parseInt(data.id);
      console.log('data.id_persona', data.id_persona);
      console.log('data.id_programa', data.id_programa);
      console.log('data.id_version', data.id_version);
      this.idPersona = parseInt(data.id_persona);
      this.idPrograma = parseInt(data.id_programa);
      this.idVersion = parseInt(data.id_version);
      this.$service.graphql({
        query: `
          query contratos($id_usuario: Int){
            contratos (id_usuario: $id_usuario){
              count
              rows {
                id
                id_usuario
                monto_reserva,
                literal_reserva,
                concepto_reserva,
                fecha_reserva,
                moneda_reserva,
                nro_recibo
              }
            } 
          }
        `,
        variables: {
          id_usuario: this.idUsuario
        }
      }).then(response => {
        console.log('nro de crontratos por personal', response.contratos);
        if (response.contratos.count) {
          let contrato = response.contratos.rows[0];
          this.idContrato = contrato.id;
          console.log('id_contrato', this.idContrato);
          this.form.nro_recibo = contrato.nro_recibo;
          this.form.fecha_reserva = contrato.fecha_reserva;
          this.getNombreUsuario(contrato.id_usuario);
          this.form.concepto_reserva = contrato.concepto_reserva;
          this.form.monto_reserva = contrato.monto_reserva;
          this.form.nombre_recibo = this.formatDate(contrato.nro_recibo);
          this.recibo = true;
          this.flagPrint = false;
        } else {
          this.flagPrint = true;
          this.form.fecha_reserva = this.formatDate(new Date());
          console.log('fecha_reserva', this.form.fecha_reserva);
          this.nombre_recibo = data.persona.nombre_completo;
          this.form.concepto_reserva = 'RESERVA DEL PROGRAMA ' + data.programa.nombre + ' ' + data.detallesprograma.version + ' VERSIÓN ' + 'GESTIÓN ' + data.detallesprograma.gestion + '.';
        }
        this.logDatos = {
          _user_created: data._user_created,
          _user_updated: data._user_updated,
          _created_at: data._created_at,
          _updated_at: data._updated_at
        };
        this.$store.commit('openModal');
      });
    },
    save () {
      if (this.$refs.form.validate()) {
        let contrato = {};
        contrato.id_programa = this.idPrograma;
        contrato.id_detallesprograma = this.idVersion;
        console.log('contrato reserva', this.form.contrato_reserva);
        contrato.concepto_reserva = this.form.concepto_reserva;
        contrato.monto_reserva = parseFloat(this.form.monto_reserva);
        contrato.literal_reserva = this.form.literal_reserva;
        contrato.moneda_reserva = this.form.moneda_reserva;
        console.log(this.form.fecha_reserva);
        contrato.fecha_reserva = new Date();
        console.log('El objeto contrato a grabar: ', contrato);
        if (this.idContrato) {
          console.log('si existe el contrato', this.idContrato);
          const id = this.idContrato;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $contrato: EditContrato!) {
                contratoEdit(id: $id, contrato: $contrato) {
                  id
                }
              }
            `,
            variables: {
              id,
              contrato: contrato
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
              this.$store.commit('usuario/cleanForm');
            }
          });
        } else {
          contrato.id_usuario = this.idUsuario;
          contrato.estado = 'INICIAL';
          this.$service.graphql({
            query: `
              mutation add($contrato: NewContrato!) {
                contratoAdd(contrato: $contrato) {
                  id
                }
              }
            `,
            variables: {
              contrato: contrato
            }
          }).then(response => {
            if (response) {
              this.idContrato = response.contratoAdd.id;
              console.log('Se creo el nuevo contrato: ', this.idContrato);
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
              this.$store.commit('usuario/cleanForm');
            }
          });
        }
      }
    },
    formatDate (date) {
      if (!date) {
        return null;
      }
      date = new Date().toISOString().substr(0, 10);
      const [year, month, day] = date.split('-');
      return `${month}/${day}/${year}`;
    },
    pdfRecibo (id) {
      this.$service.post('system/reserva/pdf/' + id + '/' + this.username)
        .then(response => {
          if (response) {
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `recibo-reserva-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    },

    getNombreUsuario (idUsuario) {
      console.log('prueba id : ', idUsuario);
      idUsuario = parseInt(idUsuario);
      this.$service.graphql({
        query: this.queryUsuario,
        variables: {
          id: idUsuario
        }
      }).then(response => {
        if (response) {
          this.nombre_recibo = response.usuario.persona.nombre_completo;
          console.log('nombre recibo: ', this.nombre_recibo);
        }
      });
    },
    NumerosaLetras (cantidad) {
      var numero = 0;
      cantidad = parseFloat(cantidad);
      if (cantidad === '0.00' || cantidad === '0') {
        return 'CERO con 00/100 ';
      } else {
        var ent = cantidad.toString().split('.');
        var arreglo = this.separar_split(ent[0]);
        var longitud = arreglo.length;
        switch (longitud) {
          case 1:
            numero = this.unidades(arreglo[0]);
            break;
          case 2:
            numero = this.decenas(arreglo[0], arreglo[1]);
            break;
          case 3:
            numero = this.centenas(arreglo[0], arreglo[1], arreglo[2]);
            break;
          case 4:
            numero = this.unidadesdemillar(arreglo[0], arreglo[1], arreglo[2], arreglo[3]);
            break;
          case 5:
            numero = this.decenasdemillar(arreglo[0], arreglo[1], arreglo[2], arreglo[3], arreglo[4]);
            break;
          case 6:
            numero = this.centenasdemillar(arreglo[0], arreglo[1], arreglo[2], arreglo[3], arreglo[4], arreglo[5]);
            break;
        }
        ent[1] = isNaN(ent[1]) ? '00' : ent[1];
        // return numero + " con " + ent[1] + "/100";
        return numero;
      }
    },

    unidades (unidad) {
      var unidades = ['UN ', 'DOS ', 'TRES ', 'CUATRO ', 'CINCO ', 'SEIS ', 'SIETE ', 'OCHO ', 'NUEVE '];
      return unidades[unidad - 1];
    },
    decenas (decena, unidad) {
      var diez = ['ONCE ', 'DOCE ', 'TRECE ', 'CATORCE ', 'QUINCE ', 'DIECISEIS ', 'DIECISIETE ', 'DIECIOCHO ', 'DIECINUEVE '];
      var decenas = ['DIEZ ', 'VEINTE ', 'TREINTA ', 'CUARENTA ', 'CINCUENTA ', 'SESENTA ', 'SETENTA ', 'OCHENTA ', 'NOVENTA '];
      if (decena === '0' && unidad === '0') {
        return '';
      }
      if (decena === '0' && unidad > 0) {
        return this.unidades(unidad);
      }
      if (decena === '1') {
        if (unidad === '0') {
          return decenas[decena - 1];
        } else {
          return diez[unidad - 1];
        }
      } else if (decena === '2') {
        if (unidad === '0') {
          return decenas[decena - 1];
        } else if (unidad === '1') {
          return 'VEINTI' + 'UNO';
        } else {
          return 'VEINTI' + this.unidades(unidad);
        }
      } else {
        if (unidad === '0') {
          return decenas[decena - 1] + ' ';
        }
        if (unidad === '1') {
          return decenas[decena - 1] + ' Y ' + 'UNO';
        }
        return decenas[decena - 1] + ' Y ' + this.unidades(unidad);
      }
    },
    centenas (centena, decena, unidad) {
      let centenas = ['CIENTO ', 'DOSCIENTOS ', 'TRESCIENTOS ', 'CUATROCIENTOS ', 'QUINIENTOS ', 'SEISCIENTOS ', 'SETECIENTOS ', 'OCHOCIENTOS ', 'NOVECIENTOS '];
      if (centena === '0' && decena === '0' && unidad === '0') {
        return '';
      }
      if (centena === '1' && decena === '0' && unidad === '0') {
        return 'CIEN ';
      }
      if (centena === '0' && decena === '0' && unidad > '0') {
        return this.unidades(unidad);
      }
      if (decena === '0' && unidad === '0') {
        return centenas[centena - 1] + '';
      }
      if (decena === '0') {
        var numero = centenas[centena - 1] + '' + this.decenas(decena, unidad);
        return numero.replace(' Y ', ' ');
      }
      if (centena === '0') {
        return this.decenas(decena, unidad);
      }
      return centenas[centena - 1] + '' + this.decenas(decena, unidad);
    },

    unidadesdemillar (unimill, centena, decena, unidad) {
      console.log('datos a revisar: ', unimill, ' ', centena, 'decena', decena, ' ', unidad);
      var numero = this.unidades(unimill) + ' MIL ' + this.centenas(centena, decena, unidad);
      // numero = numero.replace("UN  MIL ", "MIL " );
      if (unidad === '0') {
        return numero.replace(' Y ', ' ');
      } else {
        return numero;
      }
    },
    decenasdemillar (decemill, unimill, centena, decena, unidad) {
      var numero = this.decenas(decemill, unimill) + ' MIL ' + this.centenas(centena, decena, unidad);
      return numero;
    },
    centenasdemillar (centenamill, decemill, unimill, centena, decena, unidad) {
      var numero = 0;
      numero = this.centenas(centenamill, decemill, unimill) + ' MIL ' + this.centenas(centena, decena, unidad);
      return numero;
    },
    separar_split (texto) {
      var contenido = [];
      for (var i = 0; i < texto.length; i++) {
        contenido[i] = texto.substr(i, 1);
      }
      return contenido;
    },
    numberFormat (num, decimals = 2) {
      num = Number(num).toFixed(decimals);
      let [ number, decimal ] = num.toString().split('.');
      number = number.split(/(?=(?:\d{3})+(?:\.|$))/g).join('.');
      return [ number, decimal ].join(',');
    }
  },
  watch: {
    'id_programa_search' (val) {
      if (val) {
        this.show = false;
        this.$nextTick(() => {
          this.filters[3].value = parseInt(val.id);
          this.filters[4].value = parseInt(val.version.id);
          this.show = true;
        });
      }
    },
    'form.monto_reserva' (val) {
      if (val) {
        this.form.literal_reserva = this.NumerosaLetras(parseInt(val));
        this.form.moneda_reserva = 'BOLIVIANOS';
        this.form.forma_pago = 'EFECTIVO';
      }
    }
  },
  components: {
    CrudTable,
    PersonaForm,
    LogDatos
  }
};
</script>