<template>
  <section>
    <h3>BIENVENIDOS</h3>
    <v-card>
      <v-card-text>
        <img src="../../assets/images/cidesS.png" class="dashboard-img" alt="welcome">
      </v-card-text>
    </v-card>
  </section>
</template>

<script>
  import FileUpload from '@/common/util/FileUpload.vue';
  import Demofi from '@/common/util/Demofi.vue';
  import modulo from './modulo/mixins/modulo';

  export default {
    mixins: [ modulo ],
    components: {
      FileUpload,
      Demofi
    },

    created () {
      this.getMenu();
    },
    methods: {
      showMessage (type) {
        console.log(type, this.$message);
        this.$message[type](`Mensaje tipo ${type}`);
      },
      showAlert () {
        this.$alert('Mensaje de alerta', function () {
          console.log('callback!!');
        });
      },
      showConfirm () {
        this.$confirm('Mensaje de confirmación', function () {
          console.log('ok!!');
        }, function () {
          console.log('cancel!!');
        });
      }
    }
  };
</script>
<style lang="scss">
@import '../../assets/scss/_variables.scss';

$bgSidenav: darken($primary, 100%);
  .app-welcome {
    width: 1500px;
    display: inline-block;
    vertical-align: top;
    margin: 7px 3px 0 -5px;
    background-size: 100%;
  }
  .dashboard-img {
    width: 100%;
    max-width: 400px;
  }
</style>

