<template>
  <section>
    <h3 class="primary--text"><v-icon info>person_outline</v-icon> ASIGNACIÓN DE CORREO INSTITUCIONAL A POSTGRADUANTES </h3>
    <!--{{ $store.state.user }} -->
     <v-autocomplete
      :items="programas"
      class="uppercase"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa_search"
      item-text="nombre"
      item-value="id"
      return-object>
      <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
       <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
        </v-chip>
      </template>
      </v-autocomplete>
    <v-card v-if="show">
      <v-card-text>
        <crud-table
          v-if="!$util.isRol('ESTUDIANTE' && show)"
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :data-graphql="dataGraphql"
          :widthModal="840"
        >

          <template slot="form">
            <v-card-title class="headline">
              <v-icon>{{ form.id ? 'person' : 'person_add' }}</v-icon> {{ id ? 'EDITAR DATOS DE CORREO DE POSTGRADUANTE CIDES 2020' : 'AGREGAR  FORMULARIO DE POSTULACIÓN CIDES 2020' }}
              <v-spacer></v-spacer>
              <v-btn icon @click="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation>
              <v-alert color="info"
                value="true"
                v-if="form.usuario == username && form.id">
                Puede cambiar su contraseña dirigiéndose a:
                <router-link to="/account" class="white--text">
                  <strong><v-icon dark class="icon-small">person</v-icon> {{ $t('app.account') }}</strong>
                </router-link>.
              </v-alert>
              <v-card-text class="pt-0">
                <v-container grid-list-md class="pt-0">
                  <h4>Datos personales</h4>
                  <persona-form store="usuario/" v-if="personaDatos" :db="true"></persona-form>

                  <h4>Datos Postgraduante</h4>
                   <v-layout row wrap>
                    
                      <v-flex xs6>
                        <v-text-field
                          label="Nombre de usuario"
                          prepend-icon="person"
                          v-model="usuario"
                          class="lowercase"
                          maxlength="50"
                          autocomplete="off"
                          :rules="$validate(['required'])"
                          required
                          autofocus
                          readonly
                          ></v-text-field>
                      </v-flex>

                      <v-flex xs6>
                          <v-text-field
                            label="Correo electrónico"
                            v-model="email"
                            class="required"
                            :rules="$validate(['email|required'])"
                            required
                            maxlength="100"
                            prepend-icon="email"
                            ></v-text-field>
                        </v-flex>

                      <v-flex xs6>
                          <v-text-field
                            label="Correo Institucional"
                            v-model="e_institucional"
                            class="required"
                            :rules="$validate(['email'])"
                            required
                            maxlength="100"
                            prepend-icon="email"
                            color="orange darken-2"
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs6>
                          <v-text-field
                            label="Contraseña Institucional"
                            v-model="c_institucional"
                            :rules="$validate(['required'])"
                            class="required"
                            required
                            maxlength="100"
                            prepend-icon="vpn_key"
                            color="orange darken-2"
                            autocomplete="off"
                            ></v-text-field>
                        </v-flex>         
                     
                  </v-layout> 
               
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn @click="$store.commit('closeModal');"><v-icon>cancel</v-icon> {{$t('common.cancel') }}</v-btn>
                <v-btn color="primary" type="submit"><v-icon>check</v-icon> {{$t('common.save') }}</v-btn>
              </v-card-actions>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['postulantesprograma:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click="editItem(items.item.id, 'usuario', dataGraphqlAll)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip
                bottom
                v-if="$store.state.permissions['postulantesprograma:delete'] && username !== items.item.usuario">
                <v-btn
                  icon
                  slot="activator"
                  @click="deleteItem(items.item.id, 'usuario')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>
            </td>
              
            <td class = "nowrap">{{ items.item.persona.primer_apellido }} {{ items.item.persona.segundo_apellido }} {{ items.item.persona.nombres }}</td>
            <td>{{ items.item.email }}</td>
            <td>{{ items.item.e_institucional }}</td>
            <td>{{ items.item.c_institucional }}</td>
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import Auth from '@/components/admin/auth/mixins/auth';
import validate from '@/common/mixins/validate';
import usuario from './mixins/usuario';
import listas from './mixins/listas';
import PersonaForm from '@/components/admin/persona/PersonaForm';
import LogDatos from '@/components/admin/usuario/LogDatos';
import token from '@/components/admin/modulo/mixins/token';
import modulo from '../../admin/modulo/mixins/modulo';

import { createHelpers } from 'vuex-map-fields';

const { mapFields } = createHelpers({
  getterType: 'usuario/getField',
  mutationType: 'usuario/updateField'
});

export default {
  mixins: [ crud, validate, Auth, usuario, token, listas, modulo ],
  created () {
    this.user = this.$storage.getUser();
    this.idDetallesprograma = this.user.id_detallesprograma;
    this.username = this.user.usuario;
    this.entidades = [];
    this.roles = [];
    this.programas = [];
    this.getRoles(1);
    this.getEntidades(0);
    this.getProgramas('programas');
    if (this.$util.isRol('ESTUDIANTE')) {
      this.personaDatos = true;
    }
  },
  data () {
    return {
      id_programa_search: null,
      logDatos: null,
      operadores: [],
      personaDatos: false,
      versiones: [],
      versiones2: [],
      programas: [],
      show: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'usuarios',
      headers: [
        { text: this.$t('common.actions'), sortable: false },
        // { text: this.$t('common.active'), sortable: false },
        { text: 'Nombre Completo', value: '' },
        { text: this.$t('user.crud.email'), value: 'email' },
        { text: 'Correo Institucional', value: 'e_institucional' },
        { text: 'Contraseña Institucional', value: 'c_institucional' }
        // { text: this.$t('user.crud.status'), value: 'estado' }
      ],
      dataGraphqlEdit: `
        id
        usuario
        email
        estado
        id_entidad
        id_rol
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      dataGraphql: `
        id
        usuario
        email
        estado
        id_programa
        id_version
        estado_estudiante
        id_entidad
        id_rol
        e_institucional
        c_institucional
        persona {
          nombres
          primer_apellido
          segundo_apellido
          telefono
          direccion
          lugar_nacimiento
          nombre_completo
        }
        entidad {
          nombre
        }
        rol {
          nombre
        }
      `,
      dataGraphqlAll: `
        id
        usuario
        email
        id_programa
        id_version
        estado_estudiante
        tipo_contacto
        estado
        id_entidad
        id_rol
        id_persona
        e_institucional
        c_institucional
        persona {
          nombres
          primer_apellido
          segundo_apellido
          tipo_documento
          nombre_completo
          lugar_exp
          direccion
          lugar_nacimiento
          tipo_documento_otro
          nro_documento
          fecha_nacimiento
          movil
          nacionalidad
          pais_nacimiento
          genero
          telefono
          estado
        }
        entidad {
          nombre
        }
        rol {
          nombre
        }
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      form: {
        usuario: '',
        contrasena: '',
        email: '',
        id_entidad: null,
        id_rol: null
      },
      filters: [
        {
          field: 'id_rol',
          label: this.$t('user.crud.role'),
          type: 'hidden',
          typeG: 'ID',
          value: 5,
          items: []
        },
        {
          field: 'estado_estudiante',
          type: 'hidden',
          typeG: 'String',
          value: 'INSCRITO'
        },
        {
          field: 'nombre_completo',
          label: this.$t('user.crud.fullname'),
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_version',
          type: 'hidden',
          typeG: 'Int'
        }
      ],
      hidePass: true,
      username: null,
      valid: true
    };
  },
  computed: {
    getIcon () {
      if (this.contrasena) {
        return this.contrasena.length === 0 ? 'lock' : this.hidePass ? 'visibility' : 'visibility_off';
      }
      return 'lock';
    },
    // Cargando datos del usuario del store
    ...mapFields([
      'form.id',
      'form.usuario',
      'form.contrasena',
      'form.email',
      'form.cargo',
      'form.g_academico',
      'form.ug_academico',
      'form.id_universidad',
      'form.carrera',
      'form.id_programa',
      'form.id_version',
      'form.ref_oferta',
      'form.ref_estudios',
      'form.c_institucional',
      'form.e_institucional',
      'form.idea_tesis',
      'form.estado_estudiante',
      'form.tipo_contacto',
      'form.direccion',
      'form.lugar_nacimiento',
      'form.lugar_exp',
      'form.tipo_docente',
      'form.id_entidad',
      'form.id_rol',
      'form.id_persona'
    ])
  },
  watch: {
    'id_programa_search' (val) {
      if (val) {
        this.show = false;
        this.$nextTick(() => {
          this.filters[3].value = parseInt(val.id);
          this.filters[4].value = parseInt(val.version.id);
          this.show = true;
        });
      }
    }
  },
  methods: {
    openModal (data = {}, form = true) {
      this.$store.commit('usuario/cleanForm');
      this.$refs.form.reset();
      this.$store.commit('setDate', { 'form.fecha_nacimiento': null });
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = {
            _user_created: data._user_created,
            _user_updated: data._user_updated,
            _created_at: data._created_at,
            _updated_at: data._updated_at
          };
          let user = {
            id: data.id,
            usuario: data.usuario,
            email: data.email,
            cargo: data.cargo,
            id_programa: data.id_programa + '',
            id_version: data.id_version,
            estado_estudiante: data.estado_estudiante,
            estado: data.estado,
            id_entidad: data.id_entidad + '',
            id_rol: data.id_rol + '',
            c_institucional: data.c_institucional,
            e_institucional: data.e_institucional
          };
          if (data.id_persona) {
            user.id_persona = data.id_persona;
            user.tipo_documento = data.persona.tipo_documento;
            user.lugar_exp = data.persona.lugar_exp;
            user.lugar_nacimiento = data.persona.lugar_nacimiento;
            user.direccion = data.persona.direccion;
            user.tipo_documento_otro = data.persona.tipo_documento_otro;
            user.nro_documento = data.persona.nro_documento;
            user.fecha_nacimiento = data.persona.fecha_nacimiento;
            user.nombres = data.persona.nombres;
            user.primer_apellido = data.persona.primer_apellido;
            user.segundo_apellido = data.persona.segundo_apellido;
            user.nombre_completo = data.persona.nombre_completo;
            user.telefono = data.persona.telefono;
            user.movil = data.persona.movil;
            user.nacionalidad = data.persona.nacionalidad;
            user.pais_nacimiento = data.persona.pais_nacimiento;
            user.genero = data.persona.genero;
            user.estado_persona = data.persona.estado;
            user.persona = {
              nombres: data.persona.nombres,
              paterno: data.persona.primer_apellido,
              materno: data.persona.segundo_apellido
            };
            if (data.persona.fecha_nacimiento) {
              this.$store.commit('setDate', { 'form.fecha_nacimiento': this.$datetime.transform(data.persona.fecha_nacimiento) });
            }
          }
          this.$store.commit('usuario/setForm', user);
          this.personaDatos = false;
          this.$nextTick(() => {
            this.personaDatos = true;
          });
        });
      } else {
        this.personaDatos = true;
      }
      if (form) {
        this.$store.commit('openModal');
      }
    },
    save () {
      if (this.$refs.form.validate()) {
        let form = { ...this.$store.state.usuario.form };
        let data = {};
        data.id = form.id;
        data.fecha_nacimiento = this.$datetime.format2(this.$store.state.date['form.fecha_nacimiento']);
        data.nombre_completo = form.nombres + ' ' + form.primer_apellido + ' ' + form.segundo_apellido;
        data.nombre_completo = (data.nombre_completo || '').toUpperCase();
        data.nombres = (form.nombres || '').toUpperCase();
        data.primer_apellido = (form.primer_apellido || '').toUpperCase();
        data.segundo_apellido = (form.segundo_apellido || '').toUpperCase();
        data.nro_documento = form.nro_documento;
        data.tipo_documento = form.tipo_documento;
        data.lugar_exp = form.lugar_exp;
        data.nacionalidad = form.nacionalidad;
        data.telefono = form.telefono;
        data.movil = form.movil;
        data.direccion = (form.direccion || '').toUpperCase();
        data.lugar_nacimiento = (form.lugar_nacimiento || '').toUpperCase();
        data.genero = form.genero;
        data.usuario = (form.usuario || '').toLowerCase();
        data.contrasena = (form.contrasena || '').toLowerCase();
        data.email = form.email;
        data.e_institucional = form.e_institucional;
        data.c_institucional = form.c_institucional;
        console.log('e_institucional', form.e_institucional);
        console.log('c_institucional', form.c_institucional);
        data.id_persona = form.id_persona;
        delete data.persona;
        if (data.id) {
          const id = data.id;
          delete data.id;
          delete data.contrasena;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $usuario: EditUsuario!) {
                usuarioEdit(id: $id, usuario: $usuario) {
                  id
                }
              }
            `,
            variables: {
              id,
              usuario: data
            }
          }).then(response => {
            if (response) {
              if (this.username === this.usuario) {
                this.$message.warning('Sus datos fueron actualizados, debe ingresar de nuevo al sistema.');
                this.logout();
              } else {
                this.$store.commit('closeModal');
                this.$message.success('Se actualizó el registro correctamente');
                if (!this.$util.isRol('ESTUDIANTE')) {
                  this.$store.commit('usuario/cleanForm');
                  this.updateList();
                } else {
                  this.$storage.set('token', response.usuarioEdit.token);
                }
              }
            }
          });
        }
      }
    }
  },
  components: {
    CrudTable,
    PersonaForm,
    LogDatos
  }
};
</script>
