<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> NOTAS-ESTUDIANTES </h3>
    <v-autocomplete
      :items="programas"
      class="uppercase"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa_search"
      item-text="nombre"
      item-value="id"
      return-object>
      <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
       <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
        </v-chip>
      </template>

    </v-autocomplete>
    <v-autocomplete
      v-if="id_programa_search"
      :items="bloques"
      label="Seleccione el bloque"
      id="bloques"
      v-model="id_bloque"
      item-text="nombre"
      item-value="id"
     >
      <template v-slot:item="{ item }">
          <v-list-tile-content>
            <v-list-tile-sub-title>{{ item.numero}} {{". "}} {{ item.nombre}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{item.numero}} {{". "}} {{item.nombre}}
        </v-chip>
      </template>
    </v-autocomplete>
    <v-autocomplete
      v-if="id_bloque"
      :items="modulos"
      label="Seleccione el módulo"
      id="modulos"
      v-model="id_modulo"
      item-text="nombre"
      item-value="id"
     >
      <template v-slot:item="{ item }">
          <v-list-tile-content>
            <v-list-tile-sub-title> {{ item.nro_modulo}} {{". "}} {{ item.nombre}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{item.nro_modulo}} {{". "}} {{ item.nombre}}
        </v-chip>
      </template>
    </v-autocomplete>
    <v-card  v-if="show">
      <v-card-text>      
        <table class="v-datatable v-table theme--light" >
          <thead>
            <tr>
              <th style="text-align:left"> Nro.</th>
              <th style="text-align:left"> Nombre Completo</th>
              <th style="text-align:left"> Carnet de Indetidad</th>
              <th style="text-align:left"> Telefono Celular</th>
              <th style="text-align:left"> Correo Electronico</th>
              <th style="text-align:left"> Nota</th>
              <th style="text-align:left"> Evalución</th>
              <th style="text-align:left"> Valoración</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              v-for="(item, index) in estudiantes"
              :key="index">
              <td style="text-align:left">{{ item.index }}</td>
              <td style="text-align:left" class="nowrap">{{ item.items[0].estudiante.persona.primer_apellido}} {{ item.items[0].estudiante.persona.segundo_apellido}} {{ item.items[0].estudiante.persona.nombres}}</td>
              <td style="text-align:left">{{ item.items[0].estudiante.persona.nro_documento }} {{item.items[0].estudiante.persona.lugar_exp}}</td>
              <td style="text-align:left">{{ item.items[0].estudiante.persona.movil }}</td>
              <td style="text-align:left">{{ item.items[0].estudiante.email }}</td>
              <td>
                {{item.total}}
              </td>
              <td>
                {{item.evaluacion}}
              </td>
              <td>
                {{item.valoracion}}
              </td>
            </tr>
          </tbody>
        </table>      
      </v-card-text>
      <v-card-actions>
      <small class="error--text text-required">* Los campos son obligatorios</small>
      <v-spacer></v-spacer>
      <v-btn color="primary" type="submit" @click= "actaNotas"><v-icon>print</v-icon>IMPRIMIR</v-btn>
    </v-card-actions>
    </v-card>
    <v-dialog v-model="$store.state.modal2" max-width="1000">
      <Asignacion 
        :id-programa="idPrograma" 
        :id-version="idVersion" 
        :id-bloque="idBloque" 
        :id-modulo="idModulo" 
        v-if="idModulo" />
    </v-dialog>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import listas from './mixins/listas';

export default {
  mixins: [ crud, validate, token, logDatos, listas ],
  created () {
    this.user = this.$storage.getUser();
    this.programas = [];
    this.getProgramas('programas');
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_asignacionDocente, 'asignacionDocente', this.dataGraphql, false);
    }
  },
  data () {
    return {
      programas: [],
      versiones: [],
      bloques: [],
      id_programa_search: null,
      id_bloque: null,
      idPrograma: 0,
      idVersion: 0,
      idBloque: 0,
      idModulo: 0,
      id_programa: null,
      id_modulo: null,
      modulos: [],
      docentes: [],
      estudiantes: [],
      show: false,
      valid: true,
      modulo: null,
      logDatos: null,
      graphql: true, // Definiendo el CRUD con Graphql
      filters: [
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_bloque',
          type: 'hidden',
          typeG: 'Int'
        }
      ],
      menu1: false,
      menu2: false,
      queryVersiones: `
        query versiones($id: Int!) {
          detallesprogramas(id_programa: $id) {
            count
            rows {
              id
              version
              gestion
              id_programa
            }
          }
        }
      `,
      queryModulos: `
        query modulos($id: Int!) {
          modulosprogramas(order: "nro_modulo", id_bloque: $id) {
            count
            rows {
              id
              nro_modulo
              nombre
            }
          }
        }
      `
    };
  },
  methods: {
    verificarValoracion (tipo, minNota, nota) {
      nota = parseInt(nota);
      minNota = parseInt(minNota);
      console.log('datos de la funcion: tipo', tipo, ' min ', minNota, ' nota ', nota);
      if (tipo === 'MAESTRIA') {
        if (nota < minNota) {
          return 'REPROBADO';
        } else {
          if (nota <= 69) {
            return 'APROBADO';
          } else {
            if (nota > 70 && nota <= 80) {
              return 'BUENO';
            } else {
              if (nota > 80 && nota <= 90) {
                return 'MUY BUENO';
              } else {
                if (nota > 90 && nota <= 100) {
                  return 'EXCELENTE';
                }
              }
            }
          }
        }
      }
      if (tipo === 'DOCTORADO') {
        if (nota >= 0 && nota <= minNota) {
          return 'REPROBADO';
        } else {
          if (nota >= 70 && nota <= 74) {
            return 'SUFICIENTE';
          } else {
            if (nota > 74 && nota <= 80) {
              return 'BUENO';
            } else {
              if (nota > 80 && nota <= 89) {
                return 'DISTINGUIDO';
              } else {
                if (nota > 89 && nota <= 100) {
                  return 'SOBRESALIENTE';
                }
              }
            }
          }
        }
      }
    },
    verificarEvaluacion (minNota, nota) {
      if (nota <= minNota) {
        return 'REPROBADO';
      } else {
        return 'APROBADO';
      }
    },
    openModalAsignacion (id) {
      this.idModulo = 0;
      this.$nextTick(() => {
        this.idModulo = parseInt(id);
        this.$store.commit('openModal', 2);
      });
    },
    getModulos (id) {
      this.$service.graphql({
        query: this.queryModulos,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.modulos = response.modulosprogramas.rows || [];
        }
      });
    },
    getEstudiantes (idP, idV, idB, idM) {
      this.$service.graphql({
        query: `
        query getEstudiantes {
          records (id_programa: ${idP}, id_version: ${idV}, id_bloque: ${idB}, id_modulo: ${idM}) {
            count
            rows {
              id
              id_estudiante
              nota
              est_evaluacion
              est_valoracion
              estudiante {
                persona {
                  primer_apellido
                  segundo_apellido
                  nombres
                  nombre_completo
                  nro_documento
                  movil
                  lugar_exp
                }
                email
                carrera
              }
              programa {
                nota_minima
                tipo
              }
            }
          }
        }
      `,
        variables: {
        }
      }).then(response => {
        if (response) {
          this.show = false;
          this.$nextTick(() => {
            let estudiantes = {};
            for (const item of (response.records.rows || [])) {
              if (!estudiantes[item.id_estudiante]) {
                estudiantes[item.id_estudiante] = {
                  items: [],
                  total: 0,
                  evaluacion: '',
                  valoracion: ''
                };
              }
              estudiantes[item.id_estudiante].items.push(item);
            }
            let i = 0;
            for (const id in estudiantes) {
              let total = 0;
              for (const el of estudiantes[id].items) {
                total += parseFloat(el.nota);
              }
              estudiantes[id].total = total / estudiantes[id].items.length;
              estudiantes[id].valoracion = this.verificarValoracion(estudiantes[id].items[0].programa.tipo, estudiantes[id].items[0].programa.nota_minima, estudiantes[id].total);
              estudiantes[id].evaluacion = this.verificarEvaluacion(estudiantes[id].items[0].programa.nota_minima, estudiantes[id].total);
              estudiantes[id].index = ++i;
            }
            console.log('estudiantes: ', estudiantes);
            this.estudiantes = estudiantes;
            this.show = true;
          });
        }
      });
    },
    actaNotas () {
      this.$service.post('system/actaNotasConsolidado/pdf/' + this.idPrograma + '/' + this.idVersion + '/' + this.idBloque + '/' + this.idModulo)
        .then(response => {
          if (response) {
            console.log('pdffff', response);
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `actaNotas-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    }

  },
  watch: {
    'id_programa_search' (val) {
      this.idPrograma = parseInt(val.id);
      this.idVersion = parseInt(val.version.id);
      this.getBloques(val.id);
    },
    'id_bloque' (val) {
      if (val) {
        this.idBloque = parseInt(val);
        this.getModulos(this.idBloque);
      }
    },
    'id_modulo' (val) {
      if (val) {
        console.log('resultado de: ', val);
        //  this.idModulo = parseInt(val);
        this.show = false;
        this.$nextTick(() => {
          this.idModulo = parseInt(val);
          this.getEstudiantes(this.idPrograma, this.idVersion, this.id_bloque, this.idModulo);
          this.show = true;
        });
      }
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
