<template>
  <section>
    <h3 class="primary--text"><v-icon info>person_outline</v-icon> SEGUIMIENTO DE REQUISITOS </h3>
    <!--{{ $store.state.user }} -->
     <v-autocomplete
      :items="programas"
      class="uppercase"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa_search"
      item-text="nombre"
      item-value="id"
      return-object>
      <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
       <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
        </v-chip>
      </template>
      </v-autocomplete>
    <v-card  v-if="show">
      <v-card-text>   
        <ul>
          <li style="text-align:left" v-for="(item, index) in estudiantes[0].requisitos">R{{index + 1}} {{':'}} {{item.nombre}}</li>
        </ul>
        <table class="v-datatable v-table theme--light" >
          <thead>
            <tr>
              <th style="text-align:left"> Nro.</th>
              <th style="text-align:left"> Carnet de Indetidad</th>
              <th style="text-align:left"> Apellido Paterno</th>
              <th style="text-align:left"> Apellido Materno</th>
              <th style="text-align:left"> Nombres</th>
              <th style="text-align:left" v-for="(item, index) in estudiantes[0].requisitos">R{{index + 1}}</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              v-for="item in estudiantes"
              :key="item.id">
              <td style="text-align:left">{{ item.id }}</td>
              <td style="text-align:left">{{ item.persona.nro_documento }} {{item.persona.lugar_exp}}</td>
              <td style="text-align:left" class="nowrap">{{ item.persona.primer_apellido}}</td>
              <td style="text-align:left" class="nowrap">{{ item.persona.segundo_apellido}}</td>
              <td style="text-align:left" class="nowrap">{{ item.persona.nombres}}</td> 
              <td v-for="req in item.requisitos">{{req.value === true ? 'SI' : 'NO' }}</td>
            </tr>
          </tbody>
        </table>      
      </v-card-text>
      <v-card-actions>
      <small class="error--text text-required">* Los campos son obligatorios</small>
      <v-spacer></v-spacer>
      <v-btn color="primary" type="submit" @click= "pdfrequisitos"><v-icon>print</v-icon>IMPRIMIR</v-btn>
    </v-card-actions>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import Auth from '@/components/admin/auth/mixins/auth';
import validate from '@/common/mixins/validate';
import usuario from './mixins/usuario';
import listas from './mixins/listas';
import PersonaForm from '@/components/admin/persona/PersonaForm';
import LogDatos from '@/components/admin/usuario/LogDatos';
import token from '@/components/admin/modulo/mixins/token';
import modulo from '../../admin/modulo/mixins/modulo';

// import { createHelpers } from 'vuex-map-fields';

// const { mapFields } = createHelpers({
//   getterType: 'usuario/getField',
//   mutationType: 'usuario/updateField'
// });

export default {
  mixins: [ crud, validate, Auth, usuario, token, listas, modulo ],
  created () {
    this.user = this.$storage.getUser();
    this.username = this.user.usuario;
    this.roles = [];
    this.getRoles(1);
    this.getProgramas('INICIO', 'programas');
    if (this.$util.isRol('ESTUDIANTE')) {
      this.personaDatos = true;
    }
  },
  data () {
    return {
      id_programa_search: null,
      logDatos: null,
      operadores: [],
      estadoEstudiante: 'INSCRITO',
      personaDatos: false,
      grados: [],
      estudiantes: [],
      idProg: null,
      idVer: null,
      carreras: [],
      versiones: [],
      versiones2: [],
      universidades: [],
      programas: [],
      show: false,
      form: {
        usuario: '',
        contrasena: '',
        email: '',
        id_entidad: null,
        id_rol: null
      },
      filters: [
        {
          field: 'estado_estudiante',
          type: 'hidden',
          typeG: 'String',
          value: 'INSCRITO'
        },
        {
          field: 'nombre_completo',
          label: this.$t('user.crud.fullname'),
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_version',
          type: 'hidden',
          typeG: 'Int'
        }
      ],
      hidePass: true,
      username: null,
      valid: true
    };
  },

  watch: {
    'id_programa_search' (val) {
      if (val) {
        this.show = false;
        this.$nextTick(() => {
          this.idProg = parseInt(val.id);
          this.idVer = parseInt(val.version.id);
          this.getEstudiantes(this.idProg, this.idVer);
          this.show = true;
        });
      }
    }
  },
  methods: {
    getEstudiantes (idP, idV) {
      this.$service.graphql({
        query: `
        query getEstudiantes {
          usuarios (id_programa: ${idP}, id_version: ${idP}) {
            count
            rows {
              id
              persona {
                primer_apellido
                segundo_apellido
                nombres
                nro_documento
              }
              requisitos
            }
          }
        }
      `,
        variables: {
        }
      }).then(response => {
        if (response) {
          this.show = false;
          this.$nextTick(() => {
            this.estudiantes = response.usuarios.rows || [];
            console.log('estudiantes: ', this.estudiantes);
            this.show = true;
          });
        }
      });
    },
    pdfrequisitos () {
      console.log('datos para verificar ', this.idProg, this.idVer);
      this.$service.post('system/requisitos/pdfrequisitos/' + this.estadoEstudiante + '/' + this.idProg + '/' + this.idVer + '/' + this.username)
        .then(response => {
          if (response) {
            const link = document.createElement('a');
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `reporte-segRequisitos-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    }
  },
  components: {
    CrudTable,
    PersonaForm,
    LogDatos
  }
};
</script>
