<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> Plan de Pagos</h3>
     <v-autocomplete
    :items="programas"
    label= "Seleccione un Programa"
    id = "programas"
    v-model="id_programa_search"
    item-text="nombre"
    item-value="id"
    return-object>
    <template v-slot:item="{ item }">
      <v-list-tile-content>
        <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
      </v-list-tile-content>
    </template> 
    <template v-slot:selection="{ item, selected }">
      <v-chip
        :selected="selected"
        color="blue-grey"
        class="white--text"
      >
        {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
      </v-chip>
    </template>
    </v-autocomplete>
    <v-card v-if="show">
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :data-graphql="dataGraphql"
          :widthModal="800"
        >
          <template slot="form">
            <v-card-title class="headline">
              <v-icon>business</v-icon> {{ form.id ? 'PLAN DE PAGOS' : 'Agregar universidad' }}
              <v-spacer/>
              <v-btn icon @click.native="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation
              >
              <v-card-text class="pt-0">
                <v-container grid-list-md>
                  <h4>Datos Plan de Pagos</h4>
                  <v-layout wrap>
                    
                    <v-flex xs4>
                      <v-text-field
                        name="opcionPago"
                        label="Opción Plan de Pago"
                        class= "uppercase"
                        id="opcionPago"
                        v-model="form.opcion_pago"
                        maxlength="500"
                        :counter="500"
                        :rules="$validate(['required'])"
                        required
                        disabled
                      ></v-text-field>
                    </v-flex>

                     <v-flex xs2>
                          <v-text-field
                            label="Descuento %"
                            v-model="form.descuento"
                            id="descuento"
                            disabled
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs2>
                          <v-text-field
                            label="Costo Matricula"
                            v-model="form.monto_matricula_1"
                            id="costo_matricula"
                            disabled
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs2>
                          <v-text-field
                            label="Costo Colegiatura Total"
                            v-model="form.costo_colegiatura_total"
                            id="costo_colegiatura_total"
                            disabled
                            ></v-text-field>
                        </v-flex>                     

                        <v-flex xs2>
                          <v-text-field
                            label="Monto Descuento"
                            v-model="form.monto_descuento" 
                            id="monto_descuento"
                            disabled
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs3>
                          <v-text-field
                            label="Costo Colegiatura Aplicada"
                            v-model="form.costo_colegiatura" 
                            id="costo_colegiatura_aplicada"
                            disabled
                            ></v-text-field>
                        </v-flex>
                        
                        <v-flex xs3>
                          <v-text-field
                            label="Cuota Inicial"
                            v-model="form.monto_reserva"
                            id="cuota_inicial"
                            disabled
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs3>
                          <v-text-field
                            label="Cuota Inicial(Reserva)"
                            v-model="form.nro_recibo"
                            id="cuota_inicial"
                            disabled
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs3>
                          <v-text-field
                            label="Nro. Cuotas"
                            v-model="form.nro_cuotas"
                            id="nro_cuotas"
                            disabled
                            ></v-text-field>
                        </v-flex>
                      
                      <table class="v-datatable v-table theme--light">
                      <thead>
                        <tr>
                          <th>Gestion</th>
                          <th>Nro. Cuota</th>
                          <th>Concepto</th>
                          <th>Monto</th>
                          <th>Saldo</th>
                          <th>Fecha vencimiento</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr 
                          v-for="(item, index) in form.plan_pagos"
                          :key="index">
                          <td class="text-xs-center">{{ item.gestion }}</td>
                          <td class="text-xs-center">{{ item.numero }}</td>
                          <td class="text-xs-center">{{ item.concepto }}</td>
                          <td class="text-xs-right">{{ item.monto }}</td>
                          <td class="text-xs-right">{{ item.saldo }}</td>
                          <td class="text-xs-center">{{item.fecha}}</td> 
                        </tr>
                      </tbody>
                    </table>
                        
                 </v-layout>
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['contratos:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="editItem(items.item.id, 'contrato', dataGraphqlAll)">
                  <v-icon  color="primary">view_list</v-icon>INFO
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip> 
            </td>
             <td>
              <v-btn small
                icon
                @click="$router.push(`/pagos/${items.item.id}`)">
                <v-icon color="blue darken-2">monetization_on</v-icon>
                <span>PAGOS-SIA</span>
                </v-btn>
            </td>        
            <td class="nowrap">{{ items.item.persona.primer_apellido }} {{ items.item.persona.segundo_apellido }} {{ items.item.persona.nombres }}</td>
            <td>{{ items.item.persona.nro_documento }} {{ items.item.persona.lugar_exp }}</td>
            <td>{{ items.item.persona.movil}}</td>
            <td>{{ items.item.sia}}</td>
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import Auth from '@/components/admin/auth/mixins/auth';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
// import usuario from './mixins/usuario';
import listas from './mixins/listas';
export default {
  mixins: [ crud, validate, token, logDatos, listas, Auth, token ],
  created () {
    this.user = this.$storage.getUser();
    this.username = this.user.usuario;
    this.programas = [];
    this.getProgramas('INICIO', 'programas');
  },
  data () {
    return {
      id_programa_search: null,
      logDatos: null,
      successAlert: false,
      show: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'contratos',
      headers: [
        { text: 'Información', value: '' },
        { text: 'Plan de Pagos', value: '' },
        { text: 'Nombre Completo', value: '' },
        { text: 'Nro. Documento', value: '' },
        { text: 'Teléfono Móvil', value: '' },
         { text: 'Estado Pagos SIA', value: '' }
      ],
      form: {
        opcion_pago: '',
        costo_colegiatura: '',
        costo_colegiatura_total: '',
        monto_matricula_1: '',
        monto_descuento: ''
      },
      dataGraphql: `
        id
        opcion_pago
        costo_colegiatura
        costo_colegiatura_total
        monto_matricula_1
        monto_descuento
        descuento
        monto_reserva
        nro_recibo
        nro_cuotas
        plan_pagos
        sia
        persona {
          nombres
          primer_apellido
          segundo_apellido
          telefono
          movil
          direccion
          nro_documento 
          lugar_exp
        }
        programa {
          nombre
        }
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      dataGraphqlAll: `
        id
        opcion_pago
        costo_colegiatura
        costo_colegiatura_total
        monto_matricula_1
        monto_descuento
        descuento
        monto_reserva
        nro_recibo
        nro_cuotas
        plan_pagos
        sia
        persona {
          nombres
          primer_apellido
          segundo_apellido
          telefono
          movil
          direccion
          nro_documento 
          lugar_exp
        }
        programa {
          nombre
        }
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [
        {
          field: 'nombre_completo',
          label: this.$t('user.crud.fullname'),
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_version',
          type: 'hidden',
          typeG: 'Int'
        }
      ],
      idUniversidad: null,
      valid: true
    };
  },
  methods: {
    openModal (data = {}, form = true) {
      this.valid = true;
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.form = {
          opcion_pago: '',
          costo_colegiatura_total: ''
        };
      }
      if (form) {
        this.$store.commit('openModal');
      }
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        if (data.id) {
          delete data.id;
          this.$service.graphql({
            query: `
             mutation edit($id: ID!, $contrato: EditContrato!) {
                contratoEdit(id: $id, contrato: $contrato) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              contrato: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          this.$service.graphql({
            query: `
               mutation add($contrato: NewContrato!) {
                contratoAdd(contrato: $contrato) {
                  id
                }
              }
            `,
            variables: {
              contrato: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    }
  },
  watch: {
    'id_programa_search' (val) {
      this.show = false;
      this.$nextTick(() => {
        this.filters[1].value = parseInt(val.id);
        this.filters[2].value = parseInt(val.version.id);
        this.idProg = parseInt(val.id);
        this.idVer = parseInt(val.version.id);
        this.show = true;
      });
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
