<template>
  <section>
    <h3 class="primary--text"><v-icon info>person_outline</v-icon> INSCRITOS POR PROGRAMA </h3>
    <!--{{ $store.state.user }} -->
     <v-autocomplete
      :items="programas"
      class="uppercase"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa_search"
      item-text="nombre"
      item-value="id"
      return-object>
      <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
       <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
        </v-chip>
      </template>
      </v-autocomplete>
    <v-card v-if="show">
      <v-card-text>
        <crud-table
          v-if="!$util.isRol('ESTUDIANTE' && show)"
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :data-graphql="dataGraphql"
          :widthModal="840"
        >
          <template slot="buttons">
            <v-btn  color="primary" @click="pdfInscritos" ><v-icon  small>get_app</v-icon><strong>LISTA DE INSCRITOS</strong></v-btn>
          </template>
         
          <template slot="buttons">
            <v-tooltip bottom v-if="$store.state.permissions['postulantesprograma:create']">
              <v-btn
                color="primary"
                @click.stop="openModal()"
                slot="activator"
              ><v-icon>person_add</v-icon> {{$t('common.add') }}</v-btn>
              <span>{{$t('user.add')}}</span>
            </v-tooltip>
          </template>

          <template slot="form">
            <v-card-title class="headline">
              <v-icon>{{ form.id ? 'person' : 'person_add' }}</v-icon> {{ id ? 'EDITAR FORMULARIO DE POSTULACIÓN CIDES 2020' : 'AGREGAR  FORMULARIO DE POSTULACIÓN CIDES 2020' }}
              <v-spacer></v-spacer>
              <v-btn icon @click="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation>
              <v-alert color="info"
                value="true"
                v-if="form.usuario == username && form.id">
                Puede cambiar su contraseña dirigiéndose a:
                <router-link to="/account" class="white--text">
                  <strong><v-icon dark class="icon-small">person</v-icon> {{ $t('app.account') }}</strong>
                </router-link>.
              </v-alert>
              <v-card-text class="pt-0">
                <v-container grid-list-md class="pt-0">
                  <h4>Datos personales</h4>
                  <persona-form store="usuario/" v-if="personaDatos" :db="true"></persona-form>

                  <h4>Datos Postulante</h4>
                   <v-layout row wrap>
                    
                      <v-flex xs4>
                        <v-text-field
                          label="Nombre de usuario"
                          prepend-icon="person"
                          v-model="usuario"
                          class="lowercase"
                          maxlength="50"
                          autocomplete="off"
                          :rules="$validate(['required'])"
                          required
                          autofocus
                          readonly
                          ></v-text-field>
                      </v-flex>

                      <v-flex xs4>
                        <v-text-field
                          v-if="!id"
                          label="Contraseña"
                          v-model="contrasena"
                          class="lowercase"
                          :prepend-icon="getIcon"
                          @click:prepend="changeIcon"
                          :type="hidePass ? 'password' : 'text'"
                          maxlength="50"
                          autocomplete="off"
                          :rules="$validate(['required'])"
                          required
                          readonly
                          ></v-text-field>
                      </v-flex>
                      
                      <v-flex xs4>
                          <v-text-field
                            label="Correo electrónico"
                            v-model="email"
                            class="required"
                            :rules="$validate(['email|required'])"
                            required
                            maxlength="100"
                            prepend-icon="email"
                            ></v-text-field>
                        </v-flex>

                      <v-flex xs6>
                        <v-autocomplete
                          :items="universidades"
                          label="Universidad"
                          :rules="$validate(['required'])"
                          class="required"
                          required
                          v-model="id_universidad"
                          maxlength="100"
                          item-text="nombre"
                          item-value="id"
                          ></v-autocomplete>
                      </v-flex>

                      <v-flex xs6>
                        <v-autocomplete
                          :items="carreras"
                          :rules="$validate(['required'])"
                          class="required"
                          required
                          label="Carrera"
                          id="carrera"
                          v-model="carrera"
                          item-text="nombre"
                          item-value="codigo"
                      ></v-autocomplete>
                      </v-flex>

                      <v-flex xs6>
                        <v-autocomplete
                          :items="grados"
                          :rules="$validate(['required'])"
                          class="required"
                          required
                          label="Grado Academico"
                          id="g_academico"
                          v-model="g_academico"
                          item-text="nombre"
                          item-value="codigo"
                      ></v-autocomplete>
                      </v-flex>

                      <v-flex xs6>
                        <v-autocomplete
                          :items="grados"
                          :rules="$validate(['required'])"
                          class="required"
                          required
                          label="Ultimo Grado Academico"
                          id="ug_academico"
                          v-model="ug_academico"
                          item-text="nombre"
                          item-value="codigo"
                      ></v-autocomplete>
                      </v-flex>

                      <v-flex xs12>
                        <v-autocomplete
                          :items="programas"
                          :rules="$validate(['required'])"
                          class="required"
                          required
                          label="PROGRAMA AL QUE POSTULA"
                          id="programas"
                          v-model="id_programa"
                          item-text="nombre"
                          item-value="id"
                      ></v-autocomplete>
                      </v-flex>

                      <v-flex xs12>        
                        <v-textarea
                          v-model="ref_estudios"
                          label="ESTUDIOS REALIZADOS"
                          :rules="$validate(['required'])"
                          class="required"
                          required
                        >
                      </v-textarea>
                      </v-flex>

                      <v-flex xs12>        
                        <v-textarea
                          v-model="idea_tesis"
                          label="IDEA DE TESIS"
                          :rules="$validate(['required'])"
                          class="required"
                          required
                        >
                      </v-textarea>
                      </v-flex>
      
                     <v-flex xs6>
                        <v-autocomplete
                          :items="tipoOferta"
                          label="COMO SE ENTERO DE LA OFERTA DE CIDES"
                          class="required"
                          :rules="$validate(['required'])"
                          required
                          id="ref_oferta"
                          v-model= ref_oferta
                      ></v-autocomplete>
                      </v-flex>
                      
                      <v-flex xs6>
                       <v-radio-group
                          v-model="tipo_contacto"
                          row
                          label="COMO DESEA QUE CIDES SE CONTACTE CON USTED: "
                          class="required"
                          :rules="$validate(['required'])"
                          required
                        >
                          <v-radio
                            label="Telefono"
                            value="T"
                          ></v-radio>
                          <v-radio
                            label="Correo"
                            value="C"
                          ></v-radio>
                        </v-radio-group>
                      </v-flex>
                  </v-layout> 
               
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn @click="$store.commit('closeModal');"><v-icon>cancel</v-icon> {{$t('common.cancel') }}</v-btn>
                <v-btn color="primary" type="submit"><v-icon>check</v-icon> {{$t('common.save') }}</v-btn>
              </v-card-actions>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['postulantesprograma:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click="editItem(items.item.id, 'usuario', dataGraphqlAll)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip
                bottom
                v-if="$store.state.permissions['postulantesprograma:delete'] && username !== items.item.usuario">
                <v-btn
                  icon
                  slot="activator"
                  @click="deleteItem(items.item.id, 'usuario')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>
            </td>

            <td class = "nowrap">{{ items.item.persona.primer_apellido }} {{ items.item.persona.segundo_apellido }} {{ items.item.persona.nombres }}</td>
            <td>{{ printConstante(items.item.g_academico,'grados')}}</td>
            <td class = "nowrap">{{ printUniversidad(items.item.id_universidad + '', 'universidades')}}</td>
            <td>{{ printConstante(items.item.carrera,'carreras')}}</td>
            <td>{{ items.item.email }}</td>
            <td>{{ items.item.persona.direccion }}</td>
            <td>{{ items.item.persona.lugar_nacimiento }}</td>
          </template>
        </crud-table>
        <div v-else>
          <!-- <div>Opciones</div> -->
          <v-form
            @submit.prevent="save"
            v-model="valid"
            ref="form"
            lazy-validation>
            <v-alert color="info"
              value="true"
              v-if="form.usuario == username && form.id">
              Puede cambiar su contraseña dirigiéndose a:
              <router-link to="/account" class="white--text">
                <strong><v-icon dark class="icon-small">person</v-icon> {{ $t('app.account') }}</strong>
              </router-link>.
            </v-alert>
            <v-container grid-list-md class="pt-0">
              <h4>Datos personales</h4>
              <persona-form store="usuario/" v-if="personaDatos" :db="true"></persona-form>

              <h4>Datos Postulante</h4>
                <v-layout row wrap>
                
                  <v-flex xs4>
                    <v-text-field
                      label="Nombre de usuario"
                      prepend-icon="person"
                      v-model="usuario"
                      class="lowercase"
                      maxlength="50"
                      autocomplete="off"
                      :rules="$validate(['required'])"
                      required
                      autofocus
                      readonly
                      ></v-text-field>
                  </v-flex>

                  <v-flex xs4>
                    <v-text-field
                      v-if="!id"
                      label="Contraseña"
                      v-model="contrasena"
                      class="lowercase"
                      :prepend-icon="getIcon"
                      @click:prepend="changeIcon"
                      :type="hidePass ? 'password' : 'text'"
                      maxlength="50"
                      autocomplete="off"
                      :rules="$validate(['required'])"
                      required
                      readonly
                      ></v-text-field>
                  </v-flex>
                  
                  <v-flex xs4>
                      <v-text-field
                        label="Correo electrónico"
                        class="required"
                        v-model="email"
                        :rules="$validate(['email'||'required'])"
                        required
                        maxlength="100"
                        prepend-icon="email"
                        ></v-text-field>
                    </v-flex>

                  <v-flex xs6>
                    <v-autocomplete
                      :items="universidades"
                      label="Universidad"
                      class="uppercase"
                      v-model="id_universidad"
                      maxlength="100"
                      item-text="nombre"
                      item-value="id"
                      ></v-autocomplete>
                  </v-flex>

                  <v-flex xs6>
                    <v-autocomplete
                      :items="carreras"
                      class="uppercase"
                      label="Carrera"
                      id="carrera"
                      v-model="carrera"
                      item-text="nombre"
                      item-value="codigo"
                  ></v-autocomplete>
                  </v-flex>

                  <v-flex xs6>
                    <v-autocomplete
                      :items="grados"
                      class="uppercase"
                      label="Grado Academico"
                      id="g_academico"
                      v-model="g_academico"
                      item-text="nombre"
                      item-value="codigo"
                  ></v-autocomplete>
                  </v-flex>

                  <v-flex xs6>
                    <v-autocomplete
                      :items="grados"
                      class="uppercase"
                      label="Ultimo Grado Academico"
                      id="ug_academico"
                      v-model="ug_academico"
                      item-text="nombre"
                      item-value="codigo"
                  ></v-autocomplete>
                  </v-flex>

                  <v-flex xs12>
                    <v-autocomplete
                      :items="programas"
                      class="uppercase"
                      label="PROGRAMA AL QUE POSTULA"
                      id="programas"
                      v-model="id_programa"
                      item-text="nombre"
                      item-value="id"
                  ></v-autocomplete>
                  </v-flex>

                  <v-flex xs12>        
                    <v-textarea
                      v-model="ref_estudios"
                      label="ESTUDIOS REALIZADOS"
                    >
                  </v-textarea>
                  </v-flex>

                  <v-flex xs12>        
                    <v-textarea
                      v-model="idea_tesis"
                      label="IDEA DE TESIS"
                    >
                  </v-textarea>
                  </v-flex>
  
                  <v-flex xs6>
                    <v-autocomplete
                      :items="tipoOferta"
                      class="uppercase"
                      label="COMO SE ENTERO DE LA OFERTA DE CIDES"
                      id="ref_oferta"
                      v-model="ref_oferta"
                      :rules="$validate(['required'])"
                      required
                  ></v-autocomplete>
                  </v-flex>
                  
                  <v-flex xs6>
                    <v-radio-group
                      v-model="tipo_contacto"
                      row
                      label="COMO DESEA QUE CIDES SE CONTACTE CON USTED: "
                      :rules="$validate(['required'])"
                      required
                      class="required"
                    >
                      <v-radio
                        label="Telefono"
                        value="T"
                      ></v-radio>
                      <v-radio
                        label="Correo"
                        value="C"
                      ></v-radio>
                    </v-radio-group>
                  </v-flex>
              </v-layout> 
            
            </v-container>
            <log-datos :data="logDatos" v-if="logDatos"></log-datos>
            <v-card-actions>
              <small class="error--text text-required">* Los campos son obligatorios</small>
              <v-spacer></v-spacer>
              <v-btn @click="$store.commit('closeModal');"><v-icon>cancel</v-icon> {{$t('common.cancel') }}</v-btn>
              <v-btn color="primary" type="submit"><v-icon>check</v-icon> {{$t('common.save') }}</v-btn>
            </v-card-actions>
          </v-form>
        </div>
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import Auth from '@/components/admin/auth/mixins/auth';
import validate from '@/common/mixins/validate';
import usuario from './mixins/usuario';
import listas from './mixins/listas';
import PersonaForm from '@/components/admin/persona/PersonaForm';
import LogDatos from '@/components/admin/usuario/LogDatos';
import token from '@/components/admin/modulo/mixins/token';
import modulo from '../../admin/modulo/mixins/modulo';

import { createHelpers } from 'vuex-map-fields';

const { mapFields } = createHelpers({
  getterType: 'usuario/getField',
  mutationType: 'usuario/updateField'
});

export default {
  mixins: [ crud, validate, Auth, usuario, token, listas, modulo ],
  created () {
    this.user = this.$storage.getUser();
    this.idDetallesprograma = this.user.id_detallesprograma;
    this.username = this.user.usuario;
    this.entidades = [];
    this.roles = [];
    this.grados = [];
    this.carreras = [];
    this.programas = [];
    this.getRoles(1);
    this.getEntidades(0);
    this.getConstantes('GRADO ACADEMICO', 'grados');
    this.getConstantes('CARRERA', 'carreras');
    this.getUniversidades('universidades');
    this.getProgramas('POSTULACION', 'programas');
    this.universidades = [];
    if (this.$util.isRol('ESTUDIANTE')) {
      this.personaDatos = true;
    }
  },
  data () {
    return {
      id_programa_search: null,
      logDatos: null,
      operadores: [],
      estadoEstudiante: 'INSCRITO',
      personaDatos: false,
      grados: [],
      idProg: null,
      idVer: null,
      carreras: [],
      versiones: [],
      versiones2: [],
      universidades: [],
      programas: [],
      show: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'usuarios',
      headers: [
        { text: this.$t('common.actions'), sortable: false },
        //  { text: this.$t('common.active'), sortable: false },
        //  { text: 'Admitir Postulante', sortable: false },
        { text: 'Nombre Completo', value: '' },
        { text: 'Grado Academico', value: 'g_academico' },
        { text: 'Universidad', value: 'id_universidad' },
        { text: 'Carrera', value: 'carrera' },
        { text: this.$t('user.crud.email'), value: 'email' },
        { text: 'Direccion', value: 'direccion' },
        { text: 'Lugar de Nacimiento', value: 'lugar_nacimiento' }
        // { text: this.$t('user.crud.status'), value: 'estado' }
      ],
      dataGraphqlEdit: `
        id
        usuario
        email
        estado
        id_entidad
        id_rol
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      dataGraphql: `
        id
        usuario
        email
        estado
        g_academico
        ug_academico
        id_universidad
        carrera
        id_programa
        id_version
        ref_oferta
        ref_estudios
        idea_tesis
        estado_estudiante
        tipo_contacto
        id_entidad
        id_rol
        persona {
          nombres
          primer_apellido
          segundo_apellido
          telefono
          direccion
          lugar_nacimiento
          nombre_completo
        }
        entidad {
          nombre
        }
        rol {
          nombre
        }
      `,
      dataGraphqlAll: `
        id
        usuario
        email
        cargo
        g_academico
        ug_academico
        id_universidad
        carrera
        id_programa
        id_version
        ref_oferta
        ref_estudios
        idea_tesis
        estado_estudiante
        tipo_contacto
        estado
        id_entidad
        id_rol
        id_persona
        persona {
          nombres
          primer_apellido
          segundo_apellido
          tipo_documento
          nombre_completo
          lugar_exp
          direccion
          lugar_nacimiento
          tipo_documento_otro
          nro_documento
          fecha_nacimiento
          movil
          nacionalidad
          pais_nacimiento
          genero
          telefono
          estado
        }
        entidad {
          nombre
        }
        rol {
          nombre
        }
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      queryVersiones: `
        query versiones($id: Int!) {
          detallesprogramas(id_programa: $id) {
            count
            rows {
              id
              version
              gestion
              id_programa
            }
          }
        }
      `,
      form: {
        usuario: '',
        contrasena: '',
        email: '',
        id_entidad: null,
        id_rol: null
      },
      filters: [
        {
          field: 'id_rol',
          label: this.$t('user.crud.role'),
          type: 'hidden',
          typeG: 'ID',
          value: 5,
          items: []
        },
        {
          field: 'estado_estudiante',
          type: 'hidden',
          typeG: 'String',
          value: 'INSCRITO'
        },
        {
          field: 'nombre_completo',
          label: this.$t('user.crud.fullname'),
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_version',
          type: 'hidden',
          typeG: 'Int'
        }
      ],
      tipoOferta: [
        { value: 'I', text: 'INTERNET' },
        { value: 'R', text: 'REDES SOCIALES' },
        { value: 'M', text: 'MEDIOS DE COMUNICACION' },
        { value: 'P', text: 'REFERENCIAS PERSONALES' },
        { value: 'O', text: 'OTROS' }
      ],
      hidePass: true,
      username: null,
      valid: true
    };
  },
  computed: {
    getIcon () {
      if (this.contrasena) {
        return this.contrasena.length === 0 ? 'lock' : this.hidePass ? 'visibility' : 'visibility_off';
      }
      return 'lock';
    },
    // Cargando datos del usuario del store
    ...mapFields([
      'form.id',
      'form.usuario',
      'form.contrasena',
      'form.email',
      'form.cargo',
      'form.g_academico',
      'form.ug_academico',
      'form.id_universidad',
      'form.carrera',
      'form.id_programa',
      'form.id_version',
      'form.ref_oferta',
      'form.ref_estudios',
      'form.idea_tesis',
      'form.estado_estudiante',
      'form.tipo_contacto',
      'form.direccion',
      'form.lugar_nacimiento',
      'form.lugar_exp',
      'form.tipo_docente',
      'form.id_entidad',
      'form.id_rol',
      'form.id_persona'
    ])
  },
  watch: {
    'id_programa_search' (val) {
      if (val) {
        this.show = false;
        this.$nextTick(() => {
          this.filters[3].value = parseInt(val.id);
          this.filters[4].value = parseInt(val.version.id);
          this.idProg = parseInt(val.id);
          this.idVer = parseInt(val.version.id);
          this.show = true;
        });
      }
    },
    '$store.state.usuario.form.nro_documento' () {
      if (this.form.nro_documento) {
        this.setPassword();
      }
    },
    '$store.state.usuario.form.nombres' () {
      this.setPassword();
      this.setUser();
    },
    '$store.state.usuario.form.primer_apellido' () {
      this.setPassword();
      this.setUser();
    },
    '$store.state.usuario.form.segundo_apellido' () {
      this.setPassword();
    },
    '$store.state.usuario.form.id_programa' (val) {
      if (val) {
        this.setVersion();
      }
    }
  },
  methods: {
    setPassword () {
      let nom = this.$store.state.usuario.form.nombres && this.$store.state.usuario.form.nombres.length > 0 ? this.$store.state.usuario.form.nombres[0] : '';
      let papellido = this.$store.state.usuario.form.primer_apellido && this.$store.state.usuario.form.primer_apellido.length > 0 ? this.$store.state.usuario.form.primer_apellido[0] : '';
      let sapellido = this.$store.state.usuario.form.segundo_apellido && this.$store.state.usuario.form.segundo_apellido.length > 0 ? this.$store.state.usuario.form.segundo_apellido[0] : '';
      this.$store.state.usuario.form.contrasena = nom.trim() + papellido.trim() + sapellido.trim() + this.$store.state.usuario.form.nro_documento.trim();
    },
    setUser () {
      let pnombre = this.$store.state.usuario.form.nombres && this.$store.state.usuario.form.nombres.length > 0 ? this.$store.state.usuario.form.nombres[0] : '';
      this.$store.state.usuario.form.usuario = pnombre.trim() + this.$store.state.usuario.form.primer_apellido.trim();
    },
    changeIcon () {
      if (this.contrasena && this.contrasena.length) {
        this.hidePass = !this.hidePass;
      }
    },
    setVersion () {
      let idPrograma = parseInt(this.id_programa);
      if (typeof idPrograma === 'number') {
        console.log('Ingresa para obtener la versión:');
        this.getVersiones(parseInt(this.id_programa));
      }
      console.log('verificar el valor de id_programa:', this.id_programa);
    },
    getVersiones (id) {
      console.log('prueba id : ', id);
      this.$loading.show('Buscando datos de la version del programa.');
      this.$service.graphql({
        query: this.queryVersiones,
        variables: {
          id
        }
      }).then(response => {
        this.$loading.hide();
        if (response) {
          this.versiones = response.detallesprogramas.rows || [];
          if (this.versiones[0]) {
            console.log('ID', this.versiones[0].id);
            this.$store.commit('usuario/setForm', { id_version: this.versiones[0].id });
          } else {
            this.$message.warning('El programa no tiene ningúna version disponible.');
          }
        }
      });
    },
    openModal (data = {}, form = true) {
      this.$store.commit('usuario/cleanForm');
      this.$refs.form.reset();
      this.$store.commit('setDate', { 'form.fecha_nacimiento': null });
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = {
            _user_created: data._user_created,
            _user_updated: data._user_updated,
            _created_at: data._created_at,
            _updated_at: data._updated_at
          };
          let user = {
            id: data.id,
            usuario: data.usuario,
            email: data.email,
            cargo: data.cargo,
            g_academico: data.g_academico,
            ug_academico: data.ug_academico,
            carrera: data.carrera,
            id_universidad: data.id_universidad + '',
            id_programa: data.id_programa + '',
            id_version: data.id_version,
            ref_oferta: data.ref_oferta,
            ref_estudios: data.ref_estudios,
            idea_tesis: data.idea_tesis,
            estado_estudiante: data.estado_estudiante,
            tipo_contacto: data.tipo_contacto,
            estado: data.estado,
            id_entidad: data.id_entidad + '',
            id_rol: data.id_rol + ''
          };
          if (data.id_persona) {
            user.id_persona = data.id_persona;
            user.tipo_documento = data.persona.tipo_documento;
            user.lugar_exp = data.persona.lugar_exp;
            user.lugar_nacimiento = data.persona.lugar_nacimiento;
            user.direccion = data.persona.direccion;
            user.tipo_documento_otro = data.persona.tipo_documento_otro;
            user.nro_documento = data.persona.nro_documento;
            user.fecha_nacimiento = data.persona.fecha_nacimiento;
            user.nombres = data.persona.nombres;
            user.primer_apellido = data.persona.primer_apellido;
            user.segundo_apellido = data.persona.segundo_apellido;
            user.nombre_completo = data.persona.nombre_completo;
            user.telefono = data.persona.telefono;
            user.movil = data.persona.movil;
            user.nacionalidad = data.persona.nacionalidad;
            user.pais_nacimiento = data.persona.pais_nacimiento;
            user.genero = data.persona.genero;
            user.estado_persona = data.persona.estado;
            user.persona = {
              nombres: data.persona.nombres,
              paterno: data.persona.primer_apellido,
              materno: data.persona.segundo_apellido
            };
            if (data.persona.fecha_nacimiento) {
              this.$store.commit('setDate', { 'form.fecha_nacimiento': this.$datetime.transform(data.persona.fecha_nacimiento) });
            }
          }
          this.$store.commit('usuario/setForm', user);
          this.personaDatos = false;
          this.$nextTick(() => {
            this.personaDatos = true;
          });
        });
      } else {
        this.personaDatos = true;
      }

      if (form) {
        this.$store.commit('openModal');
      }
    },
    pdfInscritos () {
      console.log('datos para verificar ', this.idProg, this.idVer);
      this.$service.post('system/inscritos/pdfInscritos/' + this.estadoEstudiante + '/' + this.idProg + '/' + this.idVer + '/' + this.username)
        .then(response => {
          if (response) {
            const link = document.createElement('a');
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `reporte-inscritos-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    },
    save () {
      if (this.$refs.form.validate()) {
        let form = { ...this.$store.state.usuario.form };
        let data = {};
        data.id = form.id;
        data.fecha_nacimiento = this.$datetime.format2(this.$store.state.date['form.fecha_nacimiento']);
        data.nombre_completo = form.nombres + ' ' + form.primer_apellido + ' ' + form.segundo_apellido;
        data.nombre_completo = (data.nombre_completo || '').toUpperCase();
        data.nombres = (form.nombres || '').toUpperCase();
        data.primer_apellido = (form.primer_apellido || '').toUpperCase();
        data.segundo_apellido = (form.segundo_apellido || '').toUpperCase();
        data.nro_documento = form.nro_documento;
        data.tipo_documento = form.tipo_documento;
        data.lugar_exp = form.lugar_exp;
        data.nacionalidad = form.nacionalidad;
        data.telefono = form.telefono;
        data.movil = form.movil;
        data.direccion = (form.direccion || '').toUpperCase();
        data.lugar_nacimiento = (form.lugar_nacimiento || '').toUpperCase();
        data.genero = form.genero;
        data.usuario = (form.usuario || '').toLowerCase();
        data.contrasena = (form.contrasena || '').toLowerCase();
        data.email = form.email;
        data.id_universidad = parseInt(form.id_universidad);
        data.carrera = form.carrera;
        data.g_academico = form.g_academico;
        data.ug_academico = form.ug_academico;
        data.ref_estudios = form.ref_estudios;
        data.idea_tesis = form.idea_tesis;
        data.ref_oferta = form.ref_oferta;
        data.tipo_contacto = form.tipo_contacto;
        data.id_programa = parseInt(form.id_programa);
        data.id_version = parseInt(form.id_version);
        data.estado_estudiante = 'POSTULANTE';
        data.estado = 'INACTIVO';
        data.id_entidad = 1;
        data.id_rol = 5;
        data.id_persona = form.id_persona;
        delete data.persona;
        if (data.id) {
          const id = data.id;
          delete data.id;
          delete data.contrasena;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $usuario: EditUsuario!) {
                usuarioEdit(id: $id, usuario: $usuario) {
                  id
                  token
                }
              }
            `,
            variables: {
              id,
              usuario: data
            }
          }).then(response => {
            if (response) {
              if (this.username === this.usuario) {
                this.$message.warning('Sus datos fueron actualizados, debe ingresar de nuevo al sistema.');
                this.logout();
              } else {
                this.$store.commit('closeModal');
                this.$message.success('Se actualizó el registro correctamente');
                if (!this.$util.isRol('ESTUDIANTE')) {
                  this.$store.commit('usuario/cleanForm');
                  this.updateList();
                } else {
                  this.$storage.set('token', response.usuarioEdit.token);
                }
              }
            }
          });
        } else {
          delete data.id;
          delete data.id_persona;
          delete data.estado_persona;
          this.$service.graphql({
            query: `
              mutation add($usuario: NewUsuario!) {
                usuarioAdd(usuario: $usuario) {
                  id
                  warning
                }
              }
            `,
            variables: {
              usuario: data
            }
          }).then(response => {
            if (response) {
              if (response.usuarioAdd.warning) {
                this.$message.warning(response.usuarioAdd.warning);
              } else {
                console.log('valor de usuario', data.id_rol);
                if (this.$util.isRol('ESTUDIANTE')) {
                  console.log('ingresa al if');
                  this.$message.success(`¡Su postulación fue realizada satisfactoriamente. Un mensaje de confirmación fue enviada a su correo. GRACIAS!`, null, { timeout: 20000 });
                  this.logout();
                } else {
                  this.$store.commit('closeModal');
                  this.updateList();
                  this.$message.success();
                  this.$store.commit('usuario/cleanForm');
                }
              }
            }
          });
        }
      }
    }
  },
  components: {
    CrudTable,
    PersonaForm,
    LogDatos
  }
};
</script>
