<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> LISTA DE ESTUDIANTES POR MÓDULO </h3>
    <v-autocomplete
      :items="programas"
      class="uppercase"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa_search"
      item-text="nombre"
      item-value="id"
      return-object>
      <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
       <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
        </v-chip>
      </template>

    </v-autocomplete>
    <v-autocomplete
      v-if="id_programa_search"
      :items="bloques"
      label="Seleccione el bloque"
      id="bloques"
      v-model="id_bloque"
      item-text="nombre"
      item-value="id"
     >
      <template v-slot:item="{ item }">
          <v-list-tile-content>
            <v-list-tile-sub-title>{{ item.numero}} {{". "}} {{ item.nombre}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{item.numero}} {{". "}} {{item.nombre}}
        </v-chip>
      </template>
    </v-autocomplete>
    <v-autocomplete
      v-if="id_bloque"
      :items="modulos"
      label="Seleccione el módulo"
      id="modulos"
      v-model="id_modulo"
      item-text="nombre"
      item-value="id"
     >
      <template v-slot:item="{ item }">
          <v-list-tile-content>
            <v-list-tile-sub-title> {{item.nro_modulo}} {{". "}} {{ item.nombre}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
           {{item.nro_modulo}} {{". "}} {{item.nombre}}
        </v-chip>
      </template>
    </v-autocomplete>
    <v-autocomplete
      v-if="id_modulo"
      :items="docentes"
      label="Seleccione Docente"
      id="docentes"
      v-model="id_docente"
      item-text="docente.persona.nombre_completo"
      item-value="id_docente"
     >
      <template v-slot:item="{ item }">
          <v-list-tile-content>
            <v-list-tile-sub-title>{{ item.docente.persona.nombre_completo}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{item.docente.persona.nombre_completo}}
        </v-chip>
      </template>
    </v-autocomplete>
    <v-card  v-if="show">
      <v-card-text>      
        <table class="v-datatable v-table theme--light" >
          <thead>
            <tr>
              <th style="text-align:left"> Nro.</th>
              <th style="text-align:left"> Carnet de Indetidad</th>
              <th style="text-align:left"> Apellido Paterno</th>
              <th style="text-align:left"> Apellido Materno</th>
              <th style="text-align:left"> Nombres</th>
              <th style="text-align:left"> Correo Electrónico</th>
              <th style="text-align:left"> Teléfono Celular</th>
              <th style="text-align:left"> Teléfono Móvil</th>
            </tr>
          </thead>
          <tbody>
            <tr 
              v-for="(item, index) in estudiantes"
              :key="index">
              <td style="text-align:left">{{ item.index }}</td>
              <td style="text-align:left">{{ item.items[0].estudiante.persona.nro_documento }} {{item.items[0].estudiante.persona.lugar_exp}}</td>
              <td style="text-align:left" class="nowrap">{{ item.items[0].estudiante.persona.primer_apellido}}</td>
              <td style="text-align:left" class="nowrap">{{ item.items[0].estudiante.persona.segundo_apellido}}</td>
              <td style="text-align:left" class="nowrap">{{ item.items[0].estudiante.persona.nombres}}</td>
              <td style="text-align:left">{{ item.items[0].estudiante.email}}</td>
              <td style="text-align:left">{{ item.items[0].estudiante.persona.movil}}</td>
              <td style="text-align:left">{{ item.items[0].estudiante.persona.telefono}}</td>
            </tr>
          </tbody>
        </table>      
      </v-card-text>
      <v-card-actions>
      <small class="error--text text-required">* Los campos son obligatorios</small>
      <v-spacer></v-spacer>
      <v-btn color="primary" type="submit" @click= "listaAsistencia"><v-icon>print</v-icon>IMPRIMIR</v-btn>
    </v-card-actions>
    </v-card>
    <v-dialog v-model="$store.state.modal2" max-width="1000">
      <Asignacion 
        :id-programa="idPrograma" 
        :id-version="idVersion" 
        :id-bloque="idBloque" 
        :id-modulo="idModulo" 
        v-if="idModulo" />
    </v-dialog>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import listas from './mixins/listas';

export default {
  mixins: [ crud, validate, token, logDatos, listas ],
  created () {
    this.user = this.$storage.getUser();
    console.log('usuario para lista de asistencia:', this.user);
    this.programas = [];
    this.getProgramas('INICIO', 'programas');
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_asignacionDocente, 'asignacionDocente', this.dataGraphql, false);
    }
  },
  data () {
    return {
      programas: [],
      versiones: [],
      bloques: [],
      id_programa_search: null,
      id_bloque: null,
      idPrograma: 0,
      idVersion: 0,
      idBloque: 0,
      idModulo: 0,
      idDocente: 0,
      id_docente: null,
      id_programa: null,
      id_modulo: null,
      modulos: [],
      docentes: [],
      estudiantes: [],
      show: false,
      valid: true,
      modulo: null,
      logDatos: null,
      graphql: true, // Definiendo el CRUD con Graphql
      filters: [
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_bloque',
          type: 'hidden',
          typeG: 'Int'
        }
      ],
      menu1: false,
      menu2: false,
      queryVersiones: `
        query versiones($id: Int!) {
          detallesprogramas(id_programa: $id) {
            count
            rows {
              id
              version
              gestion
              id_programa
            }
          }
        }
      `,
      queryModulos: `
        query modulos($id: Int!) {
          modulosprogramas(order: "nro_modulo", id_bloque: $id) {
            count
            rows {
              id
              nro_modulo
              nombre
            }
          }
        }
      `,
      queryEstudiantes: `
      query getEstudiantes($idP: Int, $idV:Int, $idB: Int, $idM:Int){
          records (id_programa: $idP, id_version: $idV, id_bloque: $idB, id_modulo: $idM) {
            count
            rows {
              id_estudiante
              nota
              fecha_nota
              est_evaluacion
              est_valoracion
              estudiante {
                persona {
                  nombre_completo
                  nro_documento
                  movil
                  lugar_exp
                  primer_apellido
                  segundo_apellido
                  nombres
                }
                email
              }
              programa {
                nota_minima
              }
            }
          }
        }
      `
    };
  },
  methods: {
    openModalAsignacion (id) {
      this.idModulo = 0;
      this.$nextTick(() => {
        this.idModulo = parseInt(id);
        this.$store.commit('openModal', 2);
      });
    },
    getModulos (id) {
      this.$service.graphql({
        query: this.queryModulos,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.modulos = response.modulosprogramas.rows || [];
        }
      });
    },
    getEstudiantes (idP, idV, idB, idM) {
      this.$service.graphql({
        query: `
        query getEstudiantes {
          records (id_programa: ${idP}, id_version: ${idV}, id_bloque: ${idB}, id_modulo: ${idM}) {
            count
            rows {
              id
              id_estudiante
              nota
              estudiante {
                persona {
                  primer_apellido
                  segundo_apellido
                  nombres
                  nombre_completo
                  nro_documento
                  movil
                  telefono
                  lugar_exp
                }
                email
              }
              programa {
                nota_minima
                tipo
              }
            }
          }
        }
      `,
        variables: {
        }
      }).then(response => {
        if (response) {
          this.show = false;
          this.$nextTick(() => {
            // this.estudiantes = response.records.rows || [];
            // console.log('estudiantes: ', this.estudiantes);
            let estudiantes = {};
            for (const item of (response.records.rows || [])) {
              if (!estudiantes[item.id_estudiante]) {
                estudiantes[item.id_estudiante] = {
                  items: []
                };
              }
              estudiantes[item.id_estudiante].items.push(item);
            }
            let i = 0;
            for (const id in estudiantes) {
              estudiantes[id].index = ++i;
            }
            this.estudiantes = estudiantes;
            this.show = true;
          });
        }
      });
    },
    getDocentes (idDocente = 0, idModulo) {
      this.$service.graphql({
        query: `
        query docentes {
          records (id_docente: ${idDocente},id_modulo: ${idModulo}) {
            count
            rows {
              id_docente
              docente {
                persona {
                  nombre_completo
                }
              }
            } 
          }
        }
      `,
        variables: {}
      }).then(response => {
        if (response) {
          this.docentes = response.records.rows || [];
          console.log('datos de docentes: ', this.docentes);
        }
      });
    },
    listaAsistencia () {
      this.$service.post('system/inscritos/pdfInscritos/pdf/' + this.idPrograma + '/' + this.idVersion + '/' + this.idBloque + '/' + this.idModulo + '/' + this.user + '/' + this.idDocente)
        .then(response => {
          if (response) {
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `listaInscritos-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    }

  },
  watch: {
    'id_programa_search' (val) {
      this.idPrograma = parseInt(val.id);
      this.idVersion = parseInt(val.version.id);
      this.getBloques(val.id);
    },
    'id_bloque' (val) {
      if (val) {
        this.idBloque = parseInt(val);
        this.getModulos(this.idBloque);
      }
    },
    'id_modulo' (val) {
      if (val) {
        this.idModulo = parseInt(val);
        if (this.$util.isRol('DOCENTE')) {
          console.log('Ingresa por Rol Docente', this.user);
          this.getDocentes(this.user.id, this.idModulo);
        } else {
          this.getDocentes(0, this.idModulo);
        }
      }
    },
    'id_docente' (val) {
      if (val) {
        console.log('resultado de: ', val);
        //  this.idModulo = parseInt(val);
        this.show = false;
        this.$nextTick(() => {
          this.idDocente = parseInt(val);
          this.getEstudiantes(this.idPrograma, this.idVersion, this.id_bloque, this.idModulo, this.idDocente);
          this.show = true;
        });
      }
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
