<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon>Detalles Programa</h3>
    <v-card>
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :widthModal="800"
        >
          <template slot="buttons">
            <v-tooltip bottom v-if="$store.state.permissions['detallesprogramas:create']">
              <v-btn color="primary"
                @click.native.stop="openModal()"
                slot="activator">
                <v-icon>add</v-icon> {{$t('common.add') }}
              </v-btn>
              <span>{{$t('entity.add')}}</span>
            </v-tooltip>
            <v-btn color = "Orange" @click="$router.push('/programas')"><v-icon>undo</v-icon>Atrás</v-btn>
          </template>

          <template slot="form">
            <v-card-title class="headline"> 
              <v-icon>business</v-icon> {{ form.id ? 'Editar Detalles Programa' : 'Agregar Detalles Programa' }}
              <v-spacer />
              <v-btn icon @click.native="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>              
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation
              >
              <v-card-text class="pt-0">
                <v-container grid-list-md>
                  <h4>Datos generales</h4>
                  <v-layout wrap>
                    <v-flex xs4>
                      <v-text-field
                        name="version"
                        label= "Version"
                        id="version"
                        class="uppercase"
                        v-model="form.version"
                        autofocus
                        maxlength="20"
                        :rules="$validate(['required'])"
                        required
                      ></v-text-field>
                    </v-flex>

                     <v-flex xs3>
                       <v-text-field
                          name="periodo"
                          label="Periodo"
                          id="periodo"
                          v-model="form.periodo"
                          maxlength="9"
                          :rules="$validate(['required'])"
                          required
                          class="required"
                        ></v-text-field>
                    </v-flex>

                    <v-flex xs3>
                       <v-text-field
                          name="gestion"
                          label="Gestion"
                          id="gestion"
                          v-model="form.gestion"
                          maxlength="4"
                          :rules="$validate(['required'])"
                          required
                          class="required"
                        ></v-text-field>
                    </v-flex>
                    
                    <v-flex xs2>
                      <v-text-field
                        name="cupo"
                        label="Cupo"
                        id="cupo"
                        v-model="form.cupo"
                        maxlength="3"
                        :rules="$validate(['required'])"
                        required
                        class="required"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs12>
                      <v-textarea
                        name="perfil_postulante"
                        label="Perfil Postulante"
                        id="perfil_postulante"
                        class="uppercase"
                        v-model="form.perfil_postulante"
                        required
                    ></v-textarea>
                    </v-flex>
                    
                    <v-flex xs12>
                      <v-textarea
                        name="perfil_postgraduado"
                        label="Perfil Postgraduado"
                        id="perfil_postgraduado"
                        class="uppercase"
                        v-model="form.perfil_postgraduado"
                        required
                    ></v-textarea>
                    </v-flex>
                    
                    <v-flex xs6>
                      <v-text-field
                        name="Coordinador"
                        label="Coordinador (Ejm. M.Sc. NONBRE COORDINADOR)"
                        id="coordinador"
                        v-model="form.coordinador"
                        maxlength="120"
                        :rules="$validate(['required'])"
                        required
                    ></v-text-field>
                    </v-flex>

                     <v-menu
                      v-model="menu1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                      <v-flex xs6>
                        <v-text-field
                          v-model="form.pub_convocatoria"
                          label="Publicacion de Convocatoria"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                     </v-flex>
                    </template>
                    <v-date-picker v-model="form.pub_convocatoria" locale="es-bo" @input="menu1 = false" no-title scrollable></v-date-picker>
                  </v-menu>

                    <v-menu
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                      <v-flex xs6>
                        <v-text-field
                          v-model="form.fecha_ini"
                          label="Fecha Inicio de Programa"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                          :rules="$validate(['required'])"
                          required
                          class="required"
                        ></v-text-field>
                     </v-flex>
                    </template>
                    <v-date-picker v-model="form.fecha_ini" locale="es-bo" @input="menu2 = false" no-title scrollable></v-date-picker>
                  </v-menu>

                  <v-menu
                      v-model="menu3"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                      <v-flex xs6>
                        <v-text-field
                          v-model="form.fecha_fin"
                          label="Fecha Fin de Programa"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                          :rules="$validate(['required'])"
                          required
                          class="required"
                        ></v-text-field>
                     </v-flex>
                    </template>
                    <v-date-picker v-model="form.fecha_fin" locale="es-bo" @input="menu3 = false" no-title scrollable></v-date-picker>
                  </v-menu>              

                  <v-menu
                      v-model="menu4"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                      <v-flex xs6>
                        <v-text-field
                          v-model="form.postulacion_ini"
                          label="Fecha Inicio de Postulación"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                     </v-flex>
                    </template>
                    <v-date-picker v-model="form.postulacion_ini" locale="es-bo" @input="menu4 = false" no-title scrollable></v-date-picker>
                  </v-menu>    

                  <v-menu
                      v-model="menu5"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                      <v-flex xs6>
                        <v-text-field
                          v-model="form.postulacion_fin"
                          label="Fecha Fin de Postulación"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                     </v-flex>
                    </template>
                    <v-date-picker v-model="form.postulacion_fin" locale="es-bo" @input="menu5 = false" no-title scrollable></v-date-picker>
                  </v-menu>

                   <v-menu
                      v-model="menu6"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                      <v-flex xs6>
                        <v-text-field
                          v-model="form.inscripcion_ini"
                          label="Fecha Inicio de Inscripción"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                     </v-flex>
                    </template>
                    <v-date-picker v-model="form.inscripcion_ini" locale="es-bo" @input="menu6 = false" no-title scrollable></v-date-picker>
                  </v-menu>

                  <v-menu
                      v-model="menu7"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                      <v-flex xs6>
                        <v-text-field
                          v-model="form.inscripcion_fin"
                          label="Fecha Fin de Inscripción"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                     </v-flex>
                    </template>
                    <v-date-picker v-model="form.inscripcion_fin" locale="es-bo" @input="menu7 = false" no-title scrollable></v-date-picker>
                  </v-menu> 
                  <v-flex xs12>
                  <h4>Códigos SIA-UMSA</h4>
                  </v-flex>
                  
                  <v-flex xs4>
                       <v-text-field
                          name="id_sia"
                          label="ID SIA"
                          id="id_sia"
                          v-model="form.id_sia"
                          maxlength="10"
                        ></v-text-field>
                  </v-flex>

                  <v-flex xs4>
                       <v-text-field
                          name="colegiatura_sia"
                          label="Colegiatura SIA"
                          id="colegiatura_sia"
                          v-model="form.colegiatura_sia"
                        ></v-text-field>
                  </v-flex>

                  <v-flex xs4>
                       <v-text-field
                          name="version_sia"
                          label="Version SIA"
                          id="version_sia"
                          v-model="form.version_sia"
                        ></v-text-field>
                  </v-flex>

                  <v-flex xs12>
                  <h4>Costo Colegiatura</h4>
                  </v-flex>
                                    
                   <v-flex xs4>
                       <v-text-field
                          name="nro_matriculas"
                          label="Nro de Matriculas"
                          id="nro_matriculas"
                          v-model="form.nro_matriculas"
                          :rules="$validate(['required'])"
                          required
                          class="required"
                        ></v-text-field>
                  </v-flex>

                  <v-flex xs4>
                       <v-text-field
                          name="costo_matricula"
                          label="Costo Matricula"
                          id="costo_matricula"
                          v-model="form.costo_matricula"
                          :rules="$validate(['required'])"
                          required
                          class="required"
                        ></v-text-field>                        
                  </v-flex>

                  <v-flex xs4>
                       <v-text-field
                          name="costo_colegiatura"
                          label="Costo Colegiatura"
                          id="costo_colegiatura"
                          v-model="form.costo_colegiatura"
                          :rules="$validate(['required'])"
                          required
                          class="required"
                        ></v-text-field>
                  </v-flex>

                </v-layout> 
                  <h4>Opciones de Pago</h4>
                  
                     <v-btn
                      small
                      @click="agregarPago"
                      color="primary"> Agregar Opcion de Pago </v-btn>  
                  <v-layout 
                    row
                    wrap
                    v-for="(pago, index) in form.opciones_pagos"
                    :key="index">
                    <v-flex xs4>
                    <v-select         
                      label="Opción de Pago"
                      :items="opagos"
                      v-model="pago.opcion"
                      item-text="nombre"
                      item-value="nombre"
                      :rules="$validate(['required'])"
                      required
                      class="required">                  
                    </v-select>
                    </v-flex>
            
                    <v-flex xs2>                    
                      <v-text-field          
                        label="Descuento %"
                        v-model="pago.descuento"
                        :rules="$validate(['required'])"
                        required
                        class="required">                  
                      </v-text-field>
                    </v-flex>

                    <v-flex xs2>                    
                      <v-text-field          
                        label="Cuota Inicial %"
                        v-model="pago.cuota_inicial"
                        :rules="$validate(['required'])"
                        required
                        class="required"
                        >                  
                      </v-text-field>
                    </v-flex>
                    
                    <v-flex xs1>
                      <v-text-field          
                      label="Min. Cuotas"
                      v-model="pago.cuotas_min"
                      :rules="$validate(['required'])"
                      required
                      class="required"
                      >                  
                      </v-text-field>
                    </v-flex> 

                    <v-flex xs1>
                      <v-text-field          
                        label="Max. Cuotas"
                        v-model="pago.cuotas_max"
                        :rules="$validate(['required'])"
                        required
                        class="required">                  
                      </v-text-field>
                    </v-flex>
                    <v-flex xs1>
                      <v-btn 
                        icon 
                        @click="eliminarPago(index)"
                        small>
                        <v-icon color="error">delete</v-icon>
                      </v-btn>
                    </v-flex>
                  </v-layout>                              
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn
                  @click.native="$store.commit('closeModal');">
                  <v-icon>cancel</v-icon> {{$t('common.cancel') }}
                </v-btn>
                <v-btn
                  color="primary"
                  type="submit"
                  :disabled="!valid">
                  <v-icon>check</v-icon> {{$t('common.save') }}
                </v-btn>
              </v-card-actions>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['detallesprogramas:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="editItem(items.item.id, 'detallesprograma', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['detallesprogramas:delete']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="deleteItem(items.item.id, 'detallesprograma')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>
            </td>
            <td class="nowrap">{{ items.item.version }}</td>
            <td>{{ items.item.periodo }}</td>
            <td>{{ items.item.gestion }}</td>
            <td>{{ items.item.cupo}}</td>
            <td class="nowrap">{{ items.item.coordinador}}</td>
            <td>{{ items.item.pub_convocatoria}}</td>
            <td>{{ items.item.fecha_ini}}</td>
            <td>{{ items.item.fecha_fin}}</td>
            <td>{{ items.item.postulacion_ini}}</td>
            <td>{{ items.item.postulacion_fin}}</td>
            <td>{{ items.item.inscripcion_ini}}</td>
            <td>{{ items.item.inscripcion_fin}}</td>
            <td>{{ items.item.id_sia}}</td>
            <td>{{ items.item.colegiatura_sia}}</td>
            <td>{{ items.item.version_sia}}</td>
            <td>{{ items.item.nro_matriculas}}</td>
            <td>{{ items.item.costo_matricula}}</td>
            <td>{{ items.item.costo_colegiatura}}</td>  
            <td>
              <v-chip label color="success" text-color="white" v-if="items.item.estado == 'ACTIVO'">
                {{ items.item.estado }}
              </v-chip>
              <v-chip label color="warning" text-color="white" v-if="items.item.estado == 'INACTIVO'">
                {{ items.item.estado }}
              </v-chip>
            </td>
          </template>
        </crud-table>        
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import listas from './mixins/listas';
export default {
  mixins: [ crud, validate, token, logDatos, listas ],
  created () {
    this.user = this.$storage.getUser();
    this.idDetallesprograma = this.user.id_detallesprograma;
    if (this.$route.params.id) {
      this.idPrograma = this.$route.params.id;
    } else {
      this.$router.push('/programas');
    }
    this.opagos = [];
    this.getConstantes('OPCION PAGO', 'opagos');
    console.log('opagos: ', this.opagos);
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_detallesprograma, 'detallesprograma', this.dataGraphql, false);
    }
  },
  data () {
    return {
      opagos: [],
      logDatos: null,
      successAlert: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'detallesprogramas',
      headers: [
        { text: this.$t('common.actions'), sortable: false },
        { text: 'Versión', value: 'version' },
        { text: 'Periodo', value: 'periodo' },
        { text: 'Gestión', value: 'gestion' },
        { text: 'Cupo', value: 'cupo' },
        { text: 'Coordinador', value: 'coordinador' },
        { text: 'Publicacion de convocatoria', value: 'pub_convocatoria' },
        { text: 'Fecha Inicio de Versión', value: 'fecha_ini' },
        { text: 'Fecha Fin de Versión', value: 'fecha_fin' },
        { text: 'Inicio de Postulación', value: 'postulacion_ini' },
        { text: 'Fin de Postulación', value: 'postulacion_fin' },
        { text: 'Inicio de Inscripción', value: 'inscripcion_ini' },
        { text: 'Fin de Inscripción', value: 'inscripcion_fin' },
        { text: 'Id SIA', value: 'id_sia' },
        { text: 'Colegiatura SIA', value: 'colegiatura_sia' },
        { text: 'Versión SIA', value: 'version_sia' },
        { text: 'Nro de Matrículas', value: 'nro_matriculas' },
        { text: 'Versión Matrícula', value: 'costo_matricula' },
        { text: 'Versión Colegiatura', value: 'costo_colegiatura' }
      ],
      form: {
        version: '',
        gestion: '',
        cupo: ''
      },
      dataGraphql: `
        id
        version
        gestion
        periodo
        cupo
        perfil_postulante
        perfil_postgraduado
        coordinador
        pub_convocatoria
        fecha_ini
        fecha_fin
        postulacion_ini
        postulacion_fin
        inscripcion_ini
        inscripcion_fin
        id_sia
        colegiatura_sia
        version_sia
        costo_total
        nro_matriculas
        costo_matricula
        costo_colegiatura
        opciones_pagos
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int',
          value: this.$route.params.id
        }
      ],
      menu1: false,
      menu2: false,
      menu3: false,
      menu4: false,
      menu5: false,
      menu6: false,
      menu7: false,
      idDetallesprograma: null,
      valid: true
    };
  },
  methods: {
    openModal (data = {}, form = true) {
      console.log('ingresa aqui!!!');
      this.valid = true;
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        let fechaActual = this.$datetime.getDate(new Date());
        this.form = {
          version: '',
          gestion: fechaActual.year,
          cupo: '',
          opciones_pagos: [
            {
              opcion: '',
              descuento: '',
              cuota_inicial: '',
              cuotas_min: '',
              cuotas_max: ''
            }
          ]
        };
      }
      if (form) {
        this.$store.commit('openModal');
      }
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        //  data.coordinador = (data.coordinador || '').toUpperCase();
        data.perfil_postgraduado = (data.perfil_postgraduado || '').toUpperCase();
        data.perfil_postulante = (data.perfil_postulante || '').toUpperCase();
        data.cupo = parseInt(data.cupo);
        data.colegiatura_sia = parseInt(data.colegiatura_sia);
        data.version_sia = parseInt(data.version_sia);
        data.nro_matriculas = parseInt(data.nro_matriculas);
        data.costo_matricula = parseInt(data.costo_matricula);
        data.costo_colegiatura = parseInt(data.costo_colegiatura);
        data.gestion = data.gestion + '';
        data.opciones_pagos = this.form.opciones_pagos;
        if (data.id) {
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $detallesprograma: EditDetallesprograma!) {
                detallesprogramaEdit(id: $id, detallesprograma: $detallesprograma) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              detallesprograma: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.id_programa = parseInt(this.idPrograma);
          data.estado = 'INICIO';
          this.$service.graphql({
            query: `
              mutation add($detallesprograma: NewDetallesprograma!) {
                detallesprogramaAdd(detallesprograma: $detallesprograma) {
                  id
                }
              }
            `,
            variables: {
              detallesprograma: data
            }
          }).then(response => {
            if (response) {
              console.log('pruebaaaa');
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    },
    agregarPago () {
      this.form.opciones_pagos.push({
        opcion: '',
        descuento: '',
        cuota_inicial: '',
        cuotas_min: '',
        cuotas_max: ''
      });
    },
    eliminarPago (index) {
      this.form.opciones_pagos.splice(index, 1);
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
