<template>
  <v-card class="crud-dialog">
    <v-card-title class="headline m-0">
      <v-icon>security</v-icon> Requisitos Docente
      <v-spacer></v-spacer>
      <v-btn icon @click= "RefreshReqDocente();"><v-icon>refresh</v-icon></v-btn>
      <v-btn icon @click="$store.commit('closeModal', 2)">
        <v-icon>close</v-icon>
      </v-btn>
    </v-card-title>
    <v-container grid-list-md fluid v-if ="requisito">
      <table class="v-datatable v-table theme--light">
        <tbody>
          <tr v-for="require in requisito" :key="require.id">  
            <td>
              <strong>{{ require.nombre }}</strong><br>
            </td>
              <td>
              <v-checkbox
                color="primary"
                hide-details
                class="mt-0"
                v-model="require.value">
              </v-checkbox>
            </td>
            <td>
              <v-text-field  
                v-model="require.observacion" 
                id="require.observacion"
                class="uppercase"
                Placeholder="OBSERVACION"
                ></v-text-field>
            </td>
          </tr>
        </tbody>    
      </table> 
    </v-container>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn @click="$store.commit('closeModal', 2)"> <v-icon>cancel</v-icon> Cancelar</v-btn>
      <v-btn color="primary" type="submit" @click= "saveReqDocente();"><v-icon>check</v-icon> {{$t('common.save') }}</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    idDocente: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      switch1: true,
      requisito: null,
      programa: null,
      auxReq: null,
      actualiza: false,
      queryRequisitos: `
      query getRequisitos($id: ID!) {
          usuario(id: $id){
            id
            requisitos
            id_programa
          }
        }`,
      queryDocenteReq: `
      query getConstantes {
          constantes(grupo: "DREQUISITO"){
            count
            rows {
              id
              nombre
            }
          }
        }`
    };
  },
  created () {
    this.user = this.$storage.getUser();
    this.username = this.user.usuario;
    if (this.idDocente) {
      console.log('estudianteRequisito:', this.idDocente);
      this.getRequisitos(this.idDocente);
    }
  },

  methods: {
    getRequisitos (id) {
      console.log('prueba');
      this.$service.graphql({
        query: this.queryRequisitos,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.requisito = response.usuario.requisitos;
          if (this.requisito) {
            console.log('Existe requisitos');
          } else {
            console.log('No Existe Requisitos y crea a partir de programa');
            this.getDocenteReq();
          }
        }
      });
    },
    updateRequisitos (id) {
      console.log('prueba');
      this.$service.graphql({
        query: this.queryRequisitos,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          if (this.actualiza) {
            this.auxReq = response.constantes.rows;
            if (this.requisito.length !== this.auxReq.length) {
              console.log('auxRq:', this.auxReq, 'requisitos', this.requisito, this.requisito.length, this.auxReq.length);
              for (let aux of this.auxReq) {
                for (let item of this.requisito) {
                  if (item.id === aux.id && item.valor) {
                    aux.valor = true;
                    break;
                  }
                }
              }
              this.requisito = this.auxReq;
            } else {
              this.$message.warning('No existen requisitos para actualizar!');
            }
            this.actualiza = false;
          }
        }
      });
    },
    getDocenteReq () {
      this.$service.graphql({
        query: this.queryDocenteReq,
        variables: {
        }
      }).then(response => {
        if (response) {
          this.requisito = response.constantes.rows;
        }
      });
    },
    saveReqDocente () {
      console.log('idDocente: ', this.idDoncente);
      let data = {
        requisitos: this.requisito
      };
      this.$service.graphql({
        query: `
          mutation edit($id: ID!, $usuario: EditUsuario!) {
              usuarioUpdate(id: $id, usuario: $usuario) {
                id
              }
            }
        `,
        variables: {
          id: this.idDocente,
          usuario: data
        }
      }).then(response => {
        if (response) {
          this.$message.success('Se actualizó el registro correctamente');
          this.$store.commit('closeModal', 2);
          this.imprimirRequisitos();
        }
      });
    },
    imprimirRequisitos () {
      console.log('pruebaa', this.idDocente, ' ', this.username);
      this.$service.post('system/doc_requisitos/pdf/' + this.idDocente + '/' + this.username)
        .then(response => {
          if (response) {
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `requisitos-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    },
    RefreshReqPrograma () {
      this.actualiza = true;
      this.updateRequisitos();
      /* this.AuxReq = this.requisito;
      console.log('auxRq:', this.AuxReq, 'requisitos', this.requisito);
      this.getRequisitos();
      console.log('auxRq:', this.AuxReq, 'requisitos', this.requisito);
      for (let item of this.requisito) {
        for (let aux of this.AuxReq) {
          if (aux.id === item.id && aux.valor) {
            console.log('compara');
            item.valor = true;
            console.log('item.valor', item.valor);
            break;
          }
        }
      }
      console.log('final:', this.requisito);  */
    }
  }
};
</script>