<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon>Módulos del programa</h3>
    <v-autocomplete
      :items="bloques"
      label="Seleccione el bloque"
      id="bloques"
      v-model="id_bloque"
      item-text="nombre"
      item-value="id"
     >
      <template v-slot:item="{ item }">
          <v-list-tile-content>
            <v-list-tile-sub-title>{{ item.nombre}}</v-list-tile-sub-title>
          </v-list-tile-content>
        </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{item.nombre}}
        </v-chip>
      </template>
    </v-autocomplete>
    <v-card  v-if="show">
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :widthModal="800"
        >
          <template slot="buttons">
            <v-tooltip bottom v-if="$store.state.permissions['modulosprogramas:create']">
              <v-btn color="primary"
                @click.native.stop="openModal()"
                slot="activator">
                <v-icon>add</v-icon> {{$t('common.add') }}
              </v-btn>
              <span>Agregar Nuevo Modulo</span>
            </v-tooltip>
            <v-btn color = "Orange" @click="$router.push(`/programas` )"><v-icon>undo</v-icon>Atrás</v-btn>
          </template>

          <template slot="form">
            <v-card-title class="headline">
              <v-flex xs9>
                <v-icon>business</v-icon> Modulos Programa
              </v-flex>
              <v-flex xs2 text-md-right>
                <v-chip label color="success" text-color="white" v-if="form.estado == 'ACTIVO'">
                  {{ form.estado }}
                </v-chip>
                <v-chip label color="warning" text-color="white" v-if="form.estado == 'INACTIVO'">
                  {{ form.estado }}
                </v-chip>
              </v-flex>
              <v-flex xs1 text-md-right>
                <v-btn icon @click.native="$store.commit('closeModal')">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-flex>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation
              >
              <v-card-text class="pt-0">
                <v-container grid-list-md>
                  <h4>Datos generales</h4>
                  <v-layout wrap>
                    
                    <v-flex xs4>
                      <v-text-field
                        name="nro_modulo"
                        label= "Nro. Modulo"
                        id="nro_modulo"
                        v-model="form.nro_modulo"
                        autofocus
                        maxlength="20"
                        :rules="$validate(['required'])"
                        required
                      ></v-text-field>
                    </v-flex>
                     
                    <v-flex xs4>
                      <v-text-field
                        name="codigo"
                        label="Código"
                        id="codigo"
                        class="uppercase"
                        v-model="form.codigo"
                        maxlength="150"
                        required
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs4>
                      <v-select
                        name="tipo"
                        label="Tipo"
                        :items = "tipoModulo"
                        v-model="form.tipo"
                        maxlength="150"
                        :rules="$validate(['required'])"
                        class='required'
                        required
                      ></v-select>
                    </v-flex>

                    <v-flex xs12>
                      <v-text-field
                        name="nombre"
                        label="Nombre"
                        id="nombre"
                        class="uppercase"
                        v-model="form.nombre"
                        maxlength="150"
                        required
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs12>
                      <v-text-field
                        name="descripcion"
                        label="Descripcion"
                        id="descripcion"
                        class="uppercase"
                        v-model="form.descripcion"
                        maxlength="255"
                      ></v-text-field>
                    </v-flex>
                    
                    <v-flex xs3>
                      <v-text-field
                        name="hrs_presenciales"
                        label="Horas Presenciales"
                        id="hrs_presenciales"
                        v-model="form.hrs_presenciales"
                        maxlength="20"
                        required
                      ></v-text-field>    
                    </v-flex>

                    <v-flex xs3>
                      <v-text-field
                        name="hrsno_presenciales"
                        label="Horas No Presenciales"
                        id="hrsno_presenciales"
                        v-model="form.hrsno_presenciales"
                        maxlength="20"
                        required
                      ></v-text-field>    
                    </v-flex>                    

                    <v-flex xs3>
                       <v-text-field
                          name="total_carga"
                          label="Total Carga"
                          id="total_carga"
                          v-model="form.total_carga"
                          maxlength="20"
                          required
                         ></v-text-field>    
                     </v-flex>

                    <v-flex xs3>
                        <v-text-field
                          name="total_creditos"
                          label="Total Creditos"
                          id="total_creditos"
                          v-model="form.total_creditos"
                          maxlength="20"
                          required
                        ></v-text-field>    
                    </v-flex> 

                    <v-menu
                      v-model="menu1"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                      <v-flex xs6>
                        <v-text-field
                          v-model="form.fecha_ini"
                          label="Fecha Inicio de Módulo"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                     </v-flex>
                    </template>
                    <v-date-picker v-model="form.fecha_ini" locale="es-bo" @input="menu1 = false" no-title scrollable></v-date-picker>
                  </v-menu>

                  <v-menu
                      v-model="menu2"
                      :close-on-content-click="false"
                      :nudge-right="40"
                      transition="scale-transition"
                      offset-y
                      min-width="290px"
                    >
                    <template v-slot:activator="{ on }">
                      <v-flex xs6>
                        <v-text-field
                          v-model="form.fecha_fin"
                          label="Fecha Conclusión de Módulo"
                          prepend-icon="event"
                          readonly
                          v-on="on"
                        ></v-text-field>
                     </v-flex>
                    </template>
                    <v-date-picker v-model="form.fecha_fin" locale="es-bo" @input="menu2 = false" no-title scrollable></v-date-picker>
                  </v-menu>
                  </v-layout>             
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn
                  @click.native="$store.commit('closeModal');">
                  <v-icon>cancel</v-icon> {{$t('common.cancel') }}
                </v-btn>
                <v-btn
                  color="primary"
                  type="submit"
                  :disabled="!valid">
                  <v-icon>check</v-icon> {{$t('common.save') }}
                </v-btn>
              </v-card-actions>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['modulosprogramas:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="editItem(items.item.id, 'modulosprograma', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['modulosprogramas:delete']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="deleteItem(items.item.id, 'modulosprograma')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>
            </td>
            <td>{{ items.item.nro_modulo }}</td>
            <td class="nowrap">{{ items.item.codigo }}</td>
            <td class="nowrap">{{ items.item.nombre }}</td>
            <td>{{ items.item.tipo }}</td>
            <td>{{ items.item.hrs_presenciales }}</td>
            <td>{{ items.item.hrsno_presenciales }}</td>
            <td>{{ items.item.total_carga }}</td>
            <td>{{ items.item.total_creditos }}</td>
            <td>
              <v-chip label color="success" text-color="white" v-if="items.item.estado == 'ACTIVO'">
                {{ items.item.estado }}
              </v-chip>
              <v-chip label color="warning" text-color="white" v-if="items.item.estado == 'INACTIVO'">
                {{ items.item.estado }}
              </v-chip>
            </td>
          </template>
        </crud-table>        
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import listas from './mixins/listas';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';

export default {
  mixins: [ crud, validate, token, logDatos, listas ],
  created () {
    this.user = this.$storage.getUser();
    this.idBloque = this.user.id_bloque;
    if (this.$route.params.id) {
      this.idBloque = parseInt(this.$route.params.id);
      console.log('this.idBloque', this.idBloque);
      this.getPrograma(this.idBloque);
    } else {
      this.$router.push('/bloques');
    }
    this.bloques = [];
    this.getBloques(this.idBloque, 'bloques');
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_modulosprograma, 'modulosprograma', this.dataGraphql, false);
    }
  },
  data () {
    return {
      logDatos: null,
      successAlert: false,
      bloques: [],
      show: false,
      id_bloque: null,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'modulosprogramas',
      headers: [
        { text: this.$t('common.actions'), sortable: false },
        { text: 'Nro. Modulo', value: 'nro_modulo' },
        { text: 'Código', value: 'codigo' },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Tipo', value: 'tipo' },
        { text: 'Horas Presenciales', value: 'hrs_presenciales' },
        { text: 'Horas No Presenciales', value: 'hrsno_presenciales' },
        { text: 'Total Carga', value: 'total_carga' },
        { text: 'Total Creditos', value: 'total_creditos' }
      ],
      tipoModulo: [
        {value: 'SIMPLE', text: 'SIMPLE'},
        {value: 'MIXTO', text: 'MIXTO'}
      ],
      queryPrograma: `
      query getPrograma ($id: ID!) {
        bloque(id: $id){
          id
          nombre
          id_programa
          }
        }
       `,
      form: {
        nro_modulo: '',
        nombre: '',
        descripcion: '',
        hrs_presenciales: '',
        hrsno_presenciales: '',
        total_carga: '',
        total_creditos: ''
      },
      dataGraphql: `
        id
        codigo
        nro_modulo
        tipo
        nombre
        descripcion
        hrs_presenciales
        hrsno_presenciales
        total_carga
        total_creditos
        id_bloque
        fecha_ini
        fecha_fin
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [
        {
          field: 'nombre',
          label: this.$t('entity.crud.name'),
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'id_bloque',
          type: 'hidden',
          typeG: 'Int'
        }
      ],
      menu1: false,
      menu2: false,
      idBloque: null,
      idPrograma: null,
      valid: true
    };
  },
  methods: {
    openModal (data = {}, form = true) {
      this.valid = true;
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.form = {
          nro_modulo: '',
          nombre: '',
          descripcion: ''
        };
      }
      if (form) {
        this.$store.commit('openModal');
      }
    },
    getPrograma (id) {
      this.$service.graphql({
        query: this.queryPrograma,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          console.log(response.bloque);
          this.idPrograma = response.bloque.id_programa;
          console.log(this.idPrograma);
        }
      });
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        data.codigo = (data.codigo || '').toUpperCase();
        data.nombre = (data.nombre || '').toUpperCase();
        data.descripcion = (data.descripcion || '').toUpperCase();
        data.nro_modulo = parseInt(data.nro_modulo);
        data.hrs_presenciales = parseInt(data.hrs_presenciales);
        data.hrsno_presenciales = parseInt(data.hrsno_presenciales);
        data.total_carga = parseInt(data.total_carga);
        data.total_creditos = parseInt(data.total_creditos);
        if (data.id) {
          delete data.id;
          delete data.id_bloque;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $modulosprograma: EditModulosprograma!) {
                modulosprogramaEdit(id: $id, modulosprograma: $modulosprograma) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              modulosprograma: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.id_bloque = parseInt(this.id_bloque);
          this.$service.graphql({
            query: `
              mutation add($modulosprograma: NewModulosprograma!) {
                modulosprogramaAdd(modulosprograma: $modulosprograma) {
                  id
                }
              }
            `,
            variables: {
              modulosprograma: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    },
    sumarCargaTotal () {
      this.form.total_carga = parseInt(this.form.hrsno_presenciales || 0) + parseInt(this.form.hrs_presenciales || 0);
    },
    getTotalCreditos () {
      this.form.total_creditos = (parseInt(this.form.hrsno_presenciales || 0) + parseInt(this.form.hrs_presenciales || 0)) / 40;
    },
    descargarTodo () {
      // TODO: Implementar función de sincronización con el portál único
    }
  },

  watch: {
    'form.hrs_presenciales' () {
      this.sumarCargaTotal();
      this.getTotalCreditos();
    },
    'form.hrsno_presenciales' () {
      this.sumarCargaTotal();
      this.getTotalCreditos();
    },
    'id_bloque' (val) {
      if (val) {
        this.show = false;
        this.$nextTick(() => {
          this.filters[1].value = parseInt(val);
          this.show = true;
        });
      }
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
