<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> Programas</h3>
    <v-card>
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :widthModal="800"
        >
          <template slot="buttons">
            <v-tooltip bottom v-if="$store.state.permissions['programas:create']">
              <v-btn color="primary"
                @click.native.stop="openModal()"
                slot="activator">
                <v-icon>add</v-icon> {{$t('common.add') }}
              </v-btn>
              <span>Agregar nuevo Programa</span>
            </v-tooltip>
          </template>

          <template slot="form">
            <v-card-title class="headline">
              <v-flex xs9>
                <v-icon>business</v-icon> {{ form.id ? 'Editar programa' : 'Agregar programa' }}
              </v-flex>
              <v-spacer />
              <v-flex xs1 text-md-right>
                <v-btn icon @click.native="$store.commit('closeModal')">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-flex>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation
              >
              <v-card-text class="pt-0">
                <v-container grid-list-md>
                  <h4>Datos generales</h4>
                     <v-layout wrap>
                      <v-flex xs6>
                      <v-text-field
                        name="codigo"
                        label="Código Programa"
                        id="codigo"
                        v-model="form.codigo"
                        class="uppercase"
                        autofocus
                        maxlength="150"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs6>
                      <v-text-field
                        name="nombre"
                        label="Nombre"
                        id="nombre"
                        v-model="form.nombre"
                        class="uppercase"
                        autofocus
                        maxlength="150"
                        :rules="$validate(['required'])"
                        required
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs12>
                      <v-text-field
                        name="descripcion"
                        label="Descripción"
                        id="descripcion"
                        class="uppercase"
                        v-model="form.descripcion"
                        maxlength="255"
                      ></v-text-field>
                    </v-flex>
                     
                    <v-flex xs12>
                      <v-textarea
                        name="objetivo"
                        label="Objetivo"
                        id="objetivo"
                        class="uppercase"
                        v-model="form.objetivo"
                      ></v-textarea>
                    </v-flex>

                    <v-flex xs12>
                      <v-text-field
                        name="mencion"
                        label="Mención"
                        id="mencion"
                        class="uppercase"
                        v-model="form.mencion"
                        maxlength="500"
                        :counter="500"
                        :rules="$validate(['required'])"
                        required
                      ></v-text-field>
                    </v-flex>
                    
                    <v-flex xs6>
                      <v-autocomplete
                        :items="grados"
                        label="Grado Académico"
                        id="grado_academico"
                        v-model="form.grado_academico"
                        :rules="$validate(['required'])"
                        class="required"
                        item-text="nombre"
                        item-value="codigo"
                     ></v-autocomplete>
                    </v-flex>              

                    <v-flex xs6 >
                      <v-autocomplete
                        :items="tipos"
                        v-model="form.tipo"
                        label="Tipo de Programa"
                        :rules="$validate(['required'])"
                        class="required"
                        item-text="nombre"
                        item-value="codigo"
                        ></v-autocomplete>
                    </v-flex>
                    
                    <v-flex xs4>
                      <v-text-field
                        name="nro_modulos"
                        label="Nro. Módulos"
                        id="nro_modulos"
                        v-model="form.nro_modulos"
                        maxlength="2"
                        @keydown="$filter.integer($event)"
                        :rules="$validate(['required'])"
                        class="required"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs4>
                      <v-text-field
                        name="notaMinima"
                        label="Nota Mínima de Aprobacion"
                        id="duracion"
                        v-model="form.nota_minima"
                        @keydown="$filter.integer($event)"
                        :rules="$validate(['required'])"
                        class="required"
                        maxlength="3"
                        required
                      ></v-text-field>    
                    </v-flex>

                    <v-flex xs4>
                      <v-text-field
                        name="duracion"
                        label="Duración/meses"
                        id="duracion"
                        v-model="form.duracion"
                        @keydown="$filter.integer($event)"
                        :rules="$validate(['required'])"
                        class="required"
                        maxlength="3"
                        required
                      ></v-text-field>    
                    </v-flex>

                    <v-flex xs8>
                      <v-select
                        :items="horariosP"
                        v-model="form.horarios"
                        label="Dias y horarios"
                        item-text="nombre"
                        item-value="codigo"
                        :rules="$validate(['required'])"
                        required
                        class="required"
                    ></v-select>
                    </v-flex>

                    <v-flex xs4>
                      <v-text-field
                        name="rhcu"
                        label="Nº Resolución H.C.U."
                        id="rhcu"
                        class="uppercase"
                        v-model="form.rhcu"
                        maxlength="20"
                        required
                      ></v-text-field>    
                    </v-flex>
                    
                    <h4>Modalidad del Programa</h4>
                     <v-flex xs12>
                      <v-select
                        :items="tiposDoc"
                        v-model="form.modalidad"
                        label="Modalidad"
                        item-text="text"
                        item-value="value"
                        :rules="$validate(['required'])"
                        required
                        class="required"
                    ></v-select>
                    </v-flex>

                     <v-flex xs6>
                      <v-text-field
                        v-if="this.form.modalidad == 'PRESENCIAL'"
                        name="hrs_presenciales"
                        label="Horas Presenciales"
                        id="hrs_presenciales"
                        v-model="form.hrs_presenciales"
                        @keydown="$filter.integer($event)"
                        maxlength="20"
                        required
                      ></v-text-field>    
                    </v-flex>

                    <v-flex xs6>
                      <v-text-field
                        v-if="this.form.modalidad == 'PRESENCIAL'"
                        name="hrsno_presenciales"
                        label="Horas No Presenciales"
                        id="hrsno_presenciales"
                        v-model="form.hrsno_presenciales"
                        @keydown="$filter.integer($event)"
                        maxlength="20"
                        required
                      ></v-text-field>    
                    </v-flex>


                    <v-flex xs6>
                      <v-text-field
                        v-if="this.form.modalidad !== 'PRESENCIAL'"
                        name="v_virtual"
                        label="Min. Horas Teóricas de Trabajo Virtual"
                        id="v_virtual"
                        v-model="form.v_virtual"
                        @keydown="$filter.integer($event)"
                        maxlength="2"
                      ></v-text-field>    
                    </v-flex>


                    <v-flex xs6>
                      <v-text-field
                        v-if="this.form.modalidad !== 'PRESENCIAL'"
                        name="v_colaborativo"
                        label="Min. Horas de Trabajo Colaborativo"
                        id="v_colaborativo"
                        v-model="form.v_colaborativo"
                        @keydown="$filter.integer($event)"
                        maxlength="2"
                      ></v-text-field>    
                    </v-flex>
                    
                    <v-flex xs6>
                      <v-text-field
                        name="v_reflexiva"
                         v-if="this.form.modalidad !== 'PRESENCIAL'"
                        label="Min. Horas de Investigación Reflexiva"
                        id="v_reflexiva"
                        v-model="form.v_reflexiva"
                        @keydown="$filter.integer($event)"
                        maxlength="2"
                      ></v-text-field>    
                    </v-flex>

                    <v-flex xs6>
                      <v-text-field
                        v-if="this.form.modalidad !== 'PRESENCIAL'"
                        name="v_linea"
                        label="Min. Horas de Trabajo Independiente en Linea"
                        id="v_linea"
                        v-model="form.v_linea"
                        @keydown="$filter.integer($event)"
                        maxlength="20"
                      ></v-text-field>    
                    </v-flex>

                    <v-flex xs12>
                      <v-text-field
                        name="v_evaluacion"
                        v-if="this.form.modalidad !== 'PRESENCIAL'"
                        label="Min. Horas de Evaluación"
                        id="v_evaluacion"
                        v-model="form.v_evaluacion"
                        @keydown="$filter.integer($event)"
                        maxlength="2"
                      ></v-text-field>    
                    </v-flex>  

                    <v-flex xs6>
                      <v-text-field
                        name="total_carga"
                        label="Total Carga"
                        id="total_carga"
                        v-model="form.total_carga"
                        @keydown="$filter.integer($event)"
                        maxlength="20"
                        required
                        disabled
                      ></v-text-field>    
                    </v-flex>

                    <v-flex xs6>
                      <v-text-field
                        name="total_creditos"
                        label="Total Creditos"
                        id="total_creditos"
                        v-model="form.total_creditos"
                        @keydown="$filter.integer($event)"
                        maxlength="20"
                        required
                        disabled
                      ></v-text-field>    
                    </v-flex>

                    <h4>Lineas de Investigación</h4>
                    <v-flex xs12>
                      <v-btn
                        small
                        @click="agregarLinea"
                        color="primary">AGREGAR LINEAS DE INVESTIGACION
                      </v-btn>
                    </v-flex>
                    
                    <v-flex xs12>
                    <v-layout
                      row
                      wrap
                      v-for="(linea,index) in form.lineas_investigacion"
                      :key="index">
                      <v-flex xs1>
                        <v-text-field
                          label="Nro"
                          v-model="linea.nro">
                        </v-text-field>
                      </v-flex>        
                      <v-flex xs10>
                        <v-text-field
                          label="Linea de Investigación"
                          v-model="linea.linea">
                        </v-text-field>
                      </v-flex>
                      <v-flex xs1>
                        <v-btn
                        icon
                        small
                        @click="eliminarLinea(index)">
                          <v-icon color="error">delete</v-icon>
                        </v-btn>
                      </v-flex>
                    </v-layout>
                    </v-flex>
                    
                    
                 </v-layout>
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn
                  @click.native="$store.commit('closeModal');">
                  <v-icon>cancel</v-icon> {{$t('common.cancel') }}
                </v-btn>
                <v-btn
                  color="primary"
                  type="submit"
                  :disabled="!valid">
                  <v-icon>check</v-icon> {{$t('common.save') }}
                </v-btn>
              </v-card-actions>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['programas:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="editItem(items.item.id, 'programa', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['programas:delete']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="deleteItem(items.item.id, 'programa')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>           
            </td>
            <!--<td>
              <v-tooltip bottom v-if="$store.state.permissions['programas:update']">
                <v-switch
                  v-model="items.item.active"
                  value="ACTIVE"
                  v-if="username !== items.item.usuario"
                  @change="changeActive(items.item, items.item.id, 'programa', 'EditPrograma', null, 'Update')"
                  hide-details
                  slot="activator"
                  color="success"></v-switch>
                <span>Activar/desactivar registro</span>
              </v-tooltip>
              <v-icon
                v-if="!$store.state.permissions['proramas:update'] && username !== items.item.usuario"
                :color="items.item.active === 'ACTIVE' ? 'success' : 'error'">
                {{ items.item.active === 'ACTIVE' ? 'check' : 'close' }}
              </v-icon>
             
            </td>-->
            <td>
              <v-btn small
                icon
                @click="$router.push(`/detalleprograma/${items.item.id}`)">
                <v-icon color="blue darken-2">scatter_plot</v-icon>
                <span>VERSIÓN</span>
                </v-btn>
            </td>
            <td>
              <v-btn small
                icon
                @click="openModalBloque(items.item.id)">
                <v-icon color="orange darken-2">view_stream</v-icon>
                <span>BLOQUES</span>
                </v-btn>
            </td>
            <td>
              <v-btn small
                icon
                @click="$router.push(`/moduloprograma/${items.item.id}`)">
                <v-icon color="blue darken-2">view_module</v-icon>
                <span>MÓDULOS</span>  
                </v-btn>
            </td>
            <td>
              <v-btn small
                icon
                @click="abrirRequisitos(items.item.id)">
                <v-icon color="orange darken-2">done_all</v-icon>
                <span>REQUISITOS</span> 
                </v-btn>
            </td>
            <td class="nowrap">{{ items.item.codigo }}</td>
            <td class="nowrap">{{ items.item.nombre }}</td>
            <td class="nowrap">{{ items.item.mencion }}</td>
            <td class="nowrap">{{ printConstante(items.item.grado_academico,'grados')}}</td>
            <td>{{ items.item.modalidad }}</td>
            <td>{{ printConstante(items.item.tipo, 'tipos') }}</td>
            <td>{{ items.item.nro_modulos}}</td>
            <td>{{ items.item.duracion}}</td>
            <td class="nowrap">{{ items.item.rhcu}}</td>
            <td>{{ items.item.hrs_presenciales}}</td>
            <td>{{ items.item.hrsno_presenciales}}</td>
            <td>{{ items.item.total_carga}}</td>
            <td>{{ items.item.total_creditos}}</td>
            <!--<td>
              <v-chip label color="success" text-color="white" v-if="items.item.estado == 'ACTIVO'">
                {{ items.item.estado }}
              </v-chip>
              <v-chip label color="warning" text-color="white" v-if="items.item.estado == 'INACTIVO'">
                {{ items.item.estado }}
              </v-chip>
            </td>-->
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
    <v-dialog v-model="$store.state.modal2"  max-width="800">
      <programa-requisito :id-programa="idPrograma" v-if="idPrograma" />
    </v-dialog>
    <v-dialog v-model="$store.state.modal3" max-width="900">
      <Bloque :id-programa="idPrograma" v-if="idPrograma" />
    </v-dialog>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import ProgramaRequisito from './ProgramaRequisito';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import listas from './mixins/listas';
import Bloque from '../bloque/Bloque';

export default {
  mixins: [ crud, validate, token, logDatos, listas ],
  created () {
    this.user = this.$storage.getUser();
    this.tipos = [];
    this.grados = [];
    this.horariosP = [];
    this.getConstantes('GRADO ACADEMICO', 'grados');
    this.getConstantes('PROGRAMA', 'tipos');
    this.getConstantes('HORARIO', 'horariosP');
    console.log(this.getConstantes('HORARIO', 'horariosP'));
  },
  data () {
    return {
      idPrograma: 0,
      logDatos: null,
      tipos: [],
      grados: [],
      horariosP: [],
      successAlert: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'programas',
      headers: [
        { text: this.$t('common.actions'), sortable: false },
        //  { text: this.$t('common.active'), sortable: false },
        { text: 'Versión', value: '' },
        { text: 'Bloques', value: '' },
         { text: 'Módulos', value: '' },
        { text: 'Requisitos', value: '' },
        { text: 'Código', value: 'codigo' },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Mención', value: 'mencion' },
        { text: 'Grado Académico', value: 'grado_academico' },
        { text: 'Modalidad', value: 'modalidad' },
        { text: 'Tipo', value: 'tipo' },
        { text: 'Nro. módulos', value: 'nro_modulos' },
        { text: 'Duración', value: 'duracion' },
        { text: 'RHCU', value: 'rhcu' },
        { text: 'Horas Presenciales', value: 'hrs_presenciales' },
        { text: 'Horas No Presenciales', value: 'hrsno_presenciales' },
        { text: 'Total Carga', value: 'total_carga' },
        { text: 'Total Créditos', value: 'total_creditos' }
        //  { text: 'Estado', value: 'estado' }
      ],
      form: {
        nombre: '',
        descripcion: '',
        objetivo: '',
        mencion: '',
        grado_academico: '',
        modalidad: '',
        tipo: '',
        nro_modulos: '',
        duracion: '',
        rhcu: '',
        hrs_presenciales: '',
        hrsno_presenciales: '',
        total_carga: '',
        total_creditos: '',
        estado: '',
        lineas_investigacion: '',
        horarios: ''
      },
      dataGraphql: `
        id
        codigo
        nombre
        descripcion
        objetivo
        mencion
        lineas_investigacion
        horarios
        grado_academico
        modalidad
        tipo
        nro_modulos
        duracion
        nota_minima
        rhcu
        v_virtual
        v_colaborativo
        v_reflexiva
        v_linea
        v_evaluacion
        hrs_presenciales
        hrsno_presenciales
        total_carga
        total_creditos
        estado
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [
        {
          field: 'nombre',
          label: this.$t('entity.crud.name'),
          type: 'text',
          typeG: 'String'
        }
      ],
      tiposDoc: [
        { value: 'PRESENCIAL', text: 'PRESENCIAL' },
        { value: 'VIRTUAL', text: 'VIRTUAL' }
      ],
      /*  horarios: [
        { text: 'Lunes, miercoles y viernes, de 19:00 a 22:00' },
        { text: 'Martes, jueves de 19:00 a 22:00 y Sábado de 8:00 a 11:00' }
      ],  */
      valid: true
    };
  },
  methods: {
    abrirRequisitos (id) {
      this.idPrograma = 0;
      this.$nextTick(() => {
        this.idPrograma = parseInt(id);
        this.$store.commit('openModal', 2);
      });
    },
    openModalBloque (id) {
      this.idPrograma = 0;
      this.$nextTick(() => {
        this.idPrograma = parseInt(id);
        this.$store.commit('openModal', 3);
      });
    },
    openModal (data = {}, form = true) {
      this.valid = true;
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.form = {
          nombre: '',
          descripcion: '',
          objetivo: '',
          mencion: '',
          lineas_investigacion: [
            {
              nro: '',
              linea: ''
            }
          ]
        };
      }
      if (form) {
        this.$store.commit('openModal');
      }
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        console.log('Datos de Programa: ', data);
        data.codigo = (data.codigo || '').toUpperCase();
        data.nombre = (data.nombre || '').toUpperCase();
        data.descripcion = (data.descripcion || '').toUpperCase();
        data.objetivo = (data.objetivo || '').toUpperCase();
        data.mencion = (data.mencion || '').toUpperCase();
        data.rhcu = (data.rhcu || '').toUpperCase();
        data.v_virtual = parseInt(data.v_virtual);
        data.v_colaborativo = parseInt(data.v_colaborativo);
        data.v_reflexiva = parseInt(data.v_reflexiva);
        data.v_linea = parseInt(data.v_linea);
        data.v_evaluacion = parseInt(data.v_evaluacion);
        data.duracion = parseInt(data.duracion);
        data.nro_modulos = parseInt(data.nro_modulos);
        data.hrs_presenciales = parseInt(data.hrs_presenciales);
        data.hrsno_presenciales = parseInt(data.hrsno_presenciales);
        data.total_carga = parseInt(data.total_carga);
        data.total_creditos = parseInt(data.total_creditos);
        data.lineas_investigacion = this.form.lineas_investigacion;
        data.horarios = this.form.horarios;
        console.log('data.horarios: ', data.horarios, '', this.form.horarios);
        data.modalidad = this.form.modalidad;
        data.nota_minima = parseInt(this.form.nota_minima);
        if (data.id) {
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $programa: EditPrograma!) {
                programaEdit(id: $id, programa: $programa) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              programa: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.estado = 'POSTULACION';
          this.$service.graphql({
            query: `
              mutation add($programa: NewPrograma!) {
                programaAdd(programa: $programa) {
                  id
                }
              }
            `,
            variables: {
              programa: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    },
    sumarCargaTotal () {
      if (this.form.modalidad === 'PRESENCIAL') {
        this.form.total_carga = parseInt(this.form.hrsno_presenciales || 0) + parseInt(this.form.hrs_presenciales || 0);
      } else {
        this.form.total_carga = parseInt(this.form.v_virtual || 0) + parseInt(this.form.v_colaborativo || 0) + parseInt(this.form.v_reflexiva || 0) + parseInt(this.form.v_linea || 0) + parseInt(this.form.v_evaluacion || 0);
      }
    },

    getTotalCreditos () {
      if (this.form.modalidad === 'PRESENCIAL') {
        this.form.total_creditos = (parseInt(this.form.hrsno_presenciales || 0) + parseInt(this.form.hrs_presenciales || 0)) / 40;
      } else {
        this.form.total_creditos = (this.form.total_carga = parseInt(this.form.v_virtual || 0) + parseInt(this.form.v_colaborativo || 0) + parseInt(this.form.v_reflexiva || 0) + parseInt(this.form.v_linea || 0) + parseInt(this.form.v_evaluacion || 0)) / 40;
      }
    },
    openPermisos () {
      this.$store.commit('openModal', 2);
    },

    agregarLinea () {
      this.form.lineas_investigacion.push({
        nro: '',
        linea: ''
      });
    },

    eliminarLinea (index) {
      this.form.lineas_investigacion.splice(index, 1);
    }
  },
  watch: {
    'form.hrs_presenciales' () {
      this.sumarCargaTotal();
      this.getTotalCreditos();
    },
    'form.hrsno_presenciales' () {
      this.sumarCargaTotal();
      this.getTotalCreditos();
    },
    'form.v_virtual' () {
      this.sumarCargaTotal();
    },
    'form.v_colaborativo' () {
      this.sumarCargaTotal();
      this.getTotalCreditos();
    },
    'form.v_reflexiva' () {
      this.sumarCargaTotal();
      this.getTotalCreditos();
    },
    'form.v_linea' () {
      this.sumarCargaTotal();
      this.getTotalCreditos();
    },
    'form.v_evaluacion' () {
      this.sumarCargaTotal();
      this.getTotalCreditos();
    }
  },
  components: {
    ProgramaRequisito,
    CrudTable,
    LogDatos,
    Bloque
  }
};
</script>
