<template>
  <v-card class="crud-dialog">
    <v-card-title class="headline m-0">
      <v-icon>list</v-icon> Requisitos
      <v-spacer></v-spacer>
      <v-btn icon @click="$store.commit('closeModal', 2)">
       <v-icon>close</v-icon>
      </v-btn>
    </v-card-title>  
      <v-container grid-list-md fluid>
        <table class="v-datatable v-table theme--light">
          <tbody>
            <tr v-for="require in requisito" :key="require.id">  
              <td>
                <strong>{{ require.nombre }}</strong><br>
              </td>
                <td>
                <v-checkbox
                  color="primary"
                  hide-details
                  class="mt-0"
                  v-model="require.value">
                </v-checkbox>
                </td>
                <td>
                  <v-text-field  
                    v-model="require.observacion" 
                    id="require.observacion"
                    class="uppercase"
                    Placeholder="OBSERVACION"
                    ></v-text-field>
              </td>
            </tr>
          </tbody>    
        </table> 
      </v-container>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn @click="$store.commit('closeModal', 2)"> <v-icon>cancel</v-icon> Cancelar</v-btn>
      <v-btn color="primary" type="submit" @click= "saveReqEstudiante();"><v-icon>check</v-icon>Guardar e Imprimir</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    idUser: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      requisito: null,
      programa: null,
      queryRequisitos: `
      query getRequisitos($id: ID!) {
        usuario(id: $id){
          id
          requisitos
          id_programa
        }
      }`,
      queryReqPrograma: `
      query programa($id: ID!){
        programa (id: $id){
          id
          requisitos
        }
      }`
    };
  },
  created () {
    this.user = this.$storage.getUser();
    this.username = this.user.usuario;
    if (this.idUser) {
      console.log('estudianteRequisito:', this.idUser);
      this.getRequisitos(this.idUser);
    }
  },

  methods: {
    getRequisitos (id) {
      console.log('prueba');
      this.$service.graphql({
        query: this.queryRequisitos,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.requisito = response.usuario.requisitos;
          this.idPrograma = response.usuario.id_programa;
          this.idPrograma = parseInt(this.idPrograma);
          if (this.requisito) {
            console.log('Existe requisitos: ', response.usuario);
            /*  for (let item of this.requisito) {
              console.log('ingresa', item.nombre);
            } */
          } else {
            console.log('No Existe Requisitos y crea a partir de programa');
            this.getReqPrograma();
          }
        } else {
          console.log('NO HAY RESPUESTA');
        }
      });
    },

    getReqPrograma () {
      console.log('programa: ', this.idPrograma);
      this.$service.graphql({
        query: this.queryReqPrograma,
        variables: {
          id: this.idPrograma
        }
      }).then(response => {
        if (response) {
          console.log('respuesta de programa: ', response.programa);
          this.programa = response.programa;
          if (this.programa.requisitos) {
            this.requisito = [];
            console.log('objetoo!!!', this.programa.requisitos);
            for (let item of this.programa.requisitos) {
              if (item.valor) {
                this.requisito.push({
                  id: item.id,
                  nombre: item.nombre,
                  value: false,
                  observacion: ''
                });
              }
            }
            console.log('Despues del for: ', this.requisito);
          }
        }
      });
    },
    saveReqEstudiante () {
      console.log('idUser: ', this.idUser);
      let data = {
        requisitos: this.requisito
      };
      this.$service.graphql({
        query: `
         mutation edit($id: ID!, $usuario: EditUsuario!) {
            usuarioUpdate(id: $id, usuario: $usuario) {
              id
            }
          }
        `,
        variables: {
          id: this.idUser,
          usuario: data
        }
      }).then(response => {
        if (response) {
          this.$message.success('Se actualizó el registro correctamente');
          this.$store.commit('closeModal', 2);
          this.imprimirRequisitos();
        }
      });
    },
    imprimirRequisitos () {
      console.log('idUser:', this.idUser);
      this.$service.post('system/requisitos/pdf/' + this.idUser + '/' + this.username)
        .then(response => {
          if (response) {
            console.log('pdffff', response);
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `requisitos-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    }
  }
};
</script>