<template>
  <section>
    <h3 class="primary--text"><v-icon info>person_outline</v-icon> INSCRIPCIÓN </h3>
    <v-autocomplete
    :items="programas"
    label= "Seleccione un Programa"
    id = "programas"
    v-model="id_programa_search"
    item-text="nombre"
    item-value="id"
    return-object>
    <template v-slot:item="{ item }">
      <v-list-tile-content>
        <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
      </v-list-tile-content>
    </template> 
    <template v-slot:selection="{ item, selected }">
      <v-chip
        :selected="selected"
        color="blue-grey"
        class="white--text"
      >
        {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }}
      </v-chip>
    </template>
    </v-autocomplete>
    <v-card v-if="show"> 
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :data-graphql="dataGraphql"
          :widthModal="840"
        >
          <template slot="form">
            <v-card-title class="headline">
              <v-icon>{{ 'monetization_on' }}</v-icon> {{' PLAN DE PAGOS'}}
              <v-spacer></v-spacer>
              <v-btn icon @click="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation>
              <v-card-text class="pt-0">
                <v-container grid-list-md class="pt-0">
                  <h4> Plan de Pagos </h4>
                    <v-layout row wrap>

                      <v-flex xs4>
                        <v-select
                          :items="opcionesPago"
                          label="Opciones de Pago"
                          v-model="form.opcion_pago"
                          id="opcion_pago"
                          ></v-select>
                      </v-flex>

                        <v-flex xs2>
                          <v-text-field
                            label="Descuento %"
                            v-model="form.descuento"
                            id="descuento"
                            disabled
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs2>
                          <v-text-field
                            label="Costo Matricula"
                            v-model="form.costo_matricula"
                            id="costo_matricula"
                            disabled
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs2>
                          <v-text-field
                            label="Costo Colegiatura Total"
                            v-model="form.costo_colegiatura_total"
                            id="costo_colegiatura_total"
                            disabled
                            ></v-text-field>
                        </v-flex>                     

                        <v-flex xs2>
                          <v-text-field
                            label="Monto Descuento"
                            v-model="form.monto_descuento" 
                            id="monto_descuento"
                            disabled
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs3>
                          <v-text-field
                            label="Costo Colegiatura Aplicada"
                            v-model="form.costo_colegiatura_aplicada" 
                            id="costo_colegiatura_aplicada"
                            disabled
                            ></v-text-field>
                        </v-flex>
                        
                        <v-flex xs3>
                          <v-text-field
                            label="Primera Cuota"
                            v-model="form.cuota_uno"
                            id="cuota_inicial"
                            disabled
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs3>
                          <v-text-field
                            label="Cuota Inicial(Reserva)"
                            v-model="form.monto_reserva"
                            id="cuota_inicial"
                            disabled
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs3>
                          <v-text-field
                            label="Saldo Primera Cuota"
                            v-model="form.cuota_inicial"
                            id="cuota_inicial"
                            ></v-text-field>
                        </v-flex>
                        <v-flex xs6>
                          <v-text-field
                            label="Nro Cuotas"
                            maxlength="2"
                            @keydown="$filter.integer($event)"
                             v-model="form.nro_cuotas"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs6>
                          <v-text-field
                            label="Monto Cuota"
                            @keydown="$filter.integer($event)"
                            v-model="form.monto_cuotas"
                          ></v-text-field>
                        </v-flex>
                        <v-flex xs12>
                          <v-alert
                            outline
                            v-if="mensajeCalculo"
                            color="warning"
                            :value="true">
                            {{ mensajeCalculo }}
                          </v-alert>
                        </v-flex>                                            

                    <table class="v-datatable v-table theme--light">
                      <thead>
                        <tr>
                          <th>Gestion</th>
                          <th>Nro. Cuota</th>
                          <th>Concepto</th>
                          <th>Monto</th>
                          <th>Saldo</th>
                          <th>Fecha vencimiento</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr 
                          v-for="(item, index) in cuotas"
                          :key="index">
                          <td class="text-xs-center">{{ item.gestion }}</td>
                          <td class="text-xs-center">{{ item.numero }}</td>
                          <td class="text-xs-center">{{ item.concepto }}</td>
                          <td class="text-xs-right">{{ item.monto }}</td>
                          <td class="text-xs-right">{{ item.saldo }}</td>
                          <td class="text-xs-center">{{item.fecha}}</td> 
                        </tr>
                      </tbody>
                    </table>
                  </v-layout> 
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-spacer></v-spacer>
                <!--<v-btn @click="pdfCotizacion()" color="primary" type="submit"><v-icon>print</v-icon>imprimir</v-btn>-->
                <!--small class="error--text text-required">* Los campos son obligatorios</small>-->                
                <v-spacer></v-spacer>
                <v-btn @click="$store.commit('closeModal');"><v-icon>cancel</v-icon> {{$t('common.cancel') }}</v-btn>
                <v-btn color="primary" type="submit"><v-icon>check</v-icon>guardar e imprimir</v-btn>
              </v-card-actions>
            </v-form>
          </template>

        <template slot="items" slot-scope="items">
            <td>
              <v-tooltip bottom v-if="$store.state.permissions['usuarios:update']">
                <v-switch
                  v-model="items.item.active"
                  value="ACTIVE"
                  v-if="username !== items.item.usuario"
                  @change="cambiarEstado(items.item)"
                  hide-details
                  slot="activator"
                  color="success"></v-switch>
                <span>Activar/desactivar registro</span>
              </v-tooltip>
              <v-icon
                v-if="!$store.state.permissions['usuarios:update'] && username !== items.item.usuario"
                :color="items.item.active === 'ACTIVE' ? 'success' : 'error'">
                {{ items.item.active === 'ACTIVE' ? 'check' : 'close' }}
              </v-icon>
              <v-tooltip bottom>
                <router-link
                  to="/account"
                  v-if="username === items.item.usuario"
                  slot="activator">
                  <v-icon>person</v-icon>
                </router-link>
                <span>Este usuario soy yo, clic aquí para ir a mi cuenta.</span>
              </v-tooltip>
            </td>
            <td>
              <v-btn small
                icon
                :disabled="items.item.estado !== 'ACTIVO'"
                @click="pdfCartaAceptacion (items.item.id)">
                <v-icon color="blue darken-2">print</v-icon>
                <span>CARTA ACEPTACION</span>
                </v-btn>
            </td>
            <td>
              <v-btn
                icon
                @click="$router.push(`/kardexs/${items.item.id}`)">
                <v-icon color="blue darken-2">description</v-icon>
                <span>FORMULARIO</span>
                </v-btn>
            </td>
            <td>
              <v-btn small
                icon
                @click="abrirRequisitos(items.item.id)">
                <v-icon color="orange darken-2">done_all</v-icon>
                <span>REQUISITOS</span>
                </v-btn>
            </td>
            <td>
              <v-btn
                icon
                @click="editItem(items.item.id, 'usuario', dataGraphqlAll)">
                <v-icon color="orange darken-2">monetization_on</v-icon>
                <span>  PLAN PAGOS   </span>
                </v-btn>
            </td>
             <td class="nowrap">
              <v-btn small
                icon
                @click="pdfContrato(items.item.id)">
                <v-icon color="blue darken-2">print</v-icon>
                <span>CONTRATO ESTUDIOS</span>
                </v-btn>
            </td>
             <td class="nowrap">
              <v-btn small
                icon
                @click="pdfContratoPago(items.item.id)">
                <v-icon color="blue darken-2">print</v-icon>
                <span>CONTRATO PAGO</span>
                </v-btn>
            </td>
             <td class="nowrap">
              <v-btn small
                icon
                @click="inscribir(items.item)">
                <v-icon color="blue darken-2">check_circle_outline</v-icon>
                <span>INSCRIBIR</span>
                </v-btn>
            </td>
            <td class="nowrap">{{ items.item.persona.primer_apellido }} {{ items.item.persona.segundo_apellido }} {{ items.item.persona.nombres }}</td>
            <td>{{ items.item.email }}</td>
            <td>{{ items.item.persona.movil }}</td>
            <td>{{ items.item.persona.telefono }}</td>
            <td>{{ items.item.persona.direccion }}</td>
            <td>{{ items.item.persona.lugar_nacimiento }}</td>
            <td>
              <v-chip label color="success" text-color="white" v-if="items.item.estado == 'ACTIVO'">
                {{ items.item.estado }}
              </v-chip>
              <v-chip label color="warning" text-color="white" v-if="items.item.estado == 'INACTIVO'">
                {{ items.item.estado }}
              </v-chip>
            </td>
          </template>          
        </crud-table>
      </v-card-text>
    </v-card>
    <v-dialog v-model="$store.state.modal2" max-width="900">
      <estudiante-requisito :id-user="idUser" v-if="idUser"/>
    </v-dialog>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import EstudianteRequisito from './EstudianteRequisito';
import Auth from '@/components/admin/auth/mixins/auth';
import validate from '@/common/mixins/validate';
import usuario from './mixins/usuario';
import listas from './mixins/listas';
import PersonaForm from '@/components/admin/persona/PersonaForm';
import LogDatos from '@/components/admin/usuario/LogDatos';
import token from '@/components/admin/modulo/mixins/token';

import { createHelpers } from 'vuex-map-fields';

const { mapFields } = createHelpers({
  getterType: 'usuario/getField',
  mutationType: 'usuario/updateField'
});

export default {
  mixins: [ crud, validate, Auth, usuario, token, listas ],
  created () {
    this.user = this.$storage.getUser();
    this.username = this.user.usuario;
    this.entidades = [];
    this.getEntidades(0);
    this.roles = [];
    this.getRoles(1);
    this.grados = [];
    this.getConstantes('GRADO ACADEMICO', 'grados');
    this.programas = [];
    this.getProgramas('INICIO', 'programas');
  },
  data () {
    return {
      idUser: 0,
      flagMensaje: false,
      flag: false,
      programas: [],
      //  opagos: [],
      id_programa_search: null,
      asignaciones: [],
      bloques: [],
      modulos: [],
      show: false,
      idProg: null,
      idVer: null,
      mensajeCalculo: null,
      logDatos: null,
      operadores: [],
      opcionesPago: [],
      idContrato: null,
      personaDatos: false,
      contrato: null,
      contratos: [],
      enabled: false,
      enabled1: false,
      flagAsignaciones: false,
      calculo_cuotas: null,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'usuarios',
      headers: [
        { text: 'Dar de Baja', sortable: false },
        { text: 'Carta de Aceptacion', sortable: false },
        { text: 'Historial', value: '' },
        { text: 'Requisitos', value: '' },
        { text: 'Plan de Pagos', value: '' },
        { text: 'Contrato de Estudio', value: '' },
        { text: 'Contrato de Pagos', value: '' },
        { text: 'REALIZAR INSCRIPCIÓN', value: '' },
        { text: 'Nombre Completo', value: '' },
        { text: this.$t('user.crud.email'), value: 'email' },
        { text: 'Teléfono Móvil', value: 'movil' },
        { text: 'Teléfono', value: 'telefono' },
        { text: 'Direccion', value: 'direccion' },
        { text: 'Lugar de Nacimiento', value: 'lugar_nacimiento' },
        { text: this.$t('user.crud.status'), value: 'estado' }
      ],
      dataGraphql: `
        id
        usuario
        email
        estado
        g_academico
        mencion
        acronimo
        id_entidad
        id_rol
        estado_estudiante
        persona {
          nombres
          primer_apellido
          segundo_apellido
          nombre_completo
          telefono
          direccion
          lugar_nacimiento
          movil
        }
        entidad {
          nombre
        }
        rol {
          nombre
        }
        programa {
          nombre
        }
      `,
      dataGraphqlAll: `
        id
        usuario
        email
        cargo
        g_academico
        mencion
        acronimo
        estado
        id_entidad
        id_rol
        id_persona
        estado_estudiante
        id_version
        id_programa
        detallesprograma {
          opciones_pagos
          costo_total
          costo_matricula
          costo_colegiatura
          coordinador
          fecha_ini
          nro_matriculas
        }
        persona {
          nombres
          primer_apellido
          segundo_apellido
          tipo_documento
          tipo_documento_otro
          nro_documento
          lugar_exp
          direccion
          lugar_nacimiento
          fecha_nacimiento
          movil
          nacionalidad
          pais_nacimiento
          genero
          telefono
          estado
          movil
        }
        entidad {
          nombre
        }
        rol {
          nombre
        }
        programa {
          nombre
        }
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      queryAsignaciones: `
        query asignacionDocentes($id_programa: Int, $id_version: Int) {
          asignacionDocentes(id_programa: $id_programa, id_version: $id_version) {
            count
            rows {
              id
              modulo_ini
              modulo_fin
              id_modulo
              id_version
              id_bloque
              id_docente
              id_programa
            }
          }
        }
      `,
      form: {
        usuario: '',
        contrasena: '',
        email: '',
        id_entidad: null,
        id_rol: null
      },
      filters: [
        {
          field: 'id_rol',
          label: this.$t('user.crud.role'),
          type: 'hidden',
          typeG: 'ID',
          value: 5,
          items: []
        },
        {
          field: 'estado_estudiante',
          type: 'hidden',
          typeG: 'String',
          value: 'PREINSCRITO'
        },
        {
          field: 'nombre_completo',
          label: this.$t('user.crud.fullname'),
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'estado',
          label: this.$t('user.crud.status'),
          type: 'select',
          typeG: 'EstadoUsuario',
          items: [
            { value: '', text: 'TODOS' },
            { value: 'ACTIVO', text: 'ACTIVO' },
            { value: 'INACTIVO', text: 'INACTIVO' }
          ]
        },
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_version',
          type: 'hidden',
          typeG: 'Int'
        }
      ],
      formaPago: [
        { value: 'CONTADO', text: 'CONTADO' },
        { value: 'CUOTAS', text: 'CUOTAS' }
      ],
      hidePass: true,
      username: null,
      valid: true,
      cuotas: [],
      calculoMontoCuotas: false,
      calculoNroCuotas: false
    };
  },
  computed: {
    getIcon () {
      if (this.contrasena) {
        return this.contrasena.length === 0 ? 'lock' : this.hidePass ? 'visibility' : 'visibility_off';
      }
      return 'lock';
    },
    // Cargando datos del usuario del store
    ...mapFields([
      'form.id',
      'form.usuario',
      'form.contrasena',
      'form.email',
      'form.cargo',
      'form.estado_estudiante',
      'form.g_academico',
      'form.direccion',
      'form.lugar_nacimiento',
      'form.lugar_exp',
      'form.id_entidad',
      'form.id_rol',
      'form.id_persona',
      'form.movil',
      'form.telefono'
    ])
  },
  methods: {
    openModal (data = {}) {
      this.idContrato = null;
      console.log('ID DE CONTRATO: ', this.idContrato);
      this.mensajeCalculo = null;
      this.$refs.form.reset();
      console.log('data', data);
      this.idUsuario = parseInt(data.id);
      console.log('data.id_persona', data.id_persona);
      console.log('data.id_programa', data.id_programa);
      console.log('data.id_version', data.id_version);
      console.log('id Usuario: ', this.idUsuario);
      this.idPersona = parseInt(data.id_persona);
      this.idPrograma = parseInt(data.id_programa);
      this.idVersion = parseInt(data.id_version);
      this.$service.graphql({
        query: `
          query contratos($id_usuario: Int){
            contratos (id_usuario: $id_usuario){
              count
              rows {
                id
                id_usuario
                costo_colegiatura
                monto_matricula_1
                descuento
                nro_cuotas
                opcion_pago
                plan_pagos
                cuota_inicial
                monto_descuento
                monto_cuotas
                monto_reserva
              }
            } 
          }
        `,
        variables: {
          id_usuario: this.idUsuario
        }
      }).then(response => {
        //  console.log('nro de crontratos por personal', response.contratos);
        if (data.detallesprograma && data.detallesprograma.opciones_pagos) {
          this.detalles = data.detallesprograma;
          console.log(this.detalles.costo_colegiatura);
          this.form.costo_matricula = this.detalles.costo_matricula;
          this.form.costo_colegiatura_total = this.detalles.costo_colegiatura;
          this.opcionesPago = this.detalles.opciones_pagos.map(item => item.opcion);
          console.log('this.opcionespago OPCIONES', this.opcionespago);
          this.fecha_vencimiento = this.detalles.fecha_ini;
          this.nro_matriculas = this.detalles.nro_matriculas;
          console.log('this.fecha_vencimiento,', this.fecha_vencimiento, 'nro matriculas: ', this.nro_matriculas);
          this.form.monto_reserva = 0;
        }
        if (response.contratos.count) {
          console.log('Ingresa al if cuando existe el contrato');
          let contrato = response.contratos.rows[0];
          this.idContrato = contrato.id;
          this.form.monto_reserva = contrato.monto_reserva;
          if (contrato.opcion_pago) {
            console.log('hace algo aqui', contrato.monto_reserva);
            this.form.opcion_pago = contrato.opcion_pago;
            this.calculoMontoCuotas = true;
            this.calculoNroCuotas = true;
            this.form.nro_cuotas = contrato.nro_cuotas;
            this.form.monto_cuotas = contrato.monto_cuotas;
            this.flagMensaje = true;
            this.form.cuota_inicial = contrato.cuota_inicial;
            this.form.monto_descuento = contrato.monto_descuento;
            this.form.costo_colegiatura_aplicada = contrato.costo_colegiatura;
            this.cuotas = contrato.plan_pagos;
            this.flag = true;
            console.log('almacenado en una variable contracts: ', contrato);
            console.log('almacenado en una variable cuotas: ', this.cuotas);
          }
        }
        this.logDatos = {
          _user_created: data._user_created,
          _user_updated: data._user_updated,
          _created_at: data._created_at,
          _updated_at: data._updated_at
        };
        this.$store.commit('openModal');
      });
    },
    save () {
      if (this.$refs.form.validate()) {
        let contrato = {};
        contrato.costo_colegiatura = parseFloat(this.form.costo_colegiatura_aplicada);
        contrato.opcion_pago = this.form.opcion_pago;
        contrato.descuento = parseInt(this.form.descuento);
        contrato.nro_cuotas = parseInt(this.form.nro_cuotas);
        contrato.monto_cuotas = parseInt(this.form.monto_cuotas);
        contrato.monto_descuento = parseInt(this.form.monto_descuento);
        contrato.monto_matricula_1 = parseInt(this.form.costo_matricula);
        contrato.monto_matricula_2 = parseInt(this.form.costo_matricula);
        contrato.monto_matricula_3 = parseInt(this.form.costo_matricula);
        contrato.coordinador_programa = this.detalles.coordinador;
        contrato.costo_colegiatura_total = this.form.costo_colegiatura_total;
        contrato.cuota_inicial = parseInt(this.form.cuota_inicial);
        contrato.id_programa = this.idPrograma;
        contrato.id_detallesprograma = this.idVersion;
        contrato.plan_pagos = this.cuotas;
        console.log('El objeto contrato a grabar: ', contrato);
        if (this.idContrato) {
          console.log('si existe el contrato', this.idContrato);
          const id = this.idContrato;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $contrato: EditContrato!) {
                contratoEdit(id: $id, contrato: $contrato) {
                  id
                }
              }
            `,
            variables: {
              id,
              contrato: contrato
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
              this.$store.commit('usuario/cleanForm');
              this.pdfCotizacion();
            }
          });
        } else {
          contrato.id_usuario = this.idUsuario;
          contrato.estado = 'INICIAL';
          this.$service.graphql({
            query: `
              mutation add($contrato: NewContrato!) {
                contratoAdd(contrato: $contrato) {
                  id
                }
              }
            `,
            variables: {
              contrato: contrato
            }
          }).then(response => {
            if (response) {
              this.idContrato = response.contratoAdd.id;
              console.log('Se creo el nuevo contrato: ', this.idContrato);
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
              this.$store.commit('usuario/cleanForm');
              this.pdfCotizacion();
            }
          });
        }
      }
    },
    abrirRequisitos (id) {
      this.idUser = 0;
      this.$nextTick(() => {
        this.idUser = parseInt(id);
        this.$store.commit('openModal', 2);
      });
    },
    pdfCotizacion () {
      this.$service.post('system/cotizacion/pdf/' + this.idContrato)
        .then(response => {
          if (response) {
            console.log('pdffff', response);
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `planPagos-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    },

    generarCuotas (val, tipo) {
      val = parseInt(val);
      console.log('INGRESA A GENERAR CUOTAS valores: ', val, ' ', tipo);
      let cuotaInicial = parseInt(this.form.cuota_inicial);
      let total = parseInt(this.form.costo_colegiatura_aplicada) - this.form.monto_reserva;
      let saldo = total - cuotaInicial;
      this.mensajeCalculo = null;
      let montoCuotas = null;
      let nroCuotas = null;
      let nroMatriculas = 0;
      if (tipo === 'nro_cuotas') {
        if (val < parseInt(this.cuotas_min)) {
          this.mensajeCalculo = `La cuota mínima del plan de pagos es: ${this.cuotas_min}`;
        } else {
          if (val > parseInt(this.cuotas_max)) {
            this.mensajeCalculo = `La cuota máxima del plan de pagos es : ${this.cuotas_max}`;
          } else {
            if (val === 1) {
              montoCuotas = total;
              nroCuotas = 1;
            } else {
              montoCuotas = Math.round(saldo / (val - 1));
              nroCuotas = val - 1;
            }
            this.calculoNroCuotas = true;
            this.form.monto_cuotas = montoCuotas;
          }
        }
      }
      if (tipo === 'monto') {
        nroCuotas = Math.round(saldo / val);
        console.log('nroCuotas desde monto: ', nroCuotas);
        if (nroCuotas + 1 > this.cuotas_max) {
          let montoMinimo = parseInt(saldo / (this.cuotas_max - 1));
          this.mensajeCalculo = `EL monto  de ${val} Bolivianos es insuficiente. Ingresar un Monto superior o igual a: ${montoMinimo} Bs.`;
        } else {
          if (val > saldo && saldo !== 0) {
            this.mensajeCalculo = `EL monto de ${val} Bolivianos es superior al saldo. Ingresar un Monto menor o igual a ${saldo} Bs.`;
          } else {
            montoCuotas = val;
            this.calculoMontoCuotas = true;
            this.form.nro_cuotas = nroCuotas + 1;
          }
        }
      }
      let fechaVencimiento = this.$datetime.format(this.fecha_vencimiento + '');
      let fecha = this.$datetime.addMonth(this.$datetime.format(this.fecha_vencimiento + ''));
      total -= cuotaInicial;
      // Generar el monto cuotas
      if (!this.mensajeCalculo) {
        this.cuotas = [{
          gestion: fechaVencimiento.split('/')[2],
          numero: '1',
          concepto: 'Matrícula',
          monto: this.form.costo_matricula,
          saldo: '-',
          fecha: fechaVencimiento
        },
        {
          gestion: fecha.split('/')[2],
          numero: '101',
          concepto: 'Colegiatura',
          monto: cuotaInicial,
          saldo: total,
          fecha
        }];
      }
      nroMatriculas = nroMatriculas + 1;
      if (nroCuotas && saldo > 0 && !this.mensajeCalculo) {
        let nro = 101;
        for (let i = 1; i <= nroCuotas; i++) {
          if (i === nroCuotas && saldo > 0) {
            montoCuotas = saldo;
            saldo = 0;
          } else {
            saldo -= montoCuotas;
          }
          fecha = this.$datetime.addMonth(fecha);
          if (fecha.split('/')[1] === '01') {
            if (nroMatriculas < this.nro_matriculas) {
              nroMatriculas = nroMatriculas + 1;
              this.cuotas.push({
                numero: nroMatriculas,
                concepto: 'Matrícula',
                monto: this.form.costo_matricula,
                saldo: '-',
                gestion: fecha.split('/')[2],
                fecha
              });
              fecha = this.$datetime.addMonth(fecha);
              nro = nroMatriculas * 100;
            } else {
              nroMatriculas = nroMatriculas + 1;
              nro = nroMatriculas * 100;
            }
          }
          nro = nro + 1;
          this.cuotas.push({
            gestion: fecha.split('/')[2],
            numero: nro,
            concepto: 'Colegiatura',
            monto: montoCuotas,
            saldo,
            fecha
          });
        }
        while (nroMatriculas < this.nro_matriculas) {
          nroMatriculas = nroMatriculas + 1;
          fecha = this.$datetime.addYear(fecha);
          this.cuotas.push({
            gestion: fecha.split('/')[2],
            numero: nroMatriculas,
            concepto: 'Matrícula',
            monto: this.form.costo_matricula,
            saldo: '-',
            fecha
          });
        }
        /*  if (saldo > 0) {
          let item = this.cuotas[this.cuotas - 1];
          item.monto = item.monto + saldo;
          item.saldo = 0;
        } */
      }
      console.log('cuotas', JSON.parse(JSON.stringify(this.cuotas)));
    },
    pdfCartaAceptacion (idUsuario) {
      this.$service.post('system/carta_aceptacion/pdf/' + idUsuario)
        .then(response => {
          if (response) {
            console.log('carta de aceptación', response);
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `carta-aceptacion-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    },
    pdfContrato (idUsuario) {
      console.log('idUsuario:', idUsuario);
      this.$service.post('system/contrato/pdf/' + idUsuario)
        .then(response => {
          if (response) {
            console.log('pdffff', response);
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `contrato-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    },

    pdfContratoPago (idUsuario) {
      console.log('idUsuario:', idUsuario);
      this.$service.post('system/contratoPago/pdf/' + idUsuario)
        .then(response => {
          if (response) {
            console.log('pdffff', response);
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `contratoDePagos-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    },

    changeEstadoEstudiante (id, nombre, estadoEstudiante) {
      this.$service.graphql({
        query: `
        mutation actualizar ($id: ID!, $usuario: EditUsuario!) {
          usuarioUpdate(id: $id, usuario: $usuario) {
            id
          }
        }
        `,
        variables: {
          id,
          usuario: {
            estado: 'INACTIVO',
            estado_estudiante: estadoEstudiante
          }
        }
      }).then(response => {
        if (response) {
          this.$message.success(`¡Se dio de BAJA al Sr(a).  ${nombre} Satisfactoriamente!`, null, { timeout: 8000 });
          this.updateList();
        }
      });
    },

    cambiarEstado (item) {
      console.log('revisión', item);
      this.$confirm(`Dar de baja al Sr(a). ${item.persona.nombre_completo}?`, () => {
        this.changeEstadoEstudiante(item.id, item.persona.nombre_completo, 'BAJA');
      });
    },

    inscribir (item) {
      this.$confirm(`Inscribir al Sr(a). ${item.persona.nombre_completo}?`, () => {
        this.cEstadoEstudiante(item.id, item.persona.nombre_completo, 'INSCRITO', item);
        this.crearPagos(item);
      });
    },

    crearPagos (item) {
      let planPagos = this.cuotas;
      for (let item of planPagos) {
        let aNroCuota = parseInt(item.numero);
        let aMontoCuota = parseInt(item.monto);
        let aIdContrato = parseInt(this.idContrato);
        let fecha = item.fecha.split('/');
        let nuevaFecha = fecha[2] + '-' + fecha[1] + '-' + fecha[0];
        let pago = {
          nro_cuota: aNroCuota,
          monto_cuota: aMontoCuota,
          id_contrato: aIdContrato,
          fecha_vencimiento: nuevaFecha
        };
        if (this.idContrato) {
          this.$service.graphql({
            query: `
              mutation add($pago: NewPago) {
                pagoAdd(pago: $pago) {
                  id
                  nro_cuota
                  monto_cuota
                }
              }
            `,
            variables: {
              pago
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$store.commit('usuario/cleanForm');
            }
          });
        }
      }
    },
    cEstadoEstudiante (id, nombre, estadoEstudiante, item) {
      this.$service.graphql({
        query: `
        mutation actualizar ($id: ID!, $usuario: EditUsuario!) {
          usuarioUpdate(id: $id, usuario: $usuario) {
            id
          }
        }
        `,
        variables: {
          id,
          usuario: {
            estado_estudiante: estadoEstudiante,
            fecha_inscripcion: new Date()
          }
        }
      }).then(response => {
        if (response) {
          this.$message.success(`¡Se ha INSCRITO al Sr(a).  ${nombre} Satisfactoriamente!`, null, { timeout: 8000 });
          this.updateList();
          //  console.log('antes de las asignaciones ', this.idProg, this.idVer);
          this.getAsignaciones(id, this.idProg, this.idVer, item);
        }
      });
    },

    crearRecord (idP, idV, idB, idM, idD, item) {
      console.log('pruebas de crearRecords', item.id);
      let record = {};
      record.id_estudiante = parseInt(item.id);
      record.id_programa = parseInt(idP);
      record.id_version = parseInt(idV);
      record.id_bloque = parseInt(idB);
      record.id_modulo = parseInt(idM);
      record.id_docente = parseInt(idD);
      this.$service.graphql({
        query: `
          mutation add($record: NewRecord!) {
            recordAdd(record: $record) {
              id
            }
          }
        `,
        variables: {
          record: record
        }
      }).then(response => {
        if (response) {
          //  this.idContrato = response.contratoAdd.id;
          this.$store.commit('closeModal');
          this.updateList();
          // this.$message.success();
          this.$store.commit('usuario/cleanForm');
        }
      });
    },
    getAsignaciones (id, idPrograma, idVersion, item) {
      this.$service.graphql({
        query: `
          query asignacionDocentes {
            asignacionDocentes(id_programa: ${idPrograma}, id_version: ${idVersion}) {
              count
              rows {
                id
                modulo_ini
                modulo_fin
                id_modulo
                id_version
                id_bloque
                id_docente
                id_programa
              }
            }
          }`,
        variables: {}
      }).then(response => {
        if (response) {
          if (response.asignacionDocentes.count > 0) {
            this.asignaciones = response.asignacionDocentes.rows || [];
            console.log('OBTIENE ASIGNACIONES', this.asignaciones);
            for (let a of this.asignaciones) {
              //  console.log('datos:: ', a.id_programa, a.id_version, a.id_bloque,a.id_modulo,a.id_docente);
              this.crearRecord(a.id_programa, a.id_version, a.id_bloque, a.id_modulo, a.id_docente, item);
            }
            this.crearPlanPagos(id);
            console.log('despues del for de asignaciones');
          } else {
            this.getBloques(1, idPrograma, idVersion, item);
            this.crearPlanPagos(id);
          }
        }
      });
    },
    crearPlanPagos (id) {
      console.log('Crear plan de pagos - item: ', id);
      id = parseInt(id);
      console.log('id del pagos: ', id);
      this.$service.graphql({
        query: `
          query contratos ($id_usuario: Int){
            contratos (id_usuario: $id_usuario){
              count
              rows {
                id
                plan_pagos
              }
            }
          }
        `,
        variables: {
          id_usuario: id
        }
      }).then(response => {
        if (response) {
          console.log('Se encuentra el pla de pago', response.contratos.rows[0]);
          let ct = response.contratos.rows[0];
          console.log('plan pagos', ct.plan_pagos);
          for (let p of ct.plan_pagos) {
            let pago = {
              nro_cuota: parseInt(p.numero),
              monto_cuota: parseFloat(p.monto),
              fecha_vencimiento: p.fecha,
              id_contrato: parseInt(ct.id)
            };
            this.$service.graphql({
              query: `
                mutation add($pago: NewPago!) {
                  pagoAdd(pago: $pago) {
                    id
                  }
                }
              `,
              variables: {
                pago: pago
              }
            }).then(response => {
              if (response) {
                this.$store.commit('closeModal');
                this.updateList();
                // this.$message.success();
              }
            });
          }
          this.$store.commit('closeModal');
          // this.$store.commit('usuario/cleanForm');
        }
      });
    },
    getBloques (nroBloque, idPrograma, idVersion, item) {
      this.$service.graphql({
        query: `
        query bloque {
          bloques(numero: ${nroBloque}, id_programa:${idPrograma}){
            count
            rows {
              id
              numero
              nombre
              id_programa
            }
          }
        }`,
        variables: {}
      }).then(response => {
        if (response) {
          if (response.bloques.count > 0) {
            this.bloques = response.bloques.rows[0] || [];
            console.log('obtiene bloques', this.bloques.id);
            this.getModulos(this.bloques.id, 1, idPrograma, idVersion, item);
          }
        }
      });
    },
    getModulos (idBloque, nroModulo, idPrograma, idVersion, item) {
      this.$service.graphql({
        query: `
        query modulos{
          modulosprogramas(id_bloque: ${idBloque}, nro_modulo: ${nroModulo}) {
            count
            rows {
              id
              nro_modulo
              nombre
              tipo
            }
          }
        }
        `,
        variables: {}
      }).then(response => {
        if (response) {
          this.modulos = response.modulosprogramas.rows[0] || [];
          console.log('se tiene todos los datos para crear el record academico sin asignacion de docente: ', idPrograma, idVersion, this.bloques.id, this.modulos.id, this.modulos.tipo, item.id);
          if (this.modulos.tipo === 'SIMPLE') {
            this.crearRecord(idPrograma, idVersion, this.bloques.id, this.modulos.id, null, item);
          } else {
            for (let i = 1; i <= 2; i++) {
              this.crearRecord(idPrograma, idVersion, this.bloques.id, this.modulos.id, null, item);
              console.log('ingresa al for y asigna dos veces');
            }
          }
        }
      });
    }
  },
  watch: {
    'form.opcion_pago' (val) {
      console.log(val, this.opcionesPago);
      if (val) {
        for (let item of this.detalles.opciones_pagos) {
          if (item.opcion === val) {
            this.form.descuento = item.descuento;
            this.cuotas_min = item.cuotas_min;
            this.cuotas_max = item.cuotas_max;
            this.form.monto_descuento = parseInt((this.form.costo_colegiatura_total * item.descuento) / 100);
            this.form.costo_colegiatura_aplicada = parseInt(this.form.costo_colegiatura_total - this.form.monto_descuento);
            this.flagMensaje = true;
            this.form.cuota_uno = (Math.round((this.form.costo_colegiatura_aplicada * item.cuota_inicial) / 100));
            this.cuota_inicial = (Math.round((this.form.costo_colegiatura_aplicada * item.cuota_inicial) / 100) - this.form.monto_reserva);
            if (!this.flag) {
              this.form.cuota_inicial = (Math.round((this.form.costo_colegiatura_aplicada * item.cuota_inicial) / 100)) - this.form.monto_reserva;
              this.form.nro_cuotas = this.cuotas_min;
              this.calculoMontoCuotas = true;
              this.generarCuotas(this.cuotas_min, 'nro_cuotas');
            }
            this.flag = false;
            console.log('cuotas minima y maxima: ', this.cuotas_min, ' ', this.cuotas_max);
            break;
          }
        }
      }
    },

    'form.cuota_inicial' (val) {
      console.log('val: ', val, 'this.cuota_inicial:', this.cuota_inicial, 'FLAG MENSAJE:', this.flagMensaje);
      this.mensajeCalculo = null;
      if (val && !this.flagMensaje) {
        val = parseInt(val);
        if (val < parseInt(this.cuota_inicial)) {
          this.cuotas = [];
          this.form.nro_cuotas = null;
          this.form.monto_cuotas = null;
          this.mensajeCalculo = `La cuota inicial del plan de pagos ${this.form.opcion_pago} es : ${this.cuota_inicial} Bolivianos o superior.`;
        } else {
          if (val <= this.form.costo_colegiatura_aplicada) {
            this.cuotas = [];
            this.form.nro_cuotas = null;
            this.form.monto_cuotas = null;
            this.mensajeCalculo = `La cuota inicial del plan de pagos ${this.form.opcion_pago} es correcta! Por favor introducir el Numero de Cuotas o el Monto.`;
          } else {
            this.mensajeCalculo = `La cuota inicial del plan de pagos ${this.form.opcion_pago} es : ${this.cuota_inicial}  Bolivianos hasta ${this.form.costo_colegiatura_aplicada}`;
          }
        }
      }
      this.flagMensaje = false;
    },
    'form.nro_cuotas' (val) {
      if (val) {
        if (!this.calculoMontoCuotas) {
          this.generarCuotas(val, 'nro_cuotas');
        }
        this.calculoMontoCuotas = false;
      } else {
        this.cuotas = [];
      }
    },
    'form.monto_cuotas' (val) {
      if (val) {
        if (!this.calculoNroCuotas) {
          console.log('CALCULANDO MONTO CUOTAS');
          this.generarCuotas(val, 'monto');
        }
        this.calculoNroCuotas = false;
      } else {
        this.cuotas = [];
      }
    },
    'id_programa_search' (val) {
      this.show = false;
      this.$nextTick(() => {
        this.filters[4].value = parseInt(val.id);
        this.filters[5].value = parseInt(val.version.id);
        this.idProg = parseInt(val.id);
        this.idVer = parseInt(val.version.id);
        this.show = true;
      });
    }
  },
  components: {
    CrudTable,
    PersonaForm,
    EstudianteRequisito,
    LogDatos
  }
};
</script>