<template>
  <section>
    <h3 class="primary--text"><v-icon info>event</v-icon> AGENDA DE ENTREVISTAS </h3>
    <v-autocomplete
      :items="programas"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa"
      item-text="nombre"
      item-value="id"
    ></v-autocomplete>
    <v-autocomplete
      :items="versiones"
      class="uppercase"
      label="Seleccione una versión"
      v-show="versiones.length"
      v-model="id_version"
      return-object>
      <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title>{{ item.version }} / {{ item.gestion }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
      <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.version }} / {{ item.gestion }}
        </v-chip>
      </template>
    </v-autocomplete>
    <v-card v-if="show">
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :data-graphql="dataGraphqlAll"
          :widthModal="840"
        >
          <template slot="buttons">
            <v-btn @click="pdf">PDF</v-btn>
          </template>
          <template slot="form">
            <v-card-title class="headline">
              <v-icon>{{ 'event_available' }}</v-icon> {{' AGENDAR ENTREVISTA'}}
              <v-spacer></v-spacer>
              <v-btn icon @click="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation>
              <v-card-text class="pt-0">
                <v-container grid-list-md class="pt-0">
                  <h4>Datos Postulante</h4>
                   <v-layout row wrap>
                        <v-menu
                          v-model="menu1"
                          :close-on-content-click="false"
                          :nudge-right="40"
                          transition="scale-transition"
                          offset-y
                          min-width="290px"
                        >
                        <template v-slot:activator="{ on }">
                          <v-flex xs4>
                            <v-text-field
                              v-model="fecha_entrevista"
                              label="Fecha Entrevista"
                              prepend-icon="event"
                              readonly
                              v-on="on"
                            ></v-text-field>
                        </v-flex>
                        </template>
                        <v-date-picker v-model="fecha_entrevista" locale="es-bo" @input="menu1 = false" no-title scrollable></v-date-picker>
                        </v-menu>

                        <v-flex xs4>
                          <v-text-field
                            label="Hora Entrevista"
                            v-model="hora_entrevista"
                            id="hora_entrevista"
                            ></v-text-field>
                        </v-flex>

                        <v-flex xs4>
                          <v-text-field
                            label="Lugar Entrevista"
                            v-model="lugar_entrevista"
                            id="lugar_entrevista"
                            class="uppercase"
                            ></v-text-field>
                        </v-flex>
  
                  </v-layout> 
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn @click="$store.commit('closeModal');"><v-icon>cancel</v-icon> {{$t('common.cancel') }}</v-btn>
                <v-btn color="primary" type="submit"><v-icon>check</v-icon> {{$t('common.save') }}</v-btn>
              </v-card-actions>
            </v-form>
          </template>
          <template slot="labels">
            <div class="text-xs-right">Version</div>
          </template>
          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['usuarios:update']">
                <v-btn small
                  icon
                  slot="activator"
                  @click="editItem(items.item.id, 'usuario', dataGraphqlAll)">
                <v-icon  color="orange darken-2">event_available</v-icon> Agendar</v-btn>
                <span>Agendar Entrevista</span>
              </v-tooltip>              
            </td>
            <!--<td>
              <v-tooltip bottom v-if="$store.state.permissions['usuarios:update']">
                <v-switch
                  v-model="items.item.active"
                  value="ACTIVE"
                  v-if="username !== items.item.usuario"
                  @change="changeActivePostulante(items.item, items.item.id, 'usuario', 'EditUsuario', null, 'Update')"
                  hide-details
                  slot="activator"
                  color="success"></v-switch>
                <span>Activar/desactivar registro</span>
              </v-tooltip>
              <v-icon
                v-if="!$store.state.permissions['usuarios:update'] && username !== items.item.usuario"
                :color="items.item.active === 'ACTIVE' ? 'success' : 'error'">
                {{ items.item.active === 'ACTIVE' ? 'check' : 'close' }}
              </v-icon>
              <v-tooltip bottom>
                <router-link
                  to="/account"
                  v-if="username === items.item.usuario"
                  slot="activator">
                  <v-icon>person</v-icon>
                </router-link>
                <span>Este usuario soy yo, clic aquí para ir a mi cuenta.</span>
              </v-tooltip>
            </td>
            <td>
              <v-btn small
                icon
                :disabled="items.item.estado !== 'ACTIVO'"
                @click="pdfCartaAceptacion (items.item.id)">
                <v-icon color="blue darken-2">print</v-icon>
                <span>CARTA ACEPTACION</span>
                </v-btn>
            </td>-->
            <td class="nowrap">{{ items.item.persona.primer_apellido }} {{ items.item.persona.segundo_apellido }} {{ items.item.persona.nombres }}</td>
            <td>{{ items.item.tipo_contacto === 'C' ? 'CORREO ELECTRÓNICO' : 'TELÉFONO' }}</td>
            <td>{{ items.item.email }}</td>
            <td>{{ items.item.persona.movil }}</td>
            <td>{{ items.item.fecha_entrevista }}</td>
            <td>{{ items.item.hora_entrevista }}</td>
            <td>{{ items.item.lugar_entrevista }}</td>
            <!--<td>
              <v-chip label color="success" text-color="white" v-if="items.item.estado == 'ACTIVO'">
                <span>ADMITIDO</span>
              </v-chip>
              <v-chip label color="warning" text-color="white" v-if="items.item.estado == 'INACTIVO'">
                <span>NO ADMITIDO</span>
              </v-chip>
            </td>-->
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import Auth from '@/components/admin/auth/mixins/auth';
import validate from '@/common/mixins/validate';
import usuario from './mixins/usuario';
import listas from './mixins/listas';
import PersonaForm from '@/components/admin/persona/PersonaForm';
import LogDatos from '@/components/admin/usuario/LogDatos';
import token from '@/components/admin/modulo/mixins/token';

import { createHelpers } from 'vuex-map-fields';

const { mapFields } = createHelpers({
  getterType: 'usuario/getField',
  mutationType: 'usuario/updateField'
});

export default {
  mixins: [ crud, validate, Auth, usuario, token, listas ],
  created () {
    this.user = this.$storage.getUser();
    this.idDetallesprograma = this.user.id_detallesprograma;
    this.username = this.user.usuario;
    this.programas = [];
    this.getProgramas('programas');
  },
  data () {
    return {
      estadoEstudiante: 'POSTULANTE',
      logDatos: null,
      operadores: [],
      personaDatos: false,
      programas: [],
      versiones: [],
      show: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'usuarios',
      headers: [
        { text: 'Agendar Entrevista', sortable: false },
        //  { text: 'Aceptar Inscripción', sortable: false },
        //  { text: 'Carta de Aceptacion', sortable: false },
        { text: 'Nombre Completo', value: 'id_persona' },
        { text: 'Forma Contacto', value: 'tipo_contacto' },
        { text: this.$t('user.crud.email'), value: 'email' },
        { text: 'Número de Celular', value: 'movil' },
        { text: 'Fecha de Entrevista', value: 'fecha_entrevista' },
        { text: 'Hora Entrevista', value: 'hora_entrevista' },
        { text: 'Lugar Entrevista', value: 'lugar_entrevista' },
        { text: this.$t('user.crud.status'), value: 'estado' }
      ],
      queryVersiones: `
        query versiones($id: Int!) {
          detallesprogramas(id_programa: $id) {
            count
            rows {
              id
              version
              gestion
              id_programa
            }
          }
        }
      `,
      id_programa: null,
      id_version: null,
      dataGraphqlAll: `
        id
        usuario
        email
        ref_oferta
        id_entidad
        id_programa
        id_version
        tipo_contacto
        id_rol
        id_persona
        fecha_entrevista
        hora_entrevista
        lugar_entrevista
        estado
        persona {
          nombres
          primer_apellido
          segundo_apellido
          tipo_documento
          movil
          telefono
          nombre_completo
          fecha_nacimiento
        }
        entidad {
          nombre
        }
        rol {
          nombre
        }
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      form: {
        email: '',
        id_entidad: null,
        id_rol: null
      },
      filters: [
        /*  {
          field: 'id_rol',
          label: this.$t('user.crud.role'),
          type: 'hidden',
          typeG: 'ID',
          value: 5,
          items: []
        },  */
        {
          field: 'estado_estudiante',
          type: 'hidden',
          typeG: 'String',
          value: 'POSTULANTE'
        },
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_version',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'nombre_completo',
          label: this.$t('user.crud.fullname'),
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'estado',
          label: this.$t('user.crud.status'),
          type: 'select',
          typeG: 'EstadoUsuario',
          items: [
            { value: '', text: 'TODOS' },
            { value: 'ACTIVO', text: 'ACTIVO' },
            { value: 'INACTIVO', text: 'INACTIVO' }
          ]
        }
      ],
      menu1: false,
      hidePass: true,
      username: null,
      valid: true
    };
  },
  computed: {
    getIcon () {
      if (this.contrasena) {
        return this.contrasena.length === 0 ? 'lock' : this.hidePass ? 'visibility' : 'visibility_off';
      }
      return 'lock';
    },
    // Cargando datos del usuario del store
    ...mapFields([
      'form.id',
      'form.usuario',
      'form.email',
      'form.fecha_entrevista',
      'form.hora_entrevista',
      'form.lugar_entrevista',
      'form.estado_estudiante',
      'form.tipo_docente',
      'form.tipo_contacto',
      'form.id_universidad',
      'form.id_rol',
      'form.id_entidad',
      'form.id_persona',
      'form.nombre_completo'
    ])
  },
  watch: {
    'id_programa' () {
      this.getVersiones(parseInt(this.id_programa));
    },
    'id_version' () {
      //  this.getAsignaciones(parseInt(this.id_programa), parseInt(this.id_version.id));
      this.show = false;
      this.$nextTick(() => {
        this.filters[1].value = parseInt(this.id_programa);
        this.filters[2].value = parseInt(this.id_version.id || this.id_version);
        this.show = true;
      });
    }
  },
  methods: {
    pdf () {
      this.$service.post('system/entrevistas/pdf/' + this.estadoEstudiante + '/' + this.id_programa + '/' + this.id_version.id)
        .then(response => {
          if (response) {
            console.log('pdffff', response);
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `reporte-entrevistas-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    },
    pdfCartaAceptacion (idUsuario) {
      this.$service.post('system/carta_aceptacion/pdf/' + idUsuario + '/' + this.id_programa + '/' + this.id_version.id)
        .then(response => {
          if (response) {
            console.log('pdffff', response);
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `carta-aceptacion-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    },
    changeIcon () {
      if (this.contrasena && this.contrasena.length) {
        this.hidePass = !this.hidePass;
      }
    },
    getVersiones (id) {
      this.$service.graphql({
        query: this.queryVersiones,
        variables: {
          id
        }
      }).then(response => {
        if (response) {
          this.versiones = response.detallesprogramas.rows || [];
        }
      });
    },
    openModal (data = {}) {
      this.$refs.form.reset();
      this.$store.commit('setDate', { 'form.fecha_nacimiento': null });
      this.$store.commit('usuario/cleanForm');
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = {
            _user_created: data._user_created,
            _user_updated: data._user_updated,
            _created_at: data._created_at,
            _updated_at: data._updated_at
          };
          this.$store.commit('usuario/setForm', {
            id: data.id,
            usuario: data.usuario,
            email: data.email,
            cargo: data.cargo,
            g_academico: data.g_academico,
            ug_academico: data.ug_academico,
            carrera: data.carrera,
            id_universidad: data.id_universidad,
            id_programa: data.id_programa,
            id_version: data.id_version,
            ref_oferta: data.ref_oferta,
            ref_estudios: data.ref_estudios,
            idea_tesis: data.idea_tesis,
            estado_estudiante: data.estado_estudiante,
            tipo_contacto: data.tipo_contacto,
            fecha_entrevista: data.fecha_entrevista,
            hora_entrevista: data.hora_entrevista,
            lugar_entrevista: data.lugar_entrevista,
            tipo_docente: data.tipo_docente,
            estado: data.estado,
            id_entidad: data.id_entidad + '',
            id_rol: data.id_rol + '',
            id_persona: data.id_persona,
            tipo_documento: data.persona.tipo_documento,
            lugar_exp: data.persona.lugar_exp,
            lugar_nacimiento: data.persona.lugar_nacimiento,
            direccion: data.persona.direccion,
            tipo_documento_otro: data.persona.tipo_documento_otro,
            nro_documento: data.persona.nro_documento,
            fecha_nacimiento: data.persona.fecha_nacimiento,
            nombres: data.persona.nombres,
            primer_apellido: data.persona.primer_apellido,
            segundo_apellido: data.persona.segundo_apellido,
            nombre_completo: data.persona.nombre_completo,
            telefono: data.persona.telefono,
            movil: data.persona.movil,
            nacionalidad: data.persona.nacionalidad,
            pais_nacimiento: data.persona.pais_nacimiento,
            genero: data.persona.genero,
            estado_persona: data.persona.estado
          });
          if (data.persona.fecha_nacimiento) {
            this.$store.commit('setDate', { 'form.fecha_nacimiento': this.$datetime.transform(data.persona.fecha_nacimiento) });
          }
          this.personaDatos = false;
          this.$nextTick(() => {
            this.personaDatos = true;
          });
        });
      } else {
        this.personaDatos = true;
        this.$store.commit('usuario/cleanForm');
      }
      this.$store.commit('openModal');
    },
    save () {
      if (this.$refs.form.validate()) {
        let form = { ...this.$store.state.usuario.form };
        let data = {};
        data.id = form.id;
        data.nombres = form.nombres;
        data.primer_apellido = form.primer_apellido;
        data.segundo_apellido = form.segundo_apellido;
        data.fecha_entrevista = form.fecha_entrevista;
        data.hora_entrevista = form.hora_entrevista;
        data.lugar_entrevista = (form.lugar_entrevista || '').toUpperCase();
        if (data.id) {
          const id = data.id;
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $usuario: EditUsuario!) {
                usuarioUpdate(id: $id, usuario: $usuario) {
                  id
                }
              }
            `,
            variables: {
              id,
              usuario: data
            }
          }).then(response => {
            if (response) {
              if (this.username === this.usuario) {
                this.$message.warning('Sus datos fueron actualizados, debe ingresar de nuevo al sistema.');
                this.logout();
              } else {
                this.$store.commit('closeModal');
                this.updateList();
                this.$message.success('Se actualizó el registro correctamente');
                this.$store.commit('usuario/cleanForm');
              }
            }
          });
        }
      }
    }
  },
  components: {
    CrudTable,
    PersonaForm,
    LogDatos
  }
};
</script>
