<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> Universidades</h3>
    <v-card>
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :widthModal="800"
        >
          <template slot="buttons">
            <v-tooltip bottom v-if="$store.state.permissions['universidades:create']">
              <v-btn color="primary"
                @click.native.stop="openModal()"
                slot="activator">
                <v-icon>add</v-icon> {{$t('common.add') }}
              </v-btn>
              <span>Agregar Nueva Universidad</span>
            </v-tooltip>
          </template>

          <template slot="form">
            <v-card-title class="headline">
              <v-icon>business</v-icon> {{ form.id ? 'Editar universidad' : 'Agregar universidad' }}
              <v-spacer/>
              <v-btn icon @click.native="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation
              >
              <v-card-text class="pt-0">
                <v-container grid-list-md>
                  <h4>Datos generales</h4>
                     <v-layout wrap>
                    <v-flex xs8>
                      <v-text-field
                        name="nombre"
                        :label="$t('entity.crud.name')"
                        id="nombre"
                        class= "uppercase"
                        v-model="form.nombre"
                        autofocus
                        maxlength="150"
                        :rules="$validate(['required'])"
                        required
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs2>
                      <v-text-field
                        name="sigla"
                        :label="$t('entity.crud.acronym')"
                        class= "uppercase"
                        id="sigla"
                        v-model="form.sigla"
                        maxlength="100"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs2>
                      <v-select
                        :items="tiposDoc"
                        v-model="form.tipo"
                        label="Tipo Universidad"
                        item-text="text"
                        item-value="value"
                        :rules="$validate(['required'])"
                        required
                        class="required"
                    ></v-select>
                    </v-flex>
                    
                    <v-flex xs4>
                      <v-select
                        :items="paises"
                        v-model="form.pais"
                        label="País"
                        item-text="text"
                        item-value="value"
                        :rules="$validate(['required'])"
                        required
                        class="required"
                    ></v-select>
                    </v-flex>

                    <v-flex xs8>
                      <v-text-field
                        name="descripcion"
                        label="Región"
                        class= "uppercase"
                        id="descripcion"
                        v-model="form.descripcion"
                        maxlength="500"
                        :counter="500"
                        :rules="$validate(['required'])"
                        required
                      ></v-text-field>
                    </v-flex>
                 </v-layout>
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn
                  @click.native="$store.commit('closeModal');">
                  <v-icon>cancel</v-icon> {{$t('common.cancel') }}
                </v-btn>
                <v-btn
                  color="primary"
                  type="submit"
                  :disabled="!valid">
                  <v-icon>check</v-icon> {{$t('common.save') }}
                </v-btn>
              </v-card-actions>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['universidades:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="editItem(items.item.id, 'universidad', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['universidades:delete']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="deleteItem(items.item.id, 'universidad')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>
            </td>            
            <td>{{ items.item.nombre }}</td>
            <td>{{ items.item.sigla }}</td>
            <td>{{ items.item.tipo }}</td>
            <td>{{ items.item.descripcion }}</td>
            <td>{{ items.item.pais }}</td>
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
import paises from '@/common/mixins/paises';
export default {
  mixins: [ crud, validate, token, logDatos, paises ],
  created () {
    this.user = this.$storage.getUser();
    this.idUniversidad = this.user.id_universidad;
    let items = this.getPaises();
    let paises = [];
    let nacionalidades = [];
    items.map(item => {
      paises.push({value: item.pais, text: item.pais});
      nacionalidades.push({value: item.nacionalidad, text: item.nacionalidad});
    });
    this.paises = paises;
    this.nacionalidades = nacionalidades;
    console.log('this.paises', this.paises);
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_universidad, 'universidad', this.dataGraphql, false);
    }
  },
  data () {
    return {
      logDatos: null,
      successAlert: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'universidades',
      headers: [
        { text: this.$t('common.actions'), sortable: false },
        { text: 'Nombre', value: 'nombre' },
        { text: 'Sigla', value: 'sigla' },
        { text: 'Tipo', value: 'tipo' },
        { text: 'Región', value: 'descripcion' },
        { text: 'País', value: 'pais' }
      ],
      form: {
        nombre: '',
        sigla: '',
        tipo: '',
        descripcion: '',
        pais: ''
      },
      dataGraphql: `
        id
        nombre
        sigla
        descripcion
        tipo
        pais
        estado
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [
        {
          field: 'nombre',
          label: this.$t('entity.crud.name'),
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'sigla',
          label: this.$t('entity.crud.acronym'),
          type: 'text',
          typeG: 'String'
        }
      ],
      idUniversidad: null,
      valid: true,
      itemsFake: [
        {
          id: 1,
          nombre: 'UNIVERSIDAD MAYOR DE SAN ANDRES',
          sigla: 'UMSA',
          descripcion: 'La mejor',
          estado: 'ACTIVO'
        },
        {
          id: 2,
          nombre: 'UNIVERSIDAD DE LA CORDILLERA',
          sigla: 'UNIVCOR',
          descripcion: 'ninguno',
          estado: 'ACTIVO'
        },
        {
          id: 3,
          nombre: 'UNIVERSIDAD SAN FRANCISCO DE ASIS',
          sigla: 'USAF',
          descripcion: 'ninguno',
          estado: 'ACTIVO'
        },
        {
          id: 4,
          nombre: 'UNIVERSIDAD TECNICA DE ORURO',
          sigla: 'UTO',
          descripcion: 'ninguno',
          estado: 'ACTIVO'
        }
      ],
      tiposDoc: [
        { value: 'PUBLICA', text: 'PUBLICA' },
        { value: 'PRIVADA', text: 'PRIVADA' }
      ],
      paisList: [
        { value: 'AFGANISTÁN', text: 'AFGANISTÁN' },
        { value: 'ALBANIA', text: 'ALBANIA' },
        { value: 'ALEMANIA', text: 'ALEMANIA' },
        { value: 'ARGENTINA', text: 'ARGENTINA' },
        { value: 'BOLIVIA', text: 'BOLIVIA' },
        { value: 'BRASIL', text: 'BRASIL' }

      ]
    };
  },
  methods: {
    openModal (data = {}, form = true) {
      this.valid = true;
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.form = {
          nombre: '',
          sigla: '',
          descripcion: '',
          estado: ''
        };
      }
      if (form) {
        this.$store.commit('openModal');
      }
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        data.nombre = (data.nombre || '').toUpperCase();
        data.sigla = (data.sigla || '').toUpperCase();
        data.descripcion = (data.descripcion || '').toUpperCase();
        if (data.id) {
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $universidad: EditUniversidad!) {
                universidadEdit(id: $id, universidad: $universidad) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              universidad: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          data.estado = 'ACTIVO';
          this.$service.graphql({
            query: `
              mutation add($universidad: NewUniversidad!) {
                universidadAdd(universidad: $universidad) {
                  id
                }
              }
            `,
            variables: {
              universidad: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    },
    descargarTodo () {
      // TODO: Implementar función de sincronización con el portál único
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
