<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> Datos Generales</h3>
    <v-card>
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :widthModal="800"
        >
          <template slot="buttons">
            
            <v-tooltip bottom v-if="$store.state.permissions['datosgenerales:create']">
              <v-btn color="primary"
                @click.native.stop="openModal()"
                slot="activator">
                <v-icon>add</v-icon> {{$t('common.add') }}
              </v-btn>
              <span>Agregar Nuevo Dato General</span>
            </v-tooltip>
          </template>

          <template slot="form">
            <v-card-title class="headline">
              <v-flex xs9>
                <v-icon>business</v-icon> {{ form.id ? 'Editar Datos Generales' : 'Agregar Datos Generales' }}
              </v-flex>
              <v-flex xs2 text-md-right>
                <v-chip label color="success" text-color="white" v-if="form.estado == 'ACTIVO'">
                  {{ form.estado }}
                </v-chip>
                <v-chip label color="warning" text-color="white" v-if="form.estado == 'INACTIVO'">
                  {{ form.estado }}
                </v-chip>
              </v-flex>
              <v-flex xs1 text-md-right>
                <v-btn icon @click.native="$store.commit('closeModal')">
                  <v-icon>close</v-icon>
                </v-btn>
              </v-flex>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation
              >
              <v-card-text class="pt-0">
                <v-container grid-list-md>
                  <h4>Datos generales</h4>
                     <v-layout wrap>

                     <v-flex xs12>
                      <v-text-field
                        name="Gestion"
                        label="Gestión"
                        id="gestion"
                        v-model="form.gestion"
                        maxlength="50"
                        :rules="$validate(['required'])"
                        required
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs4>
                      <v-text-field
                        name="Acronimo Director"
                        label="Acrónimo"
                        autofocus
                        :rules="$validate(['required'])"
                        required
                        id="acronimo"
                        v-model="form.dir_acronimo"
                        maxlength="150"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs8>
                      <v-text-field
                        name="nombre director CIDES"
                        label="Nombre Director CIDES"
                        class="uppercase"
                        id="nom_director"
                        v-model="form.nom_director"
                        autofocus
                        maxlength="100"
                        :rules="$validate(['required'])"
                        required
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs12>
                      <v-text-field
                        name="descripcion director CIDES"
                        label="descripción director CIDES"
                        class="uppercase"
                        autofocus
                        id="dir_descripcion"
                        v-model="form.dir_descripcion"
                        maxlength="150"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs4>
                      <v-text-field
                        name="Acronimo Sub Director"
                        label="Acrónimo"
                        :rules="$validate(['required'])"
                        required
                        autofocus
                        id="acronimo"
                        v-model="form.subd_acronimo"
                        maxlength="150"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs8>
                      <v-text-field
                        name="nombre subdirector CIDES"
                        label="nombre subdirector CIDES"
                        class="uppercase"
                        id="nom_subdirector"
                        v-model="form.nom_subdirector"
                        autofocus
                        maxlength="150"
                        :rules="$validate(['required'])"
                        required
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs12>
                      <v-text-field
                        name="descripcion subdirector CIDES"
                        label="descripción subdirector CIDES"
                        class="uppercase"
                        id="sdir_descripcion"
                        v-model="form.sdir_descripcion"
                        maxlength="150"
                      ></v-text-field>
                    </v-flex>
                    
                    <v-flex xs6>
                      <v-text-field
                        name="correlativo No Deuda Financiera"
                        label="Correlativo No Deuda Financiera"
                        class="uppercase"
                        id="ccn_financiera"
                        v-model="form.ccn_financiera"
                        @keydown="$filter.integer($event)"
                        maxlength="150"
                      ></v-text-field>
                    </v-flex>
                    
                    <v-flex xs6>
                      <v-text-field
                        name="correlativo No Deuda Académica"
                        label="Correlativo No Deuda Académica"
                        class="uppercase"
                        id="ccm_academica"
                        v-model="form.ccm_academica"
                        @keydown="$filter.integer($event)"
                        maxlength="150"
                      ></v-text-field>
                    </v-flex>
                    
                     <v-flex xs6>
                      <v-text-field
                        name="Correlativo NO Deuda Académica Respaldos"
                        label="Correlativo NO Deuda Académica Respaldos"
                        class="uppercase"
                        id="ccn_academica"
                        v-model="form.ccn_academica"
                        @keydown="$filter.integer($event)"
                        maxlength="150"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs6>
                      <v-text-field
                        name="Correlativo Récord de Notas"
                        label="Correlativo Récord de Notas"
                        class="uppercase"
                        id="cr_notas"
                        v-model="form.cr_notas"
                        @keydown="$filter.integer($event)"
                        maxlength="150"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs6>
                      <v-text-field
                        name="Correlativo Carta de Aceptación"
                        label="Correlativo Carta de Aceptación"
                        class="uppercase"
                        id="cc_aceptacion"
                        v-model="form.cc_aceptacion"
                        @keydown="$filter.integer($event)"
                        maxlength="150"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs6>
                      <v-text-field
                        name="Correlativo recibo reserva"
                        label="Correlativo recibo reserva"
                        id="cnro_recibo"
                        class="uppercase"
                        v-model="form.cnro_recibo"
                        @keydown="$filter.integer($event)"
                        maxlength="150"
                      ></v-text-field>
                    </v-flex>
                 </v-layout>

                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
              <v-card-actions>
                <small class="error--text text-required">* Los campos son obligatorios</small>
                <v-spacer></v-spacer>
                <v-btn
                  @click.native="$store.commit('closeModal');">
                  <v-icon>cancel</v-icon> {{$t('common.cancel') }}
                </v-btn>
                <v-btn
                  color="primary"
                  type="submit"
                  :disabled="!valid">
                  <v-icon>check</v-icon> {{$t('common.save') }}
                </v-btn>
              </v-card-actions>
            </v-form>
          </template>

          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['datosgenerales:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="editItem(items.item.id, 'datosgeneral', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['datosgenerales:delete']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="deleteItem(items.item.id, 'datosgeneral')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>
            </td>
            <td>{{ items.item.gestion }}</td>            
            <td>{{ items.item.nom_director }}</td>
            <td>{{ items.item.dir_descripcion }}</td>
            <td>{{ items.item.nom_subdirector }}</td>
            <td>{{ items.item.sdir_descripcion }}</td>
            <td>{{ items.item.ccn_financiera }}</td>
            <td>{{ items.item.ccm_academica }}</td>
            <td>{{ items.item.ccn_academica }}</td>
            <td>{{ items.item.cr_notas }}</td>
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import logDatos from '@/components/admin/usuario/mixins/log-datos';

export default {
  mixins: [ crud, validate, token, logDatos ],
  created () {
    this.user = this.$storage.getUser();
    this.idDatosgeneral = this.user.id_datosgeneral;
  },
  mounted () {
    if (this.$util.isRol('ADMIN', 'USUARIO')) {
      this.editItem(this.user.id_datosgeneral, 'datosgeneral', this.dataGraphql, false);
    }
  },
  data () {
    return {
      logDatos: null,
      successAlert: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'datosgenerales',
      headers: [
        { text: this.$t('common.actions'), sortable: false },
        { text: 'Gestion', value: 'gestion' },
        { text: 'Nombre Director', value: 'nom_director' },
        { text: 'Descripción Director', value: 'dir_descripcion' },
        { text: 'Nombre Subdirector', value: 'nom_subdirector' },
        { text: 'Descripción Subdirector', value: 'sdir_descripcion' },
        { text: 'Correlativo NO Deuda Financiera', value: 'ccn_financiera' },
        { text: 'Correlativo NO Deuda Académica', value: 'ccm_academica' },
        { text: 'Correlativo NO Deuda Académica Respaldos', value: 'ccn_academica' },
        { text: 'Correlativo Récord de Notas', value: 'cr_notas' }
      ],
      form: {
        gestion: '',
        dir_acronimo: '',
        nom_director: '',
        dir_descripcion: '',
        subd_acronimo: '',
        nom_subdirector: '',
        sdir_descripcion: '',
        ccn_financiera: '',
        ccm_academica: '',
        ccn_academica: '',
        cr_notas: ''
      },
      dataGraphql: `
        id
        dir_acronimo
        nom_director
        dir_descripcion
        nom_subdirector
        subd_acronimo
        sdir_descripcion
        ccn_financiera
        ccm_academica
        ccn_academica
        cr_notas,
        cc_aceptacion
        cnro_recibo
        gestion
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [
        {
          field: 'gestion',
          label: 'Gestion',
          type: 'text',
          typeG: 'String'
        }
      ],
      idDatosgeneral: null,
      valid: true
    };
  },
  methods: {
    openModal (data = {}, form = true) {
      this.valid = true;
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.form = {
          gestion: '',
          nom_director: '',
          dir_descripcion: '',
          nom_subdirector: '',
          sdir_descripcion: '',
          ccn_financiera: '1',
          ccm_academica: '1',
          ccn_academica: '1',
          cr_notas: '1'
        };
      }
      if (form) {
        this.$store.commit('openModal');
      }
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        data.gestion = parseInt(data.gestion);
        data.ccn_financiera = parseInt(data.ccn_financiera);
        data.ccm_academica = parseInt(data.ccm_academica);
        data.ccn_academica = parseInt(data.ccn_academica);
        data.cr_notas = parseInt(data.cr_notas);
        data.cc_aceptacion = parseInt(data.cc_aceptacion);
        data.cnro_recibo = parseInt(data.cnro_recibo);
        data.nom_director = (data.nom_director || '').toUpperCase();
        data.dir_descripcion = (data.dir_descripcion || '').toUpperCase();
        data.nom_subdirector = (data.nom_subdirector || '').toUpperCase();
        data.sdir_descripcion = (data.sdir_descripcion || '').toUpperCase();
        if (data.id) {
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $datosgeneral: EditDatosgeneral!) {
                datosgeneralEdit(id: $id, datosgeneral: $datosgeneral) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              datosgeneral: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          this.$service.graphql({
            query: `
              mutation add($datosgeneral: NewDatosgeneral!) {
                datosgeneralAdd(datosgeneral: $datosgeneral) {
                  id
                }
              }
            `,
            variables: {
              datosgeneral: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    },
    descargarTodo () {
      // TODO: Implementar función de sincronización con el portál único
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
