<template>
  <section>
    <h3 class="primary--text"><v-icon info>settings_power</v-icon> ADMINISTRACION DE PROGRAMA </h3>
    <v-autocomplete
      :items="programas"
      label="Seleccione un Programa"
      id="programas"
      v-model="id_programa_search"
      item-text="nombre"
      item-value="id"
      return-object
    >
    <template v-slot:item="{ item }">
        <v-list-tile-content>
          <v-list-tile-sub-title>{{ item.nombre }} ({{item.version.periodo}}) / Versión:  {{ item.version.version }}</v-list-tile-sub-title>
        </v-list-tile-content>
      </template>
       <template v-slot:selection="{ item, selected }">
        <v-chip
          :selected="selected"
          color="blue-grey"
          class="white--text"
        >
          {{ item.nombre }} ({{item.version.periodo}}) / Versión: {{ item.version.version }} -> ESTADO ACTUAL: {{item.estado}}
 
       </v-chip>
      </template>)
    </v-autocomplete>
    <v-card v-if="show">
      <v-card-text>
         <table class="v-datatable v-table theme--light" >
            <v-btn  color="primary" @click="cambiarEstado('INICIO')" ><v-icon  small>touch_app</v-icon><strong>INICIAR PROGRAMA</strong></v-btn>
            <v-btn  color="blue" @click="cambiarEstado('CONCLUIDO')" ><v-icon  small>check_circle</v-icon><strong>CONCLUIR PROGRAMA</strong></v-btn>
            <v-btn  color="red" @click="cambiarEstado('CERRADO')" ><v-icon  small>cancel</v-icon><strong>CERRAR PROGRAMA</strong></v-btn>
        </table>
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import Auth from '@/components/admin/auth/mixins/auth';
import validate from '@/common/mixins/validate';
import listas from './mixins/listas';
import LogDatos from '@/components/admin/usuario/LogDatos';
import token from '@/components/admin/modulo/mixins/token';

import { createHelpers } from 'vuex-map-fields';

const { mapFields } = createHelpers({
  getterType: 'usuario/getField',
  mutationType: 'usuario/updateField'
});

export default {
  mixins: [ validate, Auth, token, listas ],
  created () {
    this.user = this.$storage.getUser();
    this.idDetallesprograma = this.user.id_detallesprograma;
    this.username = this.user.usuario;
    this.programas = [];
    this.getProgramas('programas');
  },
  data () {
    return {
      estadoEstudiante: 'POSTULANTE',
      logDatos: null,
      id_programa_search: null,
      operadores: [],
      personaDatos: false,
      programas: [],
      versiones: [],
      show: false,
      id_programa: null,
      id_version: null,
      filters: [
        {
          field: 'estado_estudiante',
          type: 'hidden',
          typeG: 'String',
          value: 'POSTULANTE'
        },
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'id_version',
          type: 'hidden',
          typeG: 'Int'
        },
        {
          field: 'nombre_completo',
          label: this.$t('user.crud.fullname'),
          type: 'text',
          typeG: 'String'
        }
      ],
      menu1: false,
      hidePass: true,
      username: null,
      valid: true
    };
  },
  computed: {
    getIcon () {
      if (this.contrasena) {
        return this.contrasena.length === 0 ? 'lock' : this.hidePass ? 'visibility' : 'visibility_off';
      }
      return 'lock';
    },
    // Cargando datos del usuario del store
    ...mapFields([
      'form.id',
      'form.usuario',
      'form.email',
      'form.fecha_entrevista',
      'form.hora_entrevista',
      'form.lugar_entrevista',
      'form.estado_estudiante',
      'form.tipo_docente',
      'form.tipo_contacto',
      'form.id_universidad',
      'form.id_rol',
      'form.id_entidad',
      'form.id_persona',
      'form.nombre_completo'
    ])
  },
  watch: {
    'id_programa_search' (val) {
      this.show = false;
      this.$nextTick(() => {
        this.filters[1].value = parseInt(val.id);
        this.filters[2].value = parseInt(val.version.id);
        this.id_programa = parseInt(val.id);
        this.id_version = parseInt(val.version.id);
        this.show = true;
      });
    }
  },
  methods: {
    iniciar () {
      this.$service.post('system/entrevistas/pdf/' + this.estadoEstudiante + '/' + this.id_programa + '/' + this.id_version + '/' + this.username)
        .then(response => {
          if (response) {
            /*  let reader = new FileReader();
            reader.onload = function(){
            var arrayBuffer  = reader.result;
            console.log('arraybuffer', arrayBuffer )
            };
            reader.readAsArrayBuffer(response); */
            console.log('pdffff', response);
            const link = document.createElement('a'); // <a href="">
            link.href = response;
            const d = new Date();
            link.setAttribute('download', `reporte-entrevistas-${d.getTime()}.pdf`);
            document.body.appendChild(link);
            link.click();
          }
        });
    },
    cambiarEstado (estadoPrograma) {
      let status = null;
      if (estadoPrograma === 'INICIO') {
        status = 'INICIAR';
      }
      if (estadoPrograma === 'CONCLUIDO') {
        status = 'CONCLUIR';
      }
      if (estadoPrograma === 'CERRADO') {
        status = 'CERRAR';
      }
      this.$confirm(`Esta seguro de ${status} el Programa?`, () => {
        this.changeEstadoPrograma(this.id_programa, estadoPrograma);
      });
    },
    changeEstadoPrograma (idPrograma, estadoPrograma) {
      this.$service.graphql({
        query: `
          mutation actualizar ($id: ID!, $programa: EditPrograma!) {
          programaEdit(id: $id, programa: $programa) {
            id
          }
        }`,
        variables: {
          id: idPrograma,
          programa: {
            estado: estadoPrograma
          }
        }
      }).then(response => {
        this.$message.success(`¡Se realizo el cambio de estado del programa a: ${estadoPrograma}!`, null, { timeout: 8000 });
      });
    }
  },
  components: {
    LogDatos
  }
};
</script>
