<template>
  <v-card class="crud-dialog">
    <v-card-title class="headline m-0">
      <v-icon>security</v-icon> Requisitos
      <v-spacer></v-spacer>
      <v-btn icon @click= "RefreshReqPrograma();"><v-icon>refresh</v-icon></v-btn>
      <v-btn icon @click="$store.commit('closeModal', 2)">
        <v-icon>close</v-icon>
      </v-btn>
    </v-card-title>
    <v-container grid-list-md fluid v-if ="requisito">
      <table class="v-datatable v-table theme--light">
        <tbody>
          <tr v-for="require in requisito" :key="require.id">  
            <td>
              <strong>{{ require.nombre }}</strong><br>
            </td>
              <td>
              <v-checkbox
                color="primary"
                hide-details
                class="mt-0"
                v-model="require.valor">
              </v-checkbox>
            </td>
          </tr>
        </tbody>    
      </table> 
    </v-container>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn @click="$store.commit('closeModal', 2)"> <v-icon>cancel</v-icon> Cancelar</v-btn>
      <v-btn color="primary" type="submit" @click= "saveReqPrograma();"><v-icon>check</v-icon> {{$t('common.save') }}</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script>
export default {
  props: {
    idPrograma: {
      type: Number,
      default: 0
    }
  },
  data () {
    return {
      switch1: true,
      requisito: null,
      programa: null,
      auxReq: null,
      actualiza: false,
      queryRequisitos: `
      query getConstantes {
        constantes(grupo: "REQUISITO"){
          count
          rows {
            id
            nombre
          }
        }
      }`,
      queryPrograma: `
      query programa($id: ID!){
        programa (id: $id){
          id
          nombre
          requisitos
        }
      }`
    };
  },
  created () {
    if (this.idPrograma) {
      this.getReqPrograma(this.idPrograma);
    }
  },

  methods: {
    getRequisitos () {
      console.log('prueba');
      this.$service.graphql({
        query: this.queryRequisitos,
        variables: {}
      }).then(response => {
        if (response) {
          this.requisito = response.constantes.rows;
          if (!this.programa.requisitos) {
            console.log('respuesta: ', response.constantes.rows);
            for (let item of this.requisito) {
              item.valor = false;
              console.log('ingresa', item.nombre);
            }
          }
        }
      });
    },

    updateRequisitos () {
      console.log('prueba');
      this.$service.graphql({
        query: this.queryRequisitos,
        variables: {}
      }).then(response => {
        if (response) {
          if (this.actualiza) {
            this.auxReq = response.constantes.rows;
            if (this.requisito.length !== this.auxReq.length) {
              console.log('auxRq:', this.auxReq, 'requisitos', this.requisito, this.requisito.length, this.auxReq.length);
              for (let aux of this.auxReq) {
                for (let item of this.requisito) {
                  if (item.id === aux.id && item.valor) {
                    aux.valor = true;
                    break;
                  }
                }
              }
              this.requisito = this.auxReq;
            } else {
              this.$message.warning('No existen requisitos para actualizar!');
            }
            this.actualiza = false;
          }
        }
      });
    },

    getReqPrograma (id) {
      console.log('programa');
      this.$service.graphql({
        query: this.queryPrograma,
        variables: {
          id: this.idPrograma
        }
      }).then(response => {
        if (response) {
          console.log('respuesta: ', response.programa);
          this.programa = response.programa;
          if (!this.programa.requisitos) {
            this.getRequisitos();
          } else {
            this.requisito = this.programa.requisitos;
          }
        } else {
          console.log('no encontro nada!!');
        }
      });
    },
    saveReqPrograma () {
      let data = {
        requisitos: this.requisito
      };
      console.log('mostrando informacion para guardar:', this.requisito);
      this.$service.graphql({
        query: `
          mutation edit($id: ID!, $programa: EditPrograma!) {
            programaEdit(id: $id, programa: $programa) {
              id
            }
          }
        `,
        variables: {
          id: this.idPrograma,
          programa: data
        }
      }).then(response => {
        if (response) {
          this.$message.success('Se actualizó el registro correctamente');
          this.$store.commit('closeModal', 2);
        }
      });
    },
    RefreshReqPrograma () {
      this.actualiza = true;
      this.updateRequisitos();
      /* this.AuxReq = this.requisito;
      console.log('auxRq:', this.AuxReq, 'requisitos', this.requisito);
      this.getRequisitos();
      console.log('auxRq:', this.AuxReq, 'requisitos', this.requisito);
      for (let item of this.requisito) {
        for (let aux of this.AuxReq) {
          if (aux.id === item.id && aux.valor) {
            console.log('compara');
            item.valor = true;
            console.log('item.valor', item.valor);
            break;
          }
        }
      }
      console.log('final:', this.requisito);  */
    }
  }
};
</script>