<template>
  <section>
    <!-- <h3 class="primary--text"><v-icon color="primary">business</v-icon>Bloques del Programa</h3> -->
    <v-card>
      <v-card-title class="headline m-0">
        <v-icon>security</v-icon> Bloques del programa
        <v-spacer></v-spacer>
        <v-btn icon @click="$store.commit('closeModal', 3)">
          <v-icon>close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-form
          @submit.prevent="save"
          v-model="valid"
          ref="form"
          lazy-validation
          >
            <v-container grid-list-md>
              <h4>Datos del Bloque</h4>
              <v-layout wrap>
                  
                <v-flex xs3>
                  <v-text-field
                    name="numero"
                    label="Nro. de Bloque"
                    id="numero"
                    v-model="form.numero"
                    maxlength="150"
                    :rules="$validate(['required'])"
                    required
                  ></v-text-field>
                </v-flex> 

                <v-flex xs5>
                  <v-text-field
                    name="nombre"
                    label="Nombre"
                    id="nombre"
                    class="uppercase"
                    v-model="form.nombre"
                    maxlength="150"
                    :rules="$validate(['required'])"
                    required
                  ></v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-btn
                    v-if="form.id"
                    @click="cancelar">
                    <v-icon>cancel</v-icon> Cancelar
                  </v-btn>
                  <v-btn
                    color="primary"
                    type="submit"
                    :disabled="!valid">
                    <v-icon>check</v-icon> {{ form.id ? 'Actualizar' : 'Agregar' }}
                  </v-btn>
                </v-flex>
              </v-layout>             
            </v-container>
        </v-form>
        <crud-table
          id-refresh="btn-refresh-bloque"
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :widthModal="800"
          v-if="idPrograma"
        >
          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['bloques:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="editItem(items.item.id, 'bloque', dataGraphql)">
                  <v-icon>edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip>
              <v-tooltip bottom v-if="$store.state.permissions['bloques:delete']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="deleteItem(items.item.id, 'bloque')">
                  <v-icon color="red">delete</v-icon>
                </v-btn>
                <span>Eliminar registro</span>
              </v-tooltip>

              <!-- <td>
              <v-btn
                icon
                @click="$router.push(`/moduloprograma/${items.item.id}`)">
                <v-icon color="orange darken-2">playlist_add</v-icon>
                </v-btn>
            </td> -->
            <td>{{ items.item.numero }}</td>
            <td>{{ items.item.nombre }}</td>
            <td>
              <v-chip label color="success" text-color="white" v-if="items.item.estado == 'ACTIVO'">
                {{ items.item.estado }}
              </v-chip>
              <v-chip label color="warning" text-color="white" v-if="items.item.estado == 'INACTIVO'">
                {{ items.item.estado }}
              </v-chip>
            </td>
          </template>
        </crud-table>        
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';

export default {
  props: {
    idPrograma: {
      type: Number,
      default: 0
    }
  },
  mixins: [ crud, validate, token ],
  created () {
    console.log('ID_PROGRAMA', this.idPrograma);
  },
  data () {
    return {
      successAlert: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'bloques',
      headers: [
        { text: this.$t('common.actions'), sortable: false },
        { text: 'Nro. de Bloque', value: 'numero' },
        { text: 'Nombre', value: 'nombre' }
      ],
      form: {
        nombre: ''
      },
      dataGraphql: `
        id
        numero
        nombre
      `,
      filters: [
        {
          field: 'nombre',
          label: this.$t('entity.crud.name'),
          type: 'text',
          typeG: 'String'
        },
        {
          field: 'id_programa',
          type: 'hidden',
          typeG: 'Int',
          value: this.idPrograma
        }
      ],
      valid: true
    };
  },
  methods: {
    openModal (data = {}) {
      this.$nextTick(() => {
        this.form = data;
      });
    },
    cancelar () {
      this.$refs.form.reset();
      this.form = {
        numero: '',
        nombre: ''
      };
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        data.numero = parseInt(data.numero);
        data.nombre = (data.nombre || '').toUpperCase();
        if (data.id) {
          delete data.id;
          this.$service.graphql({
            query: `
              mutation edit($id: ID!, $bloque: EditBloque!) {
                bloqueEdit(id: $id, bloque: $bloque) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              bloque: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList('btn-refresh-bloque');
              this.$message.success('Se actualizó el registro correctamente');
              this.cancelar();
            }
          });
        } else {
          data.id_programa = this.idPrograma;
          console.log('valor de idPrograma: ', this.idPrograma);
          this.$service.graphql({
            query: `
              mutation add($bloque: NewBloque!) {
                bloqueAdd(bloque: $bloque) {
                  id
                }
              }
            `,
            variables: {
              bloque: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList('btn-refresh-bloque');
              this.$message.success();
              this.cancelar();
            }
          });
        }
      }
    }
  },
  components: {
    CrudTable
  }
};
</script>
