<template>
  <section>
    <h3 class="primary--text"><v-icon color="primary">business</v-icon> Plan de Pagos</h3>
    <v-card>
      <v-card-text>
        <crud-table
          :headers="headers"
          :url="url"
          :filters="filters"
          :graphql="graphql"
          :data-graphql="dataGraphql"
          :widthModal="800"
        >
          <template slot="buttons">
            <v-btn  color="orange darken-2" @click="enviarPagos"> <v-icon small>send</v-icon> <strong>ENVIAR PLAN DE PAGOS SIA</strong></v-btn>
          </template>

          <template slot="form">
            <v-card-title class="headline">
              <v-icon>business</v-icon> {{ form.id ? 'Editar Pago' : 'Agregar Pago' }}
              <v-spacer/>
              <v-btn icon @click.native="$store.commit('closeModal')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-card-title>
            <v-form
              @submit.prevent="save"
              v-model="valid"
              ref="form"
              lazy-validation
              >
              <v-card-text class="pt-0">
                <v-container grid-list-md>
                  <h4>Datos Plan de Pagos</h4>
                  <v-layout wrap>
                    
                    <v-flex xs2>
                      <v-text-field
                        name="nro_cuota"
                        label="Nro. Cuota"
                        id="nro_cuota"
                        v-model="form.nro_cuota"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs2>
                      <v-text-field
                        label="Monto Cuota"
                        v-model="form.monto_cuota"
                        id="monto_cuota"
                        ></v-text-field>
                    </v-flex>

                    <v-flex xs2>
                      <v-text-field
                        label="Saldo Actual"
                        v-model="form.saldo_actual"
                        id="saldo_actual"
                        ></v-text-field>
                    </v-flex>

                    <v-flex xs2>
                      <v-text-field
                        label="Saldo Anterior"
                        v-model="form.saldo_anterior"
                        id="saldo_anterior"
                      ></v-text-field>
                    </v-flex>                     

                    <v-flex xs2>
                      <v-text-field
                        label="Fecha Pago"
                        v-model="form.fecha_pago" 
                        id="fecha_pago"
                      ></v-text-field>
                    </v-flex>

                    <v-flex xs2>
                      <v-text-field
                        label="Fecha Vencimiento"
                        v-model="form.fecha_vencimiento" 
                        id="fecha_vencimiento"
                        ></v-text-field>
                    </v-flex>
                 </v-layout>
                </v-container>
                <log-datos :data="logDatos" v-if="logDatos"></log-datos>
              </v-card-text>
            </v-form>
          </template>
          
          <template slot="items" slot-scope="items">
            <td class="nowrap">
              <v-tooltip bottom v-if="$store.state.permissions['pagos:update']">
                <v-btn
                  icon
                  slot="activator"
                  @click.native="editItem(items.item.id, 'pago', dataGraphqlAll)">
                  <v-icon  color="primary">edit</v-icon>
                </v-btn>
                <span>Editar registro</span>
              </v-tooltip> 
            </td>     
            <td class="nowrap">{{ items.item.nro_cuota}}</td>
            <td class="nowrap">{{ items.item.monto_cuota}}</td>
            <td class="nowrap">{{ items.item.saldo_actual}}</td>
            <td class="nowrap">{{ items.item.saldo_anterior}}</td>
            <td class="nowrap">{{ items.item.fecha_vencimiento}}</td>
            <td class="nowrap">{{ items.item.sia_fecha_pago}}</td>
            <td class="nowrap">{{ items.item.sia_factua}}</td>
            <td class="nowrap">{{ items.item.sia_codigo_control}}</td>
            <td class="nowrap">{{ items.item.sia_razon_social}}</td>
          </template>
        </crud-table>
      </v-card-text>
    </v-card>
  </section>
</template>
<script>

import CrudTable from '@/common/util/crud-table/CrudTable.vue';
import crud from '@/common/util/crud-table/mixins/crud-table';
import validate from '@/common/mixins/validate';
import token from '@/components/admin/modulo/mixins/token';
import LogDatos from '@/components/admin/usuario/LogDatos';
import Auth from '@/components/admin/auth/mixins/auth';
import logDatos from '@/components/admin/usuario/mixins/log-datos';
// import usuario from './mixins/usuario';
import listas from './mixins/listas';
export default {
  mixins: [ crud, validate, token, logDatos, listas, Auth, token ],
  created () {
    this.user = this.$storage.getUser();
    this.username = this.user.usuario;
    if (this.$route.params.id) {
      console.log('prueba del id de Contrato: ', this.$route.params.id);
      this.idPago = this.$route.params.id;
    } else {
      this.$router.push('/contratos');
    }
    this.programas = [];
    this.getProgramas('POSTULACION', 'programas');
  },
  data () {
    return {
      id_programa_search: null,
      logDatos: null,
      successAlert: false,
      show: false,
      graphql: true, // Definiendo el CRUD con Graphql
      url: 'pagos',
      headers: [
        { text: 'Acciones', value: '' },
        { text: 'Nro. Cuota', value: '' },
        { text: 'Monto Cuota', value: '' },
        { text: 'Saldo Actual', value: '' },
        { text: 'Saldo Anterior', value: '' },
        { text: 'Fecha de Vencimiento', value: '' },
        { text: 'Fecha Pago', value: '' },
        { text: 'Nro. Factura SIA', value: '' },
        { text: 'Codigo de Control SIA', value: '' },
        { text: 'Razón Social', value: '' }
      ],
      form: {
        nro_cuota: '',
        monto_cuota: '',
        saldo_actual: '',
        saldo_anterior: '',
        fecha_pago: ''
      },
      dataGraphql: `
        id
        nro_cuota
        monto_cuota
        saldo_actual
        saldo_anterior
        fecha_vencimiento
        sia_fecha_pago
        sia_factura
        sia_codigo_control
        sia_razon_social
        id_contrato
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      dataGraphqlAll: `
        id
        nro_cuota
        monto_cuota
        saldo_actual
        saldo_anterior
        fecha_vencimiento
        sia_fecha_pago
        sia_factura
        sia_codigo_control
        sia_razon_social
        id_contrato
        _user_created
        _user_updated
        _created_at
        _updated_at
      `,
      filters: [
        {
          field: 'id_contrato',
          type: 'hidden',
          typeG: 'Int',
          value: this.$route.params.id
        }
      ],
      idPago: null,
      valid: true
    };
  },
  methods: {
    openModal (data = {}, form = true) {
      this.valid = true;
      this.$refs.form.reset();
      this.logDatos = null;
      if (data.id) {
        this.$nextTick(() => {
          this.logDatos = this.getLogDatos(data);
          this.form = data;
        });
      } else {
        this.form = {
          opcion_pago: '',
          costo_colegiatura_total: ''
        };
      }
      if (form) {
        this.$store.commit('openModal');
      }
    },
    save () {
      if (this.$refs.form.validate()) {
        let data = Object.assign({}, this.form);
        if (data.id) {
          delete data.id;
          this.$service.graphql({
            query: `
             mutation edit($id: ID!, $pago: EditPago!) {
                pagoEdit(id: $id, pago: $pago) {
                  id
                }
              }
            `,
            variables: {
              id: this.form.id,
              pago: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success('Se actualizó el registro correctamente');
            }
          });
        } else {
          this.$service.graphql({
            query: `
               mutation add($pago: NewPago!) {
                pagoAdd(pago: $pago) {
                  id
                }
              }
            `,
            variables: {
              pago: data
            }
          }).then(response => {
            if (response) {
              this.$store.commit('closeModal');
              this.updateList();
              this.$message.success();
            }
          });
        }
      }
    },
    enviarPagos () {
      this.$service.post('system/pagos/ws/' + this.idPago + '/' + this.user.id)
        .then(response => {
          if (response) {
            console.log('ingresa a los servicios de pago y mostrar una alerta');
          }
        });
    }
  },
  watch: {
    'id_programa_search' (val) {
      this.show = false;
      this.$nextTick(() => {
        this.filters[1].value = parseInt(val.id);
        this.filters[2].value = parseInt(val.version.id);
        this.idProg = parseInt(val.id);
        this.idVer = parseInt(val.version.id);
        this.show = true;
      });
    }
  },
  components: {
    CrudTable,
    LogDatos
  }
};
</script>
